<!DOCTYPE html>
{% load google_analytics %}
<html ng-app="spyhop" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title ng-bind="'Spyhop - '+ $root.pageTitle"></title>

    <!--Favicons-->
    <link rel="shortcut icon" href="angular/images/favicon/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="angular/images/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="angular/images/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="angular/images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="angular/images/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="angular/images/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="angular/images/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="angular/images/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="angular/images/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="angular/images/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="angular/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="angular/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="angular/images/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="angular/images/favicon/android-chrome-192x192.png" sizes="192x192">
    <meta name="msapplication-square70x70logo" content="angular/images/favicon/smalltile.png" />
    <meta name="msapplication-square150x150logo" content="angular/images/favicon/mediumtile.png" />
    <meta name="msapplication-wide310x150logo" content="angular/images/favicon/widetile.png" />
    <meta name="msapplication-square310x310logo" content="angular/images/favicon/largetile.png" />

    <!--Bower component Plugin css-->
    <link href="angular/bower_components/AngularJS-Toaster/toaster.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/angular/bower_components/angularjs-slider/dist/rzslider.css"/>
    <link rel="stylesheet" href="angular/bower_components/ui-select/dist/select.min.css">
    <!-- <link rel="stylesheet" href="angular/bower_components/angular-modal/modal.css"> -->
    <link rel="stylesheet" href="/angular/bower_components/angular-google-places-autocomplete/src/autocomplete.css">
    <script src="angular/assets/js/jquery.min.js"></script>
    <link href="angular/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="angular/bootstrap/js/bootstrap.min.js"></script>

    <!-- Bootstrap core CSS -->
    <!-- Custom styles-->
    <link href="angular/css/spyhop.css" rel="stylesheet" type="text/css">
    <link href="angular/css/media.css" rel="stylesheet" type="text/css">
    <!--Contest Style--> 
    <link href="angular/css/bootstrap-chosen.css" rel="stylesheet" type="text/css">
    <link href="angular/css/bootstrap-slider.css" rel="stylesheet" type="text/css">
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
    <script src="https://rawgit.com/dbrekalo/attire/master/dist/js/build.min.js"></script>
    <!--<link rel="stylesheet" href="/angular/assets/css/login.css" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="/angular/plugins/jquery-nice-select-1.0/css/nice-select.css">-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!--    <link rel="stylesheet" type="text/css" href="angular/bower_components/angular-timer/dist/assets/css/angular-timer-bower.css" />-->

    <script type="text/javascript" src="angular/bower_components/angular-timer/dist/assets/js/angular-timer-bower.js"></script>
    <script type="text/javascript"
	    src="angular/bower_components/angular-timer/dist/assets/js/angular-timer-all.min.js"></script>

    <script type="text/javascript" src="angular/bower_components/momentjs/min/moment.min.js"></script>
    <script type="text/javascript" src="angular/bower_components/momentjs/min/locales.min.js"></script>
    <script type="text/javascript" src="angular/bower_components/humanize-duration/humanize-duration.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit"
            async defer>
    </script>
    <script type="text/javascript"
            src="angular/bower_components/angular-recaptcha/release/angular-recaptcha.min.js">
    </script>

    <![endif]-->

    {% google_analytics %}

  </head>

  <body class="" ng-app="spyhop" ng-controller="MainCrtl">
    <header>

      <toaster-container  toaster-options="{'close-button': true}"></toaster-container>

<!--      <a ng-if="$root.isUserLoggedIn"-->
<!--         href="#right-menu"-->
<!--         id="right-menu"-->
<!--         ng-cloak>-->
<!--        <span class="glyphicon glyphicon-user"-->
<!--              aria-hidden="true">-->
<!--        </span>-->
<!--      </a>-->

<!--      <div id="sidr-right"></div>-->

      <!-- DL: Top Navigation Bar -->
      
      <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
          <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand brand-custom" ui-sref="home"><img src="angular/images/spyhop.png" style=" padding-top: 10px;"></a>
              </div>
              
   
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <form ng-submit="searchQuery()" class="navbar-form navbar-left" role="search">
                    <div class="form-group form-group-custom">
                        <input id="clear" ng-model="query" type="text" class="form-control rounded-searchbar" placeholder="videos, requests..." width=500px>
                       <span ng-click="searchQuery()" class="glyphicon srch-lns glyphicon-search"></span>
                       <!--<input type="text" class="typeahead" ng-model='query' placeholder="Search" ng-change="demo(q)">-->
                    </div>
                </form>
            <ul class="nav navbar-nav navbar-right">
               <li class="active"><a ng-if=!$root.isUserLoggedIn id='login_link' data-toggle="modal" data-target="#myModal">Sign in</a></li>
               <li><a ng-if=!$root.isUserLoggedIn id="signup_link" data-toggle="modal" data-target="#sign_up">Sign up</a></li>
               <li><a ui-sref="create_contest"><span class="glyphicon glyphicon-plus"></span></a></li>
               <li><a ui-sref="cart">
                   <span class="glyphicon glyphicon-shopping-cart"></span>
                   <span class="badge badge-orange" ng-bind="$root.cart.item_count" ng-if="$root.cart.item_count>0"></span>
                </a>
               </li>
               <li ng-if="$root.isUserLoggedIn">
                   <a id="dLabel"
                       ng-click="getNotifications()"
                       role="button"
                       data-toggle="dropdown"
                       data-target="#"
                       href="/page.html">
                       <span class="glyphicon glyphicon-bell"></span>
                       <span class="badge badge-orange" ng-bind="$root.notification_count" ng-if="$root.notification_count>0"></span>
                   </a>
                   <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
                       <div class="notification-heading">
                           <h4 class="menu-title">Notifications</h4>
                           <!--<h4 class="menu-title pull-right"><a ng-click="mark_all()">Mark all as read<i class="glyphicon glyphicon-circle-arrow-right"></i></a></h4>-->
                       </div>
                       <li class="divider"></li>
                       <div class="notifications-wrapper">
                           <a class="content" href="#" ng-repeat="notification in $root.notifications.results">
                               <div class="notification-item" ng-class="{'notification-unread': notification.unread === false}">
                                   <h4 class="item-title" ng-bind="notification.notification"></h4>
                                   <p ng-bind="notification.time" class="item-info"></p>
                               </div>
                           </a>
                       </div>
                       <li class="divider"></li>
                       <div class="notification-footer">
                           <h4 class="menu-title"><a ui-sref="notification_list">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></a></h4>
                       </div>
                   </ul>
               </li>
               <li><a ng-if=$root.isUserLoggedIn id="account_info" role="button" data-toggle="dropdown" href="#" aria-expanded="false">
                   <span class="glyphicon glyphicon-user"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="account_info">
                        <div class="account-heading">
                            <h4 class="menu-title">Acccount</h4>
                        </div>
                        <li><a ui-sref="profile">Portfolio</a></li>
                        <li><a ui-sref="profile_edit">Settings</a></li>
                        <li><a ng-click="logOut()" id="logout_link">Logout</a></li>
                    </ul>
               </li>
           </ul>
        </div>
        </div>
      </nav>
    </header>
          
          
        <!--
        <button type="button"
        onclick="$.sidr('close', 'sidr-right');">
        <span class="glyphicon glyphicon-remove-circle"
        aria-hidden="true">
        </span>
        </button>
        -->
<!--        -->
<!--        <div class="sidebar-header">-->
<!--          <div class="user-info">-->
<!--            <span class="name" ng-bind="$root.loggedUser.first_name"></span>-->
<!--            <span class="sh-badge sh-badge-level explorer" ng-bind="$root.loggedUser.level"></span>-->
<!--          </div>-->
<!--        </div>-->
<!---->
<!--        <ul id="sh-sidebar-nav" class="unstyled">-->
<!--          -->
          <!--<li><a href="#">Activity </a></li>-->
<<<<<<< HEAD
          <li><a ui-sref="profile">Portfolio</a></li>
          <!-- <li><a ui-sref="terms_and_conditions">Review</a></li> -->
          <!--<li><a href="#">Payouts</a></li>-->
          <li><a ui-sref="profile_edit">Settings</a></li>
          <li><a ng-click="logOut()">Logout</a></li>

        </ul>


      </div>

      <div class="container-fluid">
        <div class="row remove-padd1">
          <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand brand-custom" ui-sref="home">
                  <img src="angular/images/spyhop.png">
                </a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="active"></li>
                  <li></li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                      <span class="glyphicon glyphicon-menu-hamburger hamburger-icn"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a ui-sref="how_it_works">How It Works</a>
                      </li>
                      <li>
                        <a ui-sref="videos">Videos</a>
                      </li>
                      <li>
                        <a ui-sref="about_us">About Us</a>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <a ui-sref="create_contest">Create Contest</a>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <a href="#">Trending</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <form ng-submit="searchQuery()"
                      class="navbar-form navbar-left nav-top-custom"
                      role="search">
                  <div class="form-group form-group-custom">
                    <span ng-click="searchQuery()"
                          class="glyphicon srch-lns glyphicon-search">
                    </span>
                    <!-- <input id="clear"
                    ng-model="query"
                    type="text"
                    class="form-control rounded-searchbar"
                    placeholder="videos..."> -->
                    <input type="text"
                           data-provide="typeahead"
                           uib-typeahead="recommentation for recommentation in recommentations |
                                          filter:$viewValue"
                           class="form-control rounded-searchbar drop-select"
                           ng-model='query'
                           typeahead-on-select="searchTermSelected($item, $model, $label, $event)"
                           typeahead-should-select="searchTermShouldSelect($event)"
                           placeholder="Search videos...">
                  </div>
                  <!-- <button type="submit" class="btn btn-default btn-orange">
                  Submit
                  </button> -->
                </form>
                <ul class="nav navbar-nav navbar-right" ng-cloak>
                  <li>
                    <a ng-if=!$root.isUserLoggedIn
                       id='login_link'
                       data-toggle="modal"
                       data-target="#myModal">
                      Login
                    </a>
=======
<!--          <li><a ui-sref="profile">Portfolio</a></li>-->
          <!--<li><a href="#">Requests</a></li>-->
          <!--<li><a href="#">Payouts</a></li>-->
<!--          <li><a ui-sref="profile_edit">Settings</a></li>-->
<!--          <li><a ng-click="logOut()">Logout</a></li>-->
<!---->
<!--        </ul>-->
<!---->
<!---->
<!--      </div>-->
<!---->
<!--      <div class="container-fluid">-->
<!--        <div class="row remove-padd1">-->
<!--          <nav class="navbar navbar-default" role="navigation">-->
<!--            <div class="container-fluid">-->
<!--              <div class="navbar-header">-->
<!--                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
<!--                  <span class="sr-only">Toggle navigation</span>-->
<!--                  <span class="icon-bar"></span>-->
<!--                  <span class="icon-bar"></span>-->
<!--                  <span class="icon-bar"></span>-->
<!--                </button>-->
<!--                <a class="navbar-brand brand-custom" ui-sref="home">-->
<!--                  <img src="angular/images/spyhop.png">-->
<!--                </a>-->
<!--              </div>-->
<!--              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
<!--                <ul class="nav navbar-nav">-->
<!--                  <li class="active"></li>-->
<!--                  <li></li>-->
<!--                  <li class="dropdown">-->
<!--                    <a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-menu-hamburger hamburger-icn"></span> </a>-->
<!--                    <ul class="dropdown-menu">-->
<!--                      <li>-->
<!--                        <a ui-sref="how_it_works">How It Works</a>-->
<!--                      </li>-->
<!--                      <li>-->
<!--                        <a ui-sref="videos">Videos</a>-->
<!--                      </li>-->
<!--                      <li>-->
<!--                        <a ui-sref="about_us">About Us</a>-->
<!--                      </li>-->
<!--                      <li class="divider"></li>-->
<!--                      <li>-->
<!--                        <a ui-sref="create_contest">Create Contest</a>-->
<!--                      </li>-->
<!--                      <li class="divider"></li>-->
<!--                      <li>-->
<!--                        <a href="#">Trending</a>-->
<!--                      </li>-->
<!--                    </ul>-->
<!--                  </li>-->
<!--                </ul>-->
<!--                <form ng-submit="searchQuery()" class="navbar-form navbar-left nav-top-custom" role="search">-->
<!--                  <div class="form-group form-group-custom">-->
<!--                    <span ng-click="searchQuery()" class="glyphicon srch-lns glyphicon-search"></span>-->
<!--                    <input id="clear" ng-model="query" type="text" class="form-control rounded-searchbar" placeholder="videos, requests...">-->
                    <!--<input type="text" class="typeahead" ng-model='query' placeholder="Search" ng-change="demo(q)">-->
<!--                  </div>-->
<!--                  <button type="submit" class="btn btn-default btn-orange">Submit</button>-->
<!--                </form>-->
<!--                <ul class="nav navbar-nav navbar-right" ng-cloak>-->
<!--                  <li>-->
<!--                    <a ng-if=!$root.isUserLoggedIn-->
<!--                       id='login_link'-->
<!--                       data-toggle="modal"-->
<!--                       data-target="#myModal">-->
<!--                      Login-->
<!--                    </a>-->
>>>>>>> 955d0cc460eb11e25e6f7fdd021b02e7404ea1f4
                    <!--<a ng-if=$root.isUserLoggedIn ng-click="logOut()" id="logout_link">LogOut</a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a ng-if=!$root.isUserLoggedIn-->
<!--                       id="signup_link"-->
<!--                       data-toggle="modal"-->
<!--                       data-target="#sign_up">-->
<!--                      Sign up-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a ui-sref="create_contest"><span class="glyphicon glyphicon-plus"></span></a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a ui-sref="cart">-->
<!--                      <span class="glyphicon glyphicon-shopping-cart"></span>-->
<!--                      <span class="badge badge-orange"-->
<!--                            ng-bind="$root.cart.item_count"-->
<!--                            ng-if="$root.cart.item_count>0">-->
<!--                      </span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li ng-if="$root.isUserLoggedIn">-->
                    <!--<a><span class="glyphicon glyphicon-bell"></span>
                    <span class="badge badge-orange" ng-bind="$root.notifications.count"></span></a>-->
<!--                    <a id="dLabel"-->
<!--                       ng-click="getNotifications()"-->
<!--                       role="button"-->
<!--                       data-toggle="dropdown"-->
<!--                       data-target="#"-->
<!--                       href="/page.html">-->
<!--                      <span class="glyphicon glyphicon-bell"></span>-->
<!--                      <span class="badge badge-orange"-->
<!--                            ng-bind="$root.notification_count"-->
<!--                            ng-if="$root.notification_count>0">-->
<!--                      </span>-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">-->
<!--                      <div class="notification-heading">-->
<!--                        <h4 class="menu-title">Notifications</h4>-->
                        <!--<h4 class="menu-title pull-right"><a ng-click="mark_all()">
                        Mark all as read<i class="glyphicon glyphicon-circle-arrow-right"></i></a></h4>
                        -->
<!--                      </div>-->
<!--                      <li class="divider"></li>-->
<!--                      <div class="notifications-wrapper">-->
<!--                        <a class="content"-->
<!--                           href="#"-->
<!--                           ng-repeat="notification in $root.notifications.results">-->
<!--                          <div class="notification-item"-->
<!--                               ng-class="{'notification-unread': notification.unread === false}">-->
<!--                            <h4 class="item-title"-->
<!--                                ng-bind="notification.notification">-->
<!--                            </h4>-->
<!--                            <p ng-bind="notification.time"-->
<!--                               class="item-info">-->
<!--                            </p>-->
<!--                          </div>-->
<!--                        </a>-->
<!--                      </div>-->
<!--                      <li class="divider"></li>-->
<!--                      <div class="notification-footer">-->
<!--                        <h4 class="menu-title">-->
<!--                          <a ui-sref="notification_list">-->
<!--                            View all-->
<!--                            <i class="glyphicon glyphicon-circle-arrow-right"></i>-->
<!--                          </a>-->
<!--                        </h4>-->
<!--                      </div>-->
<!--                    </ul>-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div>-->
<!--          </nav>-->
<!--        </div>-->
<!--      </div>-->
<!--    </header>-->
    
    
    
    <!--main banner section-->
    <div ui-view="" >
      <div class="spinner"></div>
    </div>
    <footer class="foot">
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-md-9">-->
<!--            <div class="col-md-3">-->
<!--              <h3>-->
<!--                <h5 class="foot-heads">About</h5>-->
<!--              </h3>-->
<!--              <ul class="footlinks">-->
<!--                <li>How it Works?</li>-->
<!--                <li>Our Story</li>-->
<!--                <li>Press</li>-->
<!--                <li>Our Blog</li>-->
<!--                <li>iOS App</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="col-md-3">-->
<!--              <h3>-->
<!--                <h5 class="foot-heads">Support</h5>-->
<!--              </h3>-->
<!--              <ul class="footlinks">-->
<!--                <li><a ui-sref="how_it_works">How it Works?</a></li>-->
<!--                <li>Our Story</li>-->
<!--                <li>Press</li>-->
<!--                <li><a ui-sref="privacy_policy">Privacy Policy</a>-->
<!--                </li>-->
<!--                <li><a ui-sref="contact_us"> Contact Us</a>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="col-md-3">-->
<!--              <h3>-->
<!--                <h5 class="foot-heads">video buyers</h5>-->
<!--              </h3>-->
<!--              <ul class="footlinks">-->
<!--                <li>How it Works?</li>-->
<!--                <li>Our Story</li>-->
<!--                <li>Press</li>-->
<!--                <li>Our Blog</li>-->
<!--                <li>iOS App</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="col-md-3">-->
<!--              <h3>-->
<!--                <h5 class="foot-heads">videographers</h5>-->
<!--              </h3>-->
<!--              <ul class="footlinks">-->
<!--                <li>How it Works?</li>-->
<!--                <li>Our Story</li>-->
<!--                <li>Press</li>-->
<!--                <li>Our Blog</li>-->
<!--                <li>iOS App</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-3">-->
<!--            <div class="col-md-12">-->
<!--              <h3>-->
<!--                <h5 class="foot-heads">download apps</h5>-->
<!--              </h3>-->
<!--              <ul class="footlinks">-->
<!--                <li>-->
<!--                  <img src="angular/images/apple.png" />-->
<!--                </li>-->
<!--                <li>-->
<!--                  <img src="angular/images/google.png" />-->
<!--                </li>-->
<!--                <li>-->
<!--                  <img src="angular/images/amazon.png" />-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      <div class="container footer-social">
        <div class="row">
          <div class="foot-bottom">
              <div class="col-lg-9 col-md-7 col-sm-6 col-xs-12 foot-left">
                  <b>© SpyHop, Inc.</b>
              </div>
            <div class="col-lg-3 col-md-5 col-sm-6 col-xs-12 foot-right">
              <ul class="social-bttm">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-pinterest-p"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- sign in Modal -->
    <div class="modal fade login_popup"
         id="myModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button id="login_close"
                    type="button"
                    class="close login_close"
                    data-dismiss="modal"
                    aria-label="Close"
                    ng-click="clearForm(loginForm)">
              <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="modal-title" id="myModalLabel">LOGIN</h3>
            <h5>Sign In using your Email and Password</h5>
          </div>
          <div class="modal-body">
            <form name="loginForm"
                  class="login_form"
                  novalidate
                  ng-submit="loginForm.$valid && loginSubmit()">
              <p class="text-danger"
                 ng-bind="general_error"
                 ng-show="general_error">
                <i class="text-warning fa fa-exclamation-triangle"></i>
              </p>
              <div class="form-group"
                   ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine, 
                             'has-success' : loginForm.email.$valid && !loginForm.email.$pristine}">
                <input type="email"
                       id="id_email"
                       ng-keydown="clearServeremailValidationLogin()"
                       name="email"
                       required
                       ng-model="email"
                       class="form-control"
                       placeholder="Email">
              </div>
              <span class="text-danger"
                    ng-show="(loginForm.email.$invalid && !loginForm.email.$pristine) ||
                             (loginForm.email.$invalid && login_submitted)">
                <i class="text-warning fa fa-exclamation-triangle"></i>
                Enter a valid email
              </span>
              <div class="form-group"
                   ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine, 
                             'has-success' : loginForm.password.$valid && !loginForm.password.$pristine}">
                <input type="password"
                       id="Password"
                       name="password"
                       required ng-model="password"
                       class="form-control"
                       placeholder="Password">
                <span class="text-danger"
                      ng-show="((loginForm.password.$invalid && !loginForm.password.$pristine) ||
                               (loginForm.password.$invalid && login_submitted)) &&
                               !general_error">
                  <i class="text-warning fa fa-exclamation-triangle"></i>
                  Enter a valid password
                </span>
              </div>
              <button type="submit"
                      ng-click="login_submitted=true;"
                      class="btn form_login_btn"
                      id="login_submit"
                      ng-disabled="loginForm.$invalid">
                Submit
              </button>
              <p>
                <a ui-sref="forgot_password"
                   ng-click="sameStateResetPassword()"
                   class="reset_label">
                  Password Reset
                </a>
              </p>
              <p class="login_seperation">or</p>
              <button class="fb_login_btn form-group"
                      ng-click="authenticate('facebook')">
                Login using Facebook
              </button>
              <button class="instagram_login_btn form-group"
                      ng-click="authenticate('instagram')">
                Login using Instagram
              </button>
              <button class="twitter_login_btn form-group"
                      ng-click="authenticate('twitter')">
                Login using Twitter
              </button>
              <button class="gplus_login_btn"
                      ng-click="authenticate('google')">
                Login using Google+
              </button>
              <p class="sign_up_link">
                Don't have an account yet?
                <a data-toggle="modal"
                   ng-click="loginSignUpClick()"
                   data-target="#sign_up">
                  Sign up
                </a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- sign up Modal -->
    <div class="modal fade login_popup"
         id="sign_up"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button id="signup_close"
                    type="button"
                    class="close login_close"
                    data-dismiss="modal"
                    aria-label="Close"
                    ng-click="clearForm(signupForm)">
              <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="modal-title" id="myModalLabel">Create Account</h3>
            <h5>Sign Up using following mandatory fileds</h5>
          </div>
          <div class="modal-body">
            <form name="signupForm"
                  class="login_form"
                  novalidate
                  ng-submit="signupForm.$valid && signupSubmit()">
              <p ng-show="signupForm.$error"></p>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <input type="text"
                           class="form-control"
                           ng-pattern="/^[a-zA-Z ]*$/"
                           ng-model="form.first_name"
                           maxlength="30"
                           name="first_name"
                           id="first_name"
                           placeholder="First name"
                           required>
                    <!--<span ng-repeat="first_name_error in signupErrors.first_name"
                    class="text-danger"><i class="text-warning fa fa-exclamation-triangle"></i>
                    Enter a valid first name</span>-->
                    <span class="text-danger"
                          ng-show="(signupForm.first_name.$invalid &&
                                   !signupForm.first_name.$pristine) ||
                                   (signupForm.first_name.$invalid && submitted)">
                      <i class="text-warning fa fa-exclamation-triangle"></i>
                      Enter a valid name(Max-30)
                    </span>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <input type="text"
                           class="form-control"
                           ng-pattern="/^[a-zA-Z ]*$/"
                           ng-model="form.last_name"
                           maxlength="30"
                           name="last_name"
                           id="last_name"
                           placeholder="Last name"
                           required>
                    <!--<span ng-repeat="last_name_error in signupErrors.last_name"
                    class="text-danger"><i class="text-warning fa fa-exclamation-triangle"></i>
                    Enter a valid last name</span>-->
                    <span class="text-danger"
                          ng-show="(signupForm.last_name.$invalid &&
                                   !signupForm.last_name.$pristine) ||
                                   (signupForm.last_name.$invalid && submitted)">
                      <i class="text-warning fa fa-exclamation-triangle"></i>
                      Enter a valid name(Max-30)
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input type="email"
                       class="form-control"
                       ng-model="form.email"
                       id="email"
                       name="email"
                       ng-keydown="clear_server_validation_email()"
                       placeholder="Email"
                       required>
                <span class="text-danger"
                      ng-show="email_error && submitted"
                      ng-bind="email_error">
                  <i class="text-warning fa fa-exclamation-triangle"></i>
                  {{email_error}}
                </span>
                <span class="text-danger"
                      ng-show="(signupForm.email.$invalid &&
                               !signupForm.email.$pristine) ||
                               (signupForm.email.$invalid && submitted)">
                  <i class="text-warning fa fa-exclamation-triangle"></i>
                  Enter a valid email
                </span>
              </div>
              <div class="form-group">
                <input type="password"
                       class="form-control"
                       name="password1"
                       ng-model="form.password1"
                       id="new_password"
                       placeholder="Password"
                       required
                       pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
                <span class="text-danger"
                      ng-repeat="pass1_error in signupErrors.password1">
                  <i class="text-warning fa fa-exclamation-triangle"></i>
                  Enter a valid password
                </span>
                <span class="text-danger"
                      ng-show="(signupForm.password1.$invalid &&
                               !signupForm.password1.$pristine) ||
                               (signupForm.password1.$invalid && submitted)">
                  <i class="text-warning fa fa-exclamation-triangle"></i>
                  Password must be minimum 8 characters with at least
                  one lower case, one upper case and one number.
                </span>
              </div>
              <div class="form-group">
                <input type="password"
                       class="form-control"
                       name="password2"
                       ng-model="form.password2"
                       ng-keydown="clear_server_validation_password()"
                       id="confirm_password"
                       placeholder="Confirm Password"
                       equal-to="form.password1"
                       required
                       pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
                <span class="text-danger"
                      ng-show="password_error"
                      ng-bind="password_error">
                  <i class="text-warning fa fa-exclamation-triangle"></i>
                  {{password_error}}
                </span>
                <p>
                  <span class="text-danger"
                        ng-show="form.password1!=undefined && 
                                 ((signupForm.password2.$invalid &&
                                 !signupForm.password2.$pristine) ||
                                 (signupForm.password2.$invalid && 
                                 submitted))">
                    <i class="text-warning fa fa-exclamation-triangle"></i>
                    The two password fields didn't match.
                  </span>
                </p>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 radio-user-type">
                  <div class="form-group">
                    <input id="radio-2"
                           class="radio-custom"
                           name="type"
                           type="radio"
                           required
                           ng-model="form.type"
                           value="videographer">
                    <label for="radio-2"
                           class="radio-custom-label">
                      Videographer
                    </label>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="form-group">
                    <input id="radio-1"
                           class="radio-custom radio-user-type"
                           name="type"
                           type="radio"
                           orientation
                           ng-model="form.type"
                           value="video_buyer">
                    <label for="radio-1"
                           class="radio-custom-label">
                      Buyer
                    </label>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="form-group">
                    <input id="radio-3"
                           class="radio-custom radio-user-type"
                           name="type"
                           type="radio"
                           required ng-model="form.type"
                           value="both">
                    <label for="radio-3"
                           class="radio-custom-label">
                      Both
                    </label>
                  </div>
                </div>
              </div>
              <p>
                <span class="text-danger"
                      ng-show="(signupForm.type.$invalid &&
                               !signupForm.type.$pristine) ||
                               (signupForm.type.$invalid && submitted)">
                  <i class="text-warning fa fa-exclamation-triangle"></i>
                  Select a type
                </span>
              </p>
              <div class="form-group">
                <input id="checkbox-2"
                       ng-model="tacd_checkbox"
                       class="checkbox-custom"
                       name="tandc"
                       type="checkbox"
                       required="required">
                <label for="checkbox-2"
                       class="checkbox-custom-label">
                  I agree to the Terms of Service
                </label>
              </div>
              <span class="text-danger"
                    ng-show="signupForm.tandc.$error.required && submitted">
                <i class="text-warning fa fa-exclamation-triangle"></i>
                Please accept the terms & conditions
              </span>
              <br/>
              <div vc-recaptcha
                   ng-model="recaptchaResponse"
                   on-create="setWidgetId(widgetId)"
                   on-success="setResponse(response)"
                   on-expire="cbExpiration()">
              </div>
              <span class="text-danger"
                    ng-show="!recaptchaResponse && submitted && !recaptchaServerError">
                <i class="text-warning fa fa-exclamation-triangle"></i>
                Please verify you are not a robot.
              </span>
              <span class="text-danger"
                    ng-show="recaptchaServerError && submitted">
                <i class="text-warning fa fa-exclamation-triangle"></i>
                Try one more time to verify that you are not a robot.
              </span>

              <br/>
              <br/>
              <button class="form_login_btn"
                      type="submit"
                      id="email_signup_submit"
                      ng-click="submitted=true"
                      ng-disabled="signupForm.$invalid">
                Sign Up
              </button>
              <!--
              <p>
              <a ui-sref="forgot_password"
              ng-click="sameStateResetPassword()"
              class="reset_label">
              Password Reset
              </a>
              </p>
              -->
              <p class="login_seperation">or</p>
              <button class="fb_login_btn form-group"
                      ng-click="authenticate('facebook')">
                Sign up with facebook
              </button>
              <p class="sign_up_link">
                Have an Account?
                <a data-toggle="modal"
                   ng-click="signUpLoginClick()"
                   data-target="#myModal">
                  Sign In
                </a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
      </div>
      <!--call 2 action 1-->
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="angular/assets/js/jquery.min.js"></script>
      <script src="angular/bootstrap/js/bootstrap.min.js"></script>
      <!--<script src="/angular/bootstrap/js/bootstrap.js"></script>-->
      <script src="/angular/assets/js/logger.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="angular/assets/js/ie10-viewport-bug-workaround.js"></script>
      <script src="angular/assets/js/jquery.mixitup.min.js"></script>
      <script src="angular/assets/js/main.js"></script>
      <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
      <script>
       Stripe.setPublishableKey('pk_test_dyIO81Q3L0JnR8yDTyNHzh5q');
      </script>
      <!--Bower Component scripts-->
      <script src="/angular/bower_components/angular/angular.js"></script>
      <script src="http://code.angularjs.org/1.4.8/i18n/angular-locale_en-us.js"></script>
      <script src="/angular/bower_components/angular-route/angular-route.js"></script>
      <script src="/angular/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
      <script src="/angular/bower_components/restangular/src/restangular.js"></script>
      <script src="/angular/bower_components/ngstorage/ngStorage.min.js"></script>
      <script src="/angular/bower_components/angular-animate/angular-animate.min.js"></script>
      <script src="/angular/bower_components/AngularJS-Toaster/toaster.min.js"></script>
      <script src="/angular/bower_components/angularjs-slider/dist/rzslider.min.js"></script>
      <script src="/angular/bower_components/flow.js/dist/flow.min.js"></script>
      <script src="/angular/bower_components/ng-flow/dist/ng-flow.min.js"></script>
      <script src="/angular/bower_components/ui-select/dist/select.min.js"></script>
      <script src="/angular/bower_components/ui-select/dist/select.min.js"></script>
      <script src="/angular/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
      <script src="/angular/bower_components/typeahead.js/dist/bloodhound.js"></script>
      <script src="/angular/bower_components/typeahead.js/dist/typeahead.jquery.js"></script>
      <script src="/angular/bower_components/typeahead.js/dist/typeahead.bundle.js"></script>
      <script src="/angular/bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
      <script src="/angular/bower_components/angular-google-places-autocomplete/src/autocomplete.js"></script>
      <script src="/angular/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script src="/angular/bower_components/angularUtils-pagination/dirPagination.js"></script>
      <script src="/angular/bower_components/angular-payments/lib/angular-payments.min.js"></script>
      <script src="/angular/bower_components/angulartics/dist/angulartics.min.js"></script>
      <script src="/angular/bower_components/angulartics-google-analytics/dist/angulartics-ga.min.js"></script>
      <script type='text/javascript' src='/angular/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js'></script>

      <script src="/angular/app/app.js"></script>
      <script src="/angular/app/accounts/controller.js"></script>
      <script src="/angular/app/contests/controller.js"></script>
      <script src="/angular/app/cart/controller.js"></script>
      <script src="/angular/app/cart/services.js"></script>
      <script src="/angular/app/home/controller.js"></script>
      <script src="/angular/app/videos/videoController.js"></script>
      <script src="/angular/app/search/searchController.js"></script>
      <script src="/angular/app/profile/profileController.js"></script>
      <script src="/angular/app/profile/profileController.js"></script>
      <script src="/angular/app/utils/services.js"></script>
      <script src="/angular/app/utils/factories.js"></script>
      <script src="/angular/app/utils/directives.js"></script>
      <script src="/angular/app/view2/view2.js"></script>
      <script src="/angular/app/reviews/reviewController.js"></script>
      <script src="/angular/app/components/version/version.js"></script>
      <script src="/angular/app/components/version/version-directive.js"></script>
      <script src="/angular/app/components/version/interpolate-filter.js"></script>
      <script src="angular/assets/js/bootstrap-slider.js"></script>
      <!--<script src="angular/assets/js/jquery.sidr.js"></script>-->
      <script src="http://cdn.jsdelivr.net/jquery.sidr/2.2.1/jquery.sidr.min.js"></script>
      <!--CDN-->
      <script src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyC4XL_v1lFX1-RrMKVwPEbXb5AyurznEVc"></script>
      <!--<script src='https://maps.googleapis.com/maps/api/js'></script>-->
      <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
      <script src="//cdn.jsdelivr.net/satellizer/0.13.3/satellizer.min.js"></script>
      <script src="/angular/app/accounts/satellizer.js"></script>
      <script src="http://harvesthq.github.io/chosen/chosen.jquery.js"></script>
      <!--video.js-->
      <script>
       $(function() {
         $('.chosen-select').chosen();
         $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
         $("#ex2").slider({});
       });

      </script>
      <script>
       /** Document Ready Functions **/
       /********************************************************************/

       $(document).ready(function() {
         // Resive video
         scaleVideoContainer();

         initBannerVideoSize('.video-container .poster img');
         initBannerVideoSize('.video-container .filter');
         initBannerVideoSize('.video-container video');

         $(window).on('resize', function() {
           scaleVideoContainer();
           scaleBannerVideoSize('.video-container .poster img');
           scaleBannerVideoSize('.video-container .filter');
           scaleBannerVideoSize('.video-container video');
         });

       });

       /** Reusable Functions **/
       /********************************************************************/

       function scaleVideoContainer() {

         var height = $(window).height();
         var unitHeight = parseInt(height) + 'px';
         $('.homepage-hero-module').css('height', unitHeight);

       }

       function initBannerVideoSize(element) {


         scaleBannerVideoSize(element);

       }

       function scaleBannerVideoSize(element) {

         var windowWidth = $(window).width(),
             windowHeight = $(window).height(),
             videoWidth,
             videoHeight;

         console.log(windowHeight);

         $(element).each(function() {
           var videoAspectRatio = $(this).data('height') / $(this).data('width'),
               windowAspectRatio = windowHeight / windowWidth;

           if (videoAspectRatio > windowAspectRatio) {
             videoWidth = windowWidth;
             videoHeight = videoWidth * videoAspectRatio;
             $(this).css({
               'top': -(videoHeight - windowHeight) / 2 + 'px',
               'margin-left': 0
             });
           } else {
             videoHeight = windowHeight;
             videoWidth = videoHeight / videoAspectRatio;
             $(this).css({
               'margin-top': 0,
               'margin-left': -(videoWidth - windowWidth) / 2 + 'px'
             });
           }

           $(this).width(videoWidth).height(videoHeight);

           $('.homepage-hero-module .video-container video').addClass('fadeIn animated');
         });
       }
      </script>

      <!-- Include the Sidr JS -->

      <div ng-if="$root.isUserLoggedIn">
        <script>
         //$(document).ready(function() {
         $('#right-menu').sidr({
           name: 'sidr-right',
           side: 'right'
         });
         //});
        </script>
      </div>

      <script>
       // script to enable autoplay of videos on the current page
       var vid;
       
       function enableAutoPlay(msg){
         var figure = $(".video");
         vid = figure.find("video");
         //console.log("DEBUG: ", msg);
         [].forEach.call(figure, function(item, index) {
           item.addEventListener('mouseover', hoverVideo.bind(item, index), false);
           item.addEventListener('mouseout', hideVideo.bind(item, index), false);
         });
       };
       function hoverVideo(index, e) {
         if (vid[index].play() !== undefined) {
           vid[index].play().then(function () {
             //console.log("INFO: play success");
           }, function () {
             //console.log("INFO: play error");
           });
         }
       }
       function hideVideo(index, e) {
         vid[index].pause();

       }
      </script>

      <!--Google-analytics-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        //ga('create', 'UA-80195825-2', 'auto');

        //for localhost
        ga('create', 'UA-80195825-2', 'none');

        //ga('send', 'pageview');

    </script>
  </body>
</html>
