
@media (max-width:1200px) and (min-width:991px){

.bt_pricerange b{font-size:11px;}
.slider.slider-horizontal { width:80%!important;}
.box .form-group label{display:block;}
.chosen-container{width:100%!important;}

}

@media (min-width:768px) and (max-width:991px){

.box{margin-bottom: 15px;}
.box .form-group label{display:block;}
.chosen-container{width:100%!important;}




}


@media (min-width:541px) and (max-width:767px){

.request_form_radio{margin-bottom:2px;}
.featured_tag h1{font-size:22px;}
.overlay_placeholder img {  width: auto;}
.request_status_msg span{padding: 0 6px;}
.contest_status span{font-size:22px;}
.item-details .price-details{width:100%;}
.item-details .price-details h3{float:left;}
.box{}
.foot-heads, .footlinks li{text-align:center;}
ul.social-bttm { width: 100%;text-align: center;}
ul.social-bttm li {display: inline-block; float: none;}
.foot-right { padding: 0;text-align: center;margin-bottom: 25px;}
.navbar-right li{float:left;}
.box .form-group label{display:block;}
.chosen-container{width:100%!important;}
.box{margin-bottom: 15px;}
.slider.slider-horizontal { width:86%!important;}
.video-frame{  margin-right: 0;margin-left: 0;}
.video-thumbs{padding:0;}
.hidden-sm, hidden-xs {display: none!important;}
.videographers_search_form .form-control{margin-bottom:2px;}

.navbar-toggle{margin-right: 45px;}


}


@media (min-width:400px) and (max-width:540px){

.card-background img{-webkit-filter: blur(38px);  -moz-filter: blur(38px);  -o-filter: blur(38px);  -ms-filter: blur(38px);
  filter: blur(38px);   margin-left: auto;  margin-top: auto;}
  
.card.hovercard .card-background {  height: 350px;}
.card.hovercard .useravatar img{width:100px;height:100px;}
.request_form_radio{margin-bottom:2px;}
.featured_tag h1{font-size:22px;}
.overlay_placeholder img {  width: auto;}
.request_status_msg span{padding: 0 6px;}
.contest_status span{font-size:22px;}
.item-details .price-details{width:100%;}
.item-details .price-details h3{float:left;}
.product_inner, .request_brief_inside, .payment_section {border:none; padding:0px;}
.request-box{padding:20px;width:100%;}
.video-srchbox{width:100%!important;}
.h1-big {font-size: 2em;}
.author-link{bottom: 10px;width: 100%;text-align: center;}
.allvideo-link{bottom:10px;right: 28%;}
.title-holder{width:100%;}
.foot-bottom{margin:0;}
.foot-right{padding:0;text-align: center;margin-bottom: 25px;}
.box{}
.foot-heads, .footlinks li{text-align:center;}
ul.social-bttm{width: 100%;text-align: center;}
ul.social-bttm li{display: inline-block;float:none;}
.navbar-collapse .navbar-right li{float:left!important;}
.chosen-container{width:100%!important;}
.box{margin-bottom: 15px;}
.slider.slider-horizontal { width:78%!important;}
.video-frame{  margin-right: 0;margin-left: 0;}
.video-thumbs{padding:0;}
.hidden-sm, hidden-xs {display: none!important;}
.videographers_search_form .form-control{margin-bottom:2px;}
.social_share_widget{margin-top: 10px;}

.navbar-toggle{margin-right: 45px;}



}


@media (min-width:241px) and (max-width:399px){
.card-background img{
-webkit-filter: blur(38px);
  -moz-filter: blur(38px);
  -o-filter: blur(38px);
  -ms-filter: blur(38px);
  filter: blur(38px);
   margin-left: auto;
  margin-top: auto;
 
}
.card.hovercard .card-background {  height: 350px;}
.card.hovercard .useravatar img{width:100px;height:100px;}
.request_form_radio{margin-bottom:2px;}
.featured_tag h1{font-size:22px;}
.overlay_placeholder img {  width: auto;}
.request_status_msg span{padding: 0 6px;}
.contest_status span{font-size:22px}
.item-details .price-details{width:100%;}
.item-details .price-details h3{float:left;}
.product_inner, .request_brief_inside, .payment_section {border:none; padding:0px;}
.request-box{padding:20px;width:100%;}
.video-srchbox{width:100%;}
.h1-big {font-size: 2em;}
.author-link{bottom: 10px;width: 100%;text-align: center;}
.allvideo-link{bottom:10px;right: 28%;}
.title-holder{width:100%;}
.foot-bottom{margin:0;}
.foot-right{padding:0;text-align: center;margin-bottom: 25px;}
.box{}
.foot-heads, .footlinks li{text-align:center;}
ul.social-bttm{width: 100%;text-align: center;}
ul.social-bttm li{display: inline-block;float:none;}
.navbar-collapse .navbar-right li{float:left!important;}
.chosen-container{width:100%!important;}
.box{margin-bottom: 15px;}
.slider.slider-horizontal { width:75%!important;}
.video-frame{  margin-right: 0;margin-left: 0;}
.video-thumbs{padding:0;}
.hidden-sm, hidden-xs {display: none!important;}
.videographers_search_form .form-control{margin-bottom:2px;}
.social_share_widget{  margin-top: 10px;}
.navbar-toggle{margin-right: 45px;}
  
}