/*importing stylesheets*/

@import url("../fonts/museosans_500_macroman/stylesheet.css");

@import url("../fonts/geometria_light_macroman/geometria-light.css");

@import url("../fonts/raleway/stylesheet.css");


/*importing stylesheets*/

html,
body {
/*	font-family: 'geometria_lightlight', sans-serif;*/
    padding-top: 50px;
}
/*=====================bt overwrites=========================*/
.navbar-toggle .icon-bar{background-color: #f26622;}
.btn-primary{background-color: #f26622;border-color: #f26622;}
.sh-btn-success:hover{color:#fff;}
h1,
h2,
h3,
h4 {
    font-family: 'ralewayregular', Arial, Helvetica, sans-serif;
}

.h1-big {
	font-size: 4em;
}

/*
.custom-navbar {
	border-radius: 0;
	background: #fff;
	font-family: 'museo_sans500';
}
*/

.navbar-search {
    float: none;
}

.brand-custom {
	padding-top: 6px;
}

.rounded-searchbar {
	border-radius: 100px;
	width: 100% !important;
	position: relative;
}

#searchtop {
    display:block;
    text-align: center;

}

#searchinput {
    width: 400px;
    font-size: 24px;
    text-align: center;

}

.srch-lns {
	color: #666;
	position: relative;
	z-index: 100;
	right: 25px;
/*	top: 10px;*/
}

.search-btn-custom {
}

.btn-orange {
	background-color: #f26622;
	color: #fff;
	border-radius: 100px;
	border: none;
	font-weight: bold;
	outline: none!important;
}

.badge-orange {
	background-color: #f26622;
}

.remove-padd1 {
	padding-bottom: 0 important;
	margin-bottom: 0 !important;
}

.no-padding {
	padding: 0;
}

/*
.navbar-default{
	position: relative;
	z-index: 500;
}
*/

.navbar .glyphicon {
    font-size: 18px;
}


.main-banner {
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

.banner-title {
	width: auto;
	color: #fff;
	text-align: center;
	margin-top: 9%;
}

.main-banner-title {
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 21%;
	text-align: center;
	color: #fff;
}

.main-btn-1 {
	border-radius: 0;
	background-color: #F26622;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: none;
	padding: 12px;
	margin-top: 12px;
	margin-right: auto;
	margin-left: auto;
	width: auto;
	overflow: hidden;
}

.subtxt-1 {
	font-family: 'geometria_lightlight', Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	color: #fff;
}

span.orange-1 {
	color: #F26622;
}

.form-group-custom {
	width: auto;
	position: ;
}

.author-link {
	
	width: auto;
	padding: 25px 25px 25px 0;
	color: #fff;
	font-family: 'geometria_lightlight', sans-serif;
	bottom: 98px;
	left: 0;
	z-index: 1500;
}

.author-link a {
	display: inline-block;
	padding-left: 10px;
	text-decoration: none;
	color: #fff;
}

.author-link a:hover {
	text-decoration: underline;
}

.title-holder {
	
	position: absolute;
	z-index: 100;
	width: 80%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.hamburger-icn {
	font-size: 1.5em;
}

.nav-top-custom {
	margin-top: 11px;
}

.allvideo-link {
	right: 0;
	font-family: 'geometria_lightlight', sans-serif;
	padding-top: 3.2em;
    text-align: center;
}

.allvideo-link a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
}

.allvideo-link a:hover {
	text-decoration: underline;
}

.spyhop-works {
	padding-top: 40px;
	padding-bottom: 40px;
}

.spyhop-intro {
	position: relative;
}

.spyhop-intro h1,
h2,
h3,
h4,
h5 {
	text-align: center;
}

.spyhop-intro h5,
h6,
p {
	color: #828282;
	line-height: 1.70em;
}

.common-content {
	padding-top: 30px;
	padding-bottom: 30px;
}

.big-icons {
	display: block;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 3.5em;
}

.call2-section-1 {
	background-image: url('../images/video-concert.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.call2-content-main {
	padding-top: 80px;
	padding-bottom: 80px;
	color: #fff;
}

.call2-content-main h1 {
	text-align: center;
    font-family: 'ralewaylight', Arial, Helvetica, sans-serif;
	font-size: 3em;
}

.request-box {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 45px;
	padding: 40px;
	background-color: rgba(255, 255, 255, .8);
    font-family: 'ralewaylight', Arial, Helvetica, sans-serif;
	text-align: center;
}

.call2-desc {
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	font-size: 1.1em;
	color: #1a1919;
	line-height: 1.5em;
}

.big-3 {
	font-size: 2.5em;
}

.flat-input {
	border-radius: 0;
	padding-top: 25px;
	padding-bottom: 25px;
	border: none;
	font-size: 1.2em;
	position: relative;
}

.video-srchbox {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.lense-icon-big {
	color: #666;
	position: absolute;
	right: 15px;
	top: 13px;
	font-size: 1.5em;
}

.top-margin-zero {
	margin-top: 0;
}

.home-thumbs-section {
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}

.thumbs-main {
	padding-top: 35px;
	padding-bottom: 35px;
}

.thumb-box {
	margin-bottom: 28px;
	position: relative;
	text-align: center;
}

.thumb-with-desc {
	position: relative;
	color: #fff;
}

.cat-name {
	position: absolute;
	z-index: 150;
	color: #fff;
	bottom: 41px;
	left: 40px;
	font-weight: bold;
	font-size: 1.1em;
}

.explore {
	padding-top: 40px;
	padding-bottom: 40px;
}

.call-to-3 {
	background-image: url('../images/imag-call-to3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.explore-ad {
	position: relative;
	margin-top: 120px;
	margin-bottom: 120px;
}

.ad-head-1 {
	text-align: left;
	color: #fff;
	line-height: 1.5em;
}

.ad-head-2 {
	text-align: left;
	color: #fff;
	line-height: 1.5em;
	margin-top: 13px;
	font-family: 'geometria_lightlight', sans-serif;
}

.ad-head-3 {
    text-align: center;
    color: #fff;
    line-height: 1.5em;
}

.btn-signup {
	border-radius: 0;
	background-color: #F26622;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 10px;
	border: none;
	padding: 12px 25px;
	outline:none!important;
}

.client-logos {
	margin-top: 40px;
	margin-bottom: 40px;
}

.foot {
	background-color: #000;
	padding-top: 0px;
	padding-bottom: 0px;
}

.foot-heads {
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: left;
	color: #666;
	font-family: 'museo_sans500', Arial, Helvetica, sans-serif;
}

ul.footlinks {
	list-style: none;
	margin-top: 22px;
	padding-left: 0;
}

ul.footlinks li {
	display: block;
	margin-bottom: 10px;
	margin-top: 10px;
}

.storelinks {
	padding-top: 36px;
	margin-top: 18px;
}

/*video*/

.homepage-hero-module {
	border-right: none;
	border-left: none;
	position: relative;
}

.no-video .video-container video,
.touch .video-container video {
	display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
	display: block !important;
}

.video-container {
	position: relative;
	bottom: 0%;
	left: 0%;
/*	height: 100%;*/
	width: 100%;
	overflow: hidden;
	background: #000;
}

.video-container .poster img {
	width: 100%;
	bottom: 0;
	position: absolute;
}

.video-container .filter {
	z-index: 1;
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
/*	height: 100% !important;*/
}

.video-container .title-container {
	z-index: 1000;
	position: absolute;
	top: 35%;
	width: 100%;
	text-align: center;
	color: #fff;
}

.video-container .description .inner {
	font-size: 1em;
	width: 45%;
	margin: 0 auto;
}

.video-container .link {
	position: absolute;
	bottom: 3em;
	width: 100%;
	text-align: center;
	z-index: 1001;
	font-size: 2em;
	color: #fff;
}

.video-container .link a {
	color: #fff;
}

.video-container video {
	position: absolute;
	z-index: 0;
	bottom: 0;
	width: 100%;
	height:auto!important;
}

.video-container video.fillWidth {
	width: 100%;
}

/*Video Thumbnail settings*/

.thevideo {
	width: 100%;
	height: 100%;
}

.video-frame {
	margin-top: 35px;
	margin-bottom: 35px;
}

.video-thumbs {
	margin-bottom: 20px;
	cursor: pointer;
	position:relative;
}

.video-thumbs h5 {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #777;
	font-family: 'museo_sans500', Arial, Helvetica, sans-serif;
}

/*
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
   Set the fixed height of the footer here 
  height: 60px;
}
*/

.footer-social {
/*
	margin-top: 5px;
	margin-bottom: 5px;
*/
}

.foot-bottom {
/*	border-top: 1px solid #ccc;*/
/*	border-bottom: 1px solid #ccc;*/
	padding-left: 0;
	padding-right: 0;
	margin-left: 0px;
	margin-right: 0px;
}

ul.social-bttm {
	list-style: none;
	width: 100%;
	display:block;
	float: none;
	padding-left: 0 !important;
	margin: 0px 0px 0px 0px;
}

ul.social-bttm li {
	list-style: none;
	width: auto;
	display: block;
	float: right;
	margin-right: 30px;
}

ul.social-bttm a {
	text-decoration: none;
	color: #fff;
/*	font-size: 25px;*/
}

ul.social-bttm a:hover {
	color: #F26622;
}

.bttm-cntr {
	width: 20%;
	overflow: hidden;
	float: left;
}

.foot-right {
	text-align: right;
/*	margin-top: 25px;*/
    margin-top: 0px;
    color: white;

}

.foot-left {
    text-align: left;
/*    margin-top: 10px;*/
/*    font-size: 15px;*/
    color: white;
}

.inner-banner {
	height: 250px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 57px;
}

.inner-banner-titles {
	margin-left: auto;
	margin-right: auto;
	float: none;
	width: 80%;
	padding-top: 54px;
	color: #fff;
}

.inner-banner-titles h4 {
	font-family: 'geometria_lightlight', sans-serif;
}


/*===========login popup=============*/

.login_popup .modal-content {
	border-radius: 0px!important;
}

.login_close {
	background: #f26820!important;
}

.login_popup .close {
	opacity: 1;
	padding: 7px 15px;
	position: absolute;
	right: 0px;
	top: 2px;
	color: #fff;
	text-shadow: none;
	font-size: 34px;
}

.login_popup .modal-title {
	color: #f36621;
	padding-top: 40px;
}

.login_popup .modal-dialog {
	max-width: 800px;
	width: 100%;
}

.login_popup .modal-header, .login_popup .modal-header {
	border-bottom: none;
}

.login_form {
	max-width: 445px;
	width: 100%;
	margin: 0 auto;
}

.login_form .form-control {
/*	background: #eeeeee;*/
	border-radius: 0px;
	border: none;
	height: 40px;
}

.login_form .form-group {
	margin-bottom: 10px;
}

.login_submit_btn {
	background: #f36621;
	border-radius: 0px;
	width: 100%;
	color: #fff;
	font-size: 22px;
	border: none;
}

.reset_label {
	display: inline-block;
	text-align: right;
	padding-top: 6px;
	width: 100%;
	font-size: 16px;
	color: #333!important;
	font-weight: bold;
	text-decoration: none!important;
}

.login_seperation {
	color: #bcb7b3;
	font-size: 30px;
	text-align: center;
}

.fb_login_btn {
	display: block;
	background: #5674ba;
	color: #fff!important;
	text-align: center;
	padding: 10px 0;
	font-size: 24px;
	text-decoration: none!important;
	border:none;
	width:100%;
}
.instagram_login_btn {
	display: block;
	background: #a37154;
	color: #fff!important;
	text-align: center;
	padding: 10px 0;
	font-size: 24px;
	text-decoration: none!important;
	border:none;
	width:100%;
}
.twitter_login_btn {
	display: block;
	background: #55acee;
	color: #fff!important;
	text-align: center;
	padding: 10px 0;
	font-size: 24px;
	text-decoration: none!important;
	border:none;
	width:100%;
}

.gplus_login_btn {
	display: block;
	background: #d0422a;
	color: #fff!important;
	text-align: center;
	padding: 10px 0;
	font-size: 24px;
	text-decoration: none!important;
	border:none;
	width:100%;
}

.form_login_btn {
	display: block;
	background: #f36621;
	color: #fff!important;
	text-align: center;
	padding: 10px 0;
	font-size: 24px;
	text-decoration: none!important;
	text-transform: uppercase;
	border:none;
	width:50%;
    margin-left: auto;
    margin-right:auto;
}

.sign_up_link {
	text-align: center;
	padding: 8px 0 20px 0;
	font-size: 16px;
}

.sign_up_link a {
	color: #f36621;
	font-weight: bold;
}
  
  
  /*===========about us section=============*/
.about_us_sec .container, .story-section .container, .story-purpose .container {
	max-width: 800px;
}

.about_us_sec p {
	font-size: 18px;
}

.about_bg_intro {
	background-image: url('../images/about_bg_intro.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 130px 0;
}

.about_bg_intro .container {
	max-width: 800px;
	text-align: center;
}

.about_bg_intro h3 {
	color: #fff;
}

.story-section {
	background: #3b3b3b;
}

.story-section h4 {
	color: #fff;
	padding: 30px 0;
	font-size: 14px;
	line-height: 22px;
}

.story-purpose .container {
	text-align: center;
}

.story-purpose {
	padding: 80px 0;
}

.inner-banner-titles .video-srchbox {
	width: 60%;
}	


  /*===========contact us page=============*/
.contact_form {
	text-align: left;
}

.contact_form {
	max-width: 610px;
	margin: 0 auto;
}

.contact_form .form-control {
/*	border: solid 1px #bfbfbf;*/
/*	height: 55px;*/
/*	box-shadow: none;*/
/*	font-size: 18px;*/
    
    height:58px;
    padding:10px;
    background: #f9f9f9;
}

.contact_radio_field {
	float: left;
	padding-right: 20px;
}

.contact_form textarea {
	height: 100px!important;
}

.contact_more_information {
	background: #f6f9f9;
	padding: 80px 0;
}

.contact_more_information h3 {
	text-align: left;
}

#map {
	width: 100%;
	height: 300px;
}

  /*===========privacy policies============*/
  
/*
.policies_section {
	padding: 80px 0;
}
*/

.policies_section .nav-tabs > li > a {
	border: solid 1px #f26622;
}

.policies_section  .nav-tabs {
	border-bottom: none;
    font-size: 25px;
    padding-bottom: 30px;
}

.policies_section .nav-tabs > li.active > a {
	background-color: #f26622;
	color: #fff;
}

.policies_section .tab-content h1,h2,h3,h4,h5 {
	text-align: left;
}

.policies_section .tab-content h1,h3,h5,p {
    color:#212121;
}

.policies_section .tab-content h2,h4,h6 {
	color: #f26622;
}


.policies_subtitle {
	color: #f26622;
	font-size: 20px;
}
  
  
  

 /*===========custom radio and checkboxes============*/
.checkbox-custom, .radio-custom {
	opacity: 0;
	position: absolute;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
	display: inline-block;
	vertical-align: middle;
	margin: 0px;
	cursor: pointer;
	outline: none!important;
}

.checkbox-custom-label, .radio-custom-label {
	position: relative;
	outline: none!important;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
	content: '';
	background: #fff;
	border: 2px solid #ddd;
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 25px;
	padding: 2px;
	margin-right: 10px;
	text-align: center;
	outline: none;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
	content: "";
	font-family: 'FontAwesome';
	background: #f36621;
	color: #fff;
}

.radio-custom + .radio-custom-label:before {
	border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
	content: "\f00c";
	font-family: 'FontAwesome';
	color: #f36621;
	line-height: 18px;
}

.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
	outline: 1px solid #ddd;
 /* focus style */
}  


 
 /*===========user profile =================*/
 
 /* USER PROFILE PAGE */
 .card {
    
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 400px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}
.useravatar h3{margin:10px 0 10px 0; text-align:center}
.profile_tab .btn-primary{background-color:#f26622;border-color:#f26622;outline:none;}
.list-inline>li {  display: inline-block;  padding-right: 5px;  padding-left: 5px;}
.profile-datapoints li {
  padding: 0 10px;
  font-weight: bold;
}
.sh-btn-outline {
  background-color: transparent;
  box-shadow: 0 0 0 #fff;
  color: #FFF!important;
  border: 2px solid #FFF;
  font-weight: 700;
  height: 36px;
  line-height: 34px;
  transition: .3s;
}

.profile_edit_btn{position:absolute;top:5%;right:3%;z-index:100;}
.profile_edit_btn .fa{color:#fff;font-size:20px;}

.sh-card-photographer-default {
  position: relative;
  background: #252b33;
  overflow: hidden;
  margin-bottom: 30px;
}

.sh-card-photographer-default .card-information {
  position: absolute;
  z-index: 10;
  top: 50%;
  margin-top: -60px;
  width: 100%;
  color: #FFF;
  text-align: center;
}

.sh-card-photographer-default.action-buttons .card-information {
  margin-top: -80px;
}

.sh-card-photographer-default .card-information a{color: #FFF;}
.sh-card-photographer-default .avatar {
  width: 75px;
  height: 75px;
  border: 5px solid rgba(255,255,255,.3);
  margin-bottom: 5px;
  border-radius: 50%;
  margin: 0 auto;
}
.sh-card-photographer-default h4 {
  margin: 0 0 5px;
}

.sh-card-photographer-default .sh-badge-level {
  margin: -5px 0 5px;
  display: block;
  font-size: .8em;
  background: 0 0;
  color: rgba(255,255,255,.8)!important;
}
.sh-btn-mini.sh-btn-outline {
  
  border: 2px solid #fff;
  margin: 0 2px;
  box-shadow: none;
}
 
.sh-btn-outline {
  background-color: transparent;
  box-shadow: 0 0 0 #fff;
  color: #FFF!important;
  border: 2px solid #FFF;
  font-weight: 700;
  height: 36px;
  line-height: 14px;
  transition: .3s;
  outline: none;
  padding: 10px;
  display: inline-block;
} 

.sh-card-photographer-default .card-follow-background img {
  opacity: .33;
  min-height: 210px;
}
.sh-card-photographer-default .img-responsive, .sh-card-photographer-photos .img-responsive {
  min-width: 100%;
}

.request_form{padding:20px;background:#f4f5f6;margin:20px 0;}
.request_actions{padding:20px;background:#eee3da;margin:20px 0;}


 /*====================================create contest ==============================================*/
 
#input-payout {
    font-size: 25px;
}

.request-header  {
	text-align: center;
}

.request_form_box .form-control {
/*    border:solid 1px #dcdcdc;*/
    height:58px;
/*    box-shadow:none;*/
/*    border-radius:0px;*/
    padding:10px;
    background: #f9f9f9;
}

.request_form_box .description-box {
    height:135px;
    resize: none;
}

 .radio_label{display: block;padding: 0 20px;}
 
.custom_select{
	width: 100%;
  display: block;
  text-align: left;
  float: none!important;
  background-color: #fff!important;
  height: 58px;
  border-radius: 0px;
  }
  
.custom_caret{  float: right;top: 7px;position: relative;}




.radios-to-slider{
	background-color:#dad9d4;
	display:block;
	position:relative;
	margin-bottom:80px;
	margin-top: 35px;
	-webkit-box-sizing:content-box;
	   -moz-box-sizing:content-box;
	     -o-box-sizing:content-box;
	        box-sizing:content-box;
}


.radios-to-slider.medium{
	height:0px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	-o-border-radius:25px;
	border-radius:25px;
	padding:3px;
	width:100%!important;
}

/* Levels */
.radios-to-slider .slider-level{
	background-color:#fff;
	cursor:pointer;
	position:absolute;
	display:block;
	top: -8px;
}

.radios-to-slider .slider-level.slider-lower-level{
	
}

.radios-to-slider.medium .slider-level{
	width:22px;
	height:22px;
	-webkit-border-radius:22px;
	-moz-border-radius:22px;
	-o-border-radius:22px;
	border-radius:22px;
	z-index:2;
}

/* Labels */
.slider-label{
	position:absolute;
	display:block;
	cursor:pointer;
	color:#5e5e5e;
	text-align:center;
	font-size: 13px;
}

.slider-label-active
{
    font-weight: bold!important;
	color:#000;
}

.radios-to-slider.medium .slider-label{
	top:28px;
	width:44px;
}

/* Slider bar */
.radios-to-slider .slider-bar{
	
	float:left;
	height:100%;
	width:0;
	pointer-events:none;
	display:none;
	position:absolute;
	left:0;
	top:0;
}

.slider-bar.transition-enabled{
	-webkit-transition:.2s;
	-moz-transition:.2s;
	-o-transition:.2s;
	transition:.2s;
}

.radios-to-slider.medium .slider-bar{
	-webkit-border-radius:22px;
	-moz-border-radius:22px;
	-o-border-radius:22px;
	border-radius:22px;
}

/* Slider Knob */
.slider-knob{
	float:right;
	background-color:#f26622;
	position: relative;
    top: -14px;
}

.radios-to-slider.medium .slider-knob{
	width:32px;
	height:32px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	-o-border-radius:25px;
	border-radius:25px;
}

.price-label{  text-align: center;font-size: 18px;}

.request_actions .input-group {
  margin: 0 auto 20px;
  width: 240px;
  height:52px;
}
.request_actions .fa{font-size:22px;}

.request_actions .form-control{height: 54px;
  background-color: #a69e98;
  border: solid 1px #a69e98;
  color: #fff;
  font-size: 35px;}
.request_actions .input-group-addon{background-color: #a69e98;
  border: solid 1px #a69e98;
  cursor:pointer;}
  
  .request_actions .input-group-addon .fa{color:#fff;}
  .offer_label{font-size:15px;line-height: 22px;}
  .sh-btn-success{background-color: #f26622;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  outline:none;
      margin-right: auto;
    margin-left: auto;
    width: 50%;

}
  
  
 .request_extras{background:#f4f5f6;padding:20px;} 


 /*==================================== review and edit ==============================================*/
 .review_edit_section{padding:80px 0;}
 .review_edit_section .container{max-width:870px;text-align:center;}
.review_edit_section p{color:#000;font-size: 16px;}
.button_orng{background: #f16623;border: solid 1px #f16623;color: #fff;border-radius: 0px;outline: none!important;}
.cancel_label{color:#f16623;text-transform:uppercase;font-size:18px;}


a:hover,
a:focus
{
    color: #f16623;
    text-decoration:none;
}

.overlay_placeholder{position: relative;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  margin-bottom: 10px;}
  
.overlay_placeholder img{width: 100%;}
.layer {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	}
.featured_tag{text-align:center;padding:65px 0;color:#fff;}
.featured_tag h1{font-family:'geometria_lightlight', sans-serif;}
.sh-btn-rounded {
  box-shadow: none;
  font-weight: 700;
  border-radius: 30px;
  outline:none!important;
  margin: 20px 0 0;
}
.contest_status{margin:30px 0;}
.contest_status span{color: #fff;font-size:30px;padding:0 20px;}
.request_status_msg span{  font-size: 16px;vertical-align: middle;padding: 0 20px;}
.request_status_msg span .fa{margin-right:6px;}
.request_brief_wrapper{margin-bottom:10px;}
.request_brief_inside{border:solid 1px #ddd;padding:30px;}
.request_brief_creator{background:#f0f2f2;border-radius:6px;margin-bottom:20px;}
.request_brief_creator .media{background:#e56b30;padding:20px;border-radius:6px 6px 0 0;}
.request_brief_creator .media .media-body .media-heading{color:#fff;font-size:18px;font-weight:normal;text-align: left;}
.request_brief_creator .media .media-body h5{font-weight:normal;text-align: left;color:#fff;}
.statsbox{padding:22px;}
.statsbox span{font-size:18px;display: block;margin-bottom: 10px;}
.statsbox span .fa{padding-right:10px;}
.brief_requirements_section{color:#000;font-size:16px;}
.brief_requirements_section h2{text-align:left;font-size:24px;font-family:'geometria_lightlight', sans-serif;margin-top:0px;font-weight: bold;}
.brief_requirements_section p{color:#000;}
.brief_requirements_section .row{margin-bottom:5px;}
.label-default {background-color: #e56b30;}
.label{padding:5px 10px;}

/*==================================== cart listing ==============================================*/

.cart_listing_box{padding:30px 0;}
.cart_listing_box h2{text-align:left;}
.cart_listing_box .cart-item{padding: 15px 0;border-top: 1px solid #eaeaea;}
.cart_product_thumb img{width:100%;}
.product_detail a{color:#f1671e;font-weight:bold;font-size: 16px;}
.product_detail p{margin-bottom:0px;color:#000;font-size:15px;}
.item-details .price-details {float: right;width: 200px;margin-top: 30px;overflow: hidden;}
.item-details .price-details h3{text-align: right;  font-weight: bold;float: right;margin: 0;}
.price-details a{float:right;}
.price-details a .fa{color: #929393;font-size: 26px;padding: 0 10px;}
.order_summary_box .light{margin-bottom:20px;}
.order_summary_box{background:#f3f3f2;padding:20px;}
.order_summary_box .summ_row {  overflow: hidden;  margin-bottom: 5px;font-family: 'museo_sans500', Arial, Helvetica, sans-serif;}
.order_summary_box .summ_row span.lbl {  float: left;  width: 175px;}
.order_summary_box .summ_row span.item {  float: right;}
.order_summary_box hr { border-top: 1px solid #9B9A99;}

/*==================================== product detail ==============================================*/
.product_detail_box{padding:30px 0;}
.product_inner{border: solid 1px #ddd;padding: 30px;}
.product_image{margin-bottom:15px;}
.product_image img{width:100%;}
.product_description .media-heading{text-align:left;font-size:24px;}
.user_default_btn{border:solid 1px #f36324;}
.detail_description{margin:30px 0;font-family: 'museo_sans500', Arial, Helvetica, sans-serif;}
.detail_description dl dt{text-transform:uppercase;font-size:18px;font-weight: normal;}
.detail_description dl dd{color:#565656;}
.detail_description .row{margin-bottom:5px;}
.like_widget{font-size:18px;color:#565656;}
.like_widget .fa{color:#bababa;font-size:25px;}
.social_share_widget{font-size: 18px;color: #565656;}
.social_share_widget a{color:#f1671e;}
.social_share_widget .fa{font-size: 25px;padding:0 0 0 3px;}


.follow_widget{font-size:18px;color:#565656;}
.follow_widget .fa{color:#bababa;font-size:25px;}
.spam_widget{font-size:18px;color:#565656;}
.spam_widget .fa{color:#bababa;font-size:25px;}
.i_acted_widget{color: #F16623!important;}

#video_popup .modal-dialog{max-width:700px;width:100%;}

/*==================================== add credit card ==============================================*/

.payment_section{border: solid 1px #ddd; padding: 30px;}
.payment_form h2{text-align: left;margin: 0;font-family: 'geometria_lightlight', sans-serif;color: #000;font-size: 34px;}
.payment_form h3{font-family: 'geometria_lightlight', sans-serif;color: #000;text-align: left;margin:6px 0 0;}
.payment_form{margin-top:15px;}
.payment_form h4{font-size: 20px;text-align: left;font-weight: normal;padding: 20px 0 15px 0;}

/*==================================== user timeline ==============================================*/

.user_timeline{padding:30px 0;}
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
          }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 15px;
            height: 15px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 36px;
            left: 51.5%;
            margin-left: -25px;
            background-color: #f16621;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
	text-align: left;
	margin: 0;
}
.timeline-heading img{  width: 40px;
  height: 40px;
  border-radius: 50px;
  float: left;
  margin-right: 10px;}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }
	

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 33px;
		margin-left: 0;
		top: 34px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
    body { 
        padding-top: 20px;
    }
			
}
.icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;}
.like_comment_widget{margin:10px 0 0;}
.like_comment_widget a{color:#000;}
.like_comment_widget .fa{font-size: 14px;color: #000;padding-right: 4px;}



/*===========search ============*/

 .author {
  text-align: left;
  overflow: hidden;
  position: absolute;
  bottom: 10px;
  left: 26px;
  z-index: 5000;
  width: 100%;
}

.cart-icon {
  position: absolute;
  width: auto;
  height: auto;
  right: 27px;
  top: 11px;
  color: #ffffff;
  z-index: 10;
}
.cart-icon a.cart-white {
  color: #ffffff !important;
  font-size: 20px;
}
.author p {
  padding-left: 5px;
  color: #fff;
  font-size: .8em;
  text-align: left;
  text-transform: none;
  font-weight: bold;
}

.author img {
  float: left;
  display: block;
  width: 30px;
  height:30px;
}

.result-details {
  border-bottom: 1px solid #ddd;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.result-num {
  text-align: left;
  padding-left: 0;
}
.result-right {
  padding-right: 0;
  text-align: right;
}
.srch-rslt-ttle {
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
}
.padd-top-zero {
  padding-top: 0;
}

.search-bar {
  background: #eee;
  padding-top: 25px;
  padding-bottom: 25px;
}

.custom-pagina {
  border-radius: 0;
  font-size: 1.3em;
  color: #ccc !important;
  width: 100%;
  text-align: center;
}
.custom-pagina li{display:inline-block;}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #f26622;
  border-color: #337ab7;
  border: none;
}

.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #333;
  text-decoration: none;
  background-color: #fff;
  border: none;
}

.search-filters {
  min-height: 68px;
  padding: 20px 0 10px;
  background-color: #e9e9e9;
  box-shadow: 0 0 0 rgba(218,217,212,.5);
}
.search-filters .search-result-title {
  margin: 5px 0;
  text-align:left;
}	

/*========================user edit=================================*/
.sh-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:10;
  background: -webkit-linear-gradient(top,transparent 0,rgba(0,0,0,.55) 50%,rgba(0,0,0,.95) 100%)!important;
  background: -moz-linear-gradient(top,transparent 0,rgba(0,0,0,.55) 50%,rgba(0,0,0,.95) 100%)!important;
  background: -o-linear-gradient(top,transparent 0,rgba(0,0,0,.55) 50%,rgba(0,0,0,.95) 100%)!important;
  background: -ms-linear-gradient(top,transparent 0,rgba(0,0,0,.55) 50%,rgba(0,0,0,.95) 100%)!important;
  background: linear-gradient(top,transparent 0,rgba(0,0,0,.55) 50%,rgba(0,0,0,.95) 100%)!important;
}

.profile-action.center {
  display: inline-block;
  left: 0;
  right: 0;
  position: absolute;
  top: 30px;
  z-index:20;
}
.profile-action .btn-upload{color:#fff;}
.profile-action.right {
  right: 30px;
  position: absolute;
  top: 30px;
  z-index:100;
}

.sh-btn-white {
  background-color: #FFF;
  color: #262b31!important;
  border: 0;
  padding: 8px 10px;
  vertical-align: top;
}

.profile-info {
  position: relative;
  color: #FFF;
  padding: 0 40px;
  margin-top: 50px;
  margin-bottom: 80px;
  z-index:10;
  top:35%;
}

.profile-info .avatar-profile {
  position: relative;
  display: inline-block;
  border: 8px solid rgba(255,255,255,.3);
  border-radius: 50%;
}

.btn-avatar {
  position: absolute;
  top: 0;
  left: 0;
  outline:none!important;
  width: 100%;
  height: 100%;
  color: #FFF;
  background-color: rgba(0,0,0,.3);
  text-shadow: 0 0 3px rgba(0,0,0,.2);
  border-radius: 50%;
}


.profile-info .avatar-profile .avatar {
  width: 135px;
  height: 135px;
  background-size: cover;
  background-position: center center;
  border: none;
  border-radius: 50%;
}

.file-upload {
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 87%;
}
.file-upload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.profile-info .form-control{border-radius: 0px;box-shadow: none;border: none;height: 40px;}


/*========================Forgot password=================================*/


.forgot_password_section{padding:30px 0;}
.forgot_form fieldset{width:100%;}


/*========================how it works=================================*/
.intro_section {  background: #f7f7f7;}
.intro_section .section-content {padding: 40px 30px 50px;text-align: center;}
.section-steps { text-align: center;}
.margin-bottom-big {  margin-bottom: 40px!important;}
.margin-top {  margin-top: 20px!important;}
.section-steps .step-num {
  display: inline-block;
  border: 1px solid #71726E;
  border-radius: 100px;
  width: 80px;
  height: 80px;
  color: #71726E;
  font-size: 40px;
  font-weight: 200;
  line-height: 80px;
}
.section-steps h4 {
  padding: 0 20px;
  font-size: 18px;
}

.intro-section .section-content {
  padding: 40px 30px 50px;
  text-align: center;
}

.intro_canvas img{width:100%;}

/*========================order placed=================================*/

.orderplace_section{padding:30px 0;}
.checkout_box{border: 1px solid #eaeaea;}
.checkout_box .panel-heading{background:#f8eae3;border:none;}
.checkout_box .panel-title h5{color: #000;  text-align: left;  font-size: 25px;}
.contine_shop_button{padding: 14px 0;background-color: #f26622;border: solid 1px #f26622;padding: 8px 0;
  background-color: #f26622;
  border: solid 1px #f26622;
  font-size: 20px;}
  
  
/*========================extra added css=================================*/  
.modal-dialog{margin:0 auto;}
.modal{padding:10px;}
a:hover {cursor:pointer;}
.radio-user-type{padding-right: 0;}
.detail_description a{color:#f16623;padding:0 0px;}
.video_quality_sec{margin:20px 0 ;text-align:center;background-color: rgb(231, 234, 234);padding: 20px 0;}
.video_res{display:inline-block;float:none;}
.video_price{padding-top:20px;}
.video_price span{color:#f16623;font-size:25px;  padding: 0 10px;}
.video_res input[type="checkbox"] {
    display: none;
}

.video_res input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.video_res input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.video_res input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.video_res input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.video_res input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}
.contact-alert{
    color: orangered;
    font-weight: bold;
    text-align: center;
    font-size: 18px
}
.footlinks li a{color:#333;}
.custom_select .dropdown-menu{width:100%;}
.toggle4 input{ border: solid 1px #bfbfbf;height: 45px;box-shadow: none;font-size: 18px;}
.toggle4 .main-btn-1{margin-top:0px;}
.box .form-control{height: 42px;font-size: 15px;box-shadow:none;border:none;}
.box .form-control option{font-size: 20px;background-color: #666;color: #fff;}
.bt_pricerange{display:block;}
.bt_pricerange b{font-weight:bold;}

.rating {float:left;}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    
}

.rating:not(:checked) > label:before {
    content: "\2605";
}

.rating > input:checked ~ label {
    color: #f70;
    
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
   
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
   
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}


h4.search-title {
  font-size: 1.1em;
  padding-bottom: 10px;
  border-bottom: 1px solid #dad9d4;
  margin-bottom: 29px;
  text-align: left;
}

h4.search-title small {
  float: right;
  font-family: "Apercu Medium","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-top: 3px;
}
h4.search-title small a{color:#f26622;}
/*===========================================create contest========================================*/
.sh-card-request {
  margin-bottom: 20px;
  background-color: #9B9A99;
  background-position: center center;
}

.sh-card-background {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.sh-card {
  position: relative;
}
.sh-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: -webkit-linear-gradient(top,transparent 0,rgba(0,0,0,.55) 50%,rgba(0,0,0,.95) 100%)!important;
  background: -moz-linear-gradient(top,transparent 0,rgba(0,0,0,.55) 50%,rgba(0,0,0,.95) 100%)!important;
  background: -o-linear-gradient(top,transparent 0,rgba(0,0,0,.55) 50%,rgba(0,0,0,.95) 100%)!important;
  background: -ms-linear-gradient(top,transparent 0,rgba(0,0,0,.55) 50%,rgba(0,0,0,.95) 100%)!important;
  background: linear-gradient(top,transparent 0,rgba(0,0,0,.55) 50%,rgba(0,0,0,.95) 100%)!important;
  height: 100%;
  display: block;
}
.sh-card-request .content {
  height: 225px;
}
.sh-card-request .content {
  position: relative;
  z-index: 200;
  padding: 12px;
  height: 260px;
  padding-top: 33px;
  top: 0;
  width: 100%;
  border: 0 solid #FFF;
}
.sh-card-request .sh-card-request-top {
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
}
.sh-card-request .challenge-indicator {
  position: absolute;
  top: 25px;
  left: 25px;
  color: #FFF;
}
.fa-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}
.sh-card-request .challenge-indicator span {
  display: none;
  padding: 1px 8px;
  margin: -2px 0 0 8px;
  background-color: rgba(0,0,0,.3);
  border-radius: 2px;
}
.sh-card-request .sh-card-request-top .request-type {
  display: none;
}
.sh-card-request .request-type {
  position: relative;
  font-size: .7em;
  line-height: 16px;
  letter-spacing: 1px;
  opacity: 1;
  background: 0 0;
  color: #dad9d4;
  text-align:left;
  margin:0;
}
.sh-card-request .request-title {
  font-size: 1.4em;
}
.sh-card-request .request-title {
  font-family: "Apercu Light","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.7em;
  font-weight: 200;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 135px;
  line-height: 1.1em;
  padding: 0 22px;
  color: #fff;
}
.sh-card-request .sh-card-request-top .request-name, .sh-card-request .sh-card-request-top .request-price, .sh-card-request .sh-card-request-top .request-type {
  display: none;
}
.sh-card-request .request-name {
  display: block;
  letter-spacing: -1px;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #FFF!important;
  white-space: nowrap;
  overflow: hidden;
  text-align:left;
  margin:0;
}
.sh-card-request .request-price {
  float: right;
  display: inline-block;
  height: 50px;
  width: 50px;
  background: 0 0;
  font-weight: 700;
  color: #FFF;
  text-align: center;
  border-radius: 100px;
  opacity: .8;
  margin: -9px auto;
  padding: 16px 0 0;
  font-size: 1em;
  border: 2px solid #FFF;
}
.sh-card-request .request-details {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 107px;
  padding: 0 22px;
  font-size: 13px;
  color: rgba(255,255,255,.6);
}
.sh-card-request .request-time {
  float: left;
  font-weight: 700;
  position: relative;
  background: 0 0;
  padding: 0;
  border-radius: 30px;
  letter-spacing: 0;
  width: auto;
  text-align: left;
}
.sh-card-request .request-stats-right {
  position: relative;
  float: right;
  font-weight: 700;
  padding: 0 0 0 10px;
}
.sh-card-request .request-stats-right .sh-icon {
  margin-right: 3px;
  line-height: 0;
  font-size: 1.9em;
  font-weight: 400;
  vertical-align: -1px;
}
.sh-card-request .request-stats-right {
  position: relative;
  float: right;
  font-weight: 700;
  padding: 0 0 0 10px;
}
.sh-card-request .request-stats-right .sh-icon {
  margin-right: 3px;
  line-height: 0;
  font-size: 1.9em;
  font-weight: 400;
  vertical-align: -1px;
}
.sh-card-request .sh-card-request-chin {
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid rgba(255,255,255,.5);
  margin: 0 22px;
}
.sh-card-request .request-user {
  position: relative;
  font-size: 1em;
  font-family: "Apercu Medium","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #FFF;
  opacity: .95;
  font-weight: 600;
  bottom: 1px;
  line-height: 1.2em;
}
.sh-card-request .avatar {
  width: 32px;
  float: left;
  border: 0 solid #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.4);
  margin-right: 7px;
  border-radius: 50%;
}
.request-details .request-stats-right .fa{padding-right:5px;}


#block, #block_b{display:none;background:#fff;padding:10px;text-align:center;}
.price-box{position:relative;float:right;}

.option-price {  
    display: inline-block;  
    position: relative;  
    margin: 0;  
    color: #f26622;
    font-size:22px;     
    padding-top: 30px;
}
.request_form_box .radio_label{font-size: 16px;}
.request_form_box .radio-custom-label{font-size: 12px;}
.contest_requests{margin-bottom:20px;}

.request_form_box label {
    font-size: 16px;
    padding-top: 15px;
}

.request_form_box .request-ico {
    display: inline-block;
    clear:both;
    vertical-algin: middle;
    float: left;
}

.request_form_box .request-icon-input input {
    display: inline-block;
    vertical-algin: middle;
}

/*=================video duration slider=============================*/


.bubble-slider {
	display: block;
	width: 100%;
	margin: 20px auto;
	padding: 20px;
	font-size: 16px;
}

.bubble-slider-wrap {
	position: relative;
	display: block;
	width: 100%;
	height: 50px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bubble-slider-wrap:after,.bubble-slider-wrap:before {
	content: '';
	display: table;
}

.bubble-slider-wrap:after {
	clear: both;
}

.bubble-slider-track {
	position: absolute;
	left: 40px;
	right: 40px;
	top: 25px;
	height: 2px;
	background: #e5e5e5;
}

.bubble-slider-thumb {
	position: absolute;
	top: -25px;
	width: 50px;
	height: 50px;
	background: #f26622!important;
	border-radius: 50%;
	cursor: ew-resize;
}

.bubble-slider-bubble {
	position: absolute;
	top: 23px;
	left: 25px;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.bubble-slider-bubble span {
	padding:0;
	display: inline-block;
	font-size: 18px;
	color: #fff;
	border-radius: 5px;
}

.bubble-slider-bubble-arrow {
	background:#f26622;
	position: absolute;
	left: 50%;
	bottom: -3px;
	margin-left: -5px;
	width: 10px;
	height: 10px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	display:none;
}

.bubble-slider-minus {
	position: relative;
	float: left;
}

.bubble-slider-plus {
	position: relative;
	float: right;
}

.bubble-slider-minus,.bubble-slider-plus {
	top: 10px;
	width: 30px;
	height: 30px;
	color: #595959;
	font-size: 18px;
	border: 2px solid #e5e5e5;
	border-radius: 50%;
	cursor: pointer;
}

.bubble-slider-minus span {
	top: 45%;
}

.bubble-slider-minus span,.bubble-slider-plus span {
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.bubble-slider-plus span {
	top: 50%;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  width: 20%;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.uploadBtn {
  display: inline-block;
  vertical-align: top;
  background: #f8f8f9;
  font-size: 14px;
  padding: 0 15px;
  height: 70px;
  line-height: 22px;
  color: #fff;
  width: 100%;
  text-align: right;
  cursor: pointer;
}
.uploadBtn .fa {
  padding-top: 22%;
  color: #23cc63;
  font-size: 22px;
}
.story_tell{margin:0;padding:0;}
.story_tell li{list-style:none;float:left;padding:0 2px;}
.story_tell li a{display: inline-block;
    padding: 10px 15px;
    position: absolute;
    z-index: 10;
    top: 1px;
    right: 0px;}
.story_tell li a .fa{color:#f26622;font-size:25px;line-height: 10px;}



/*======================story tell vertical tabbed panel================================*/

/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  min-height: 400px;
  background-color: #f2f2f2;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
  text-align:left;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  
  padding-right: 5px;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #f26622;
  background-image: #f26622;
  color: #ffffff;
  border:none;
  border-radius:0px;
  padding-right: 3px;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #f26622;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}
.bhoechie-tab-menu .list-group-item{background-color: transparent;}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
#story_board01 .modal-dialog{  max-width: 900px;width:100%;}
#story_board01 .modal-body {padding: 0px 15px;}
#story_board01 .modal-header{border-bottom:none;}
.video_upload_box{

	position: relative;
    height: 50px;
    width: 50px;
    background: #FFF;
    background-size: cover;
    border: 2px solid #e9e9e9;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}
  .video_upload_box .fa{line-height: 2em;font-size: 24px;color: #ccc;}
  
  .file-loading {
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    font-size: 999px;
    text-align: right;
    color: #fff;
    background: transparent url('../img/loading.gif') top left no-repeat;
    border: none;
}

.file-object {
    margin: 0 0 -5px 0;
    padding: 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    background: none repeat scroll 0 0 transparent;
    cursor: inherit;
    display: block;
}

.file-caption-name {
    display: inline-block;
    overflow: hidden;
    height: 20px;
    word-break: break-all;
}

.input-group-lg .file-caption-name {
    height: 25px;
}

.file-preview-detail-modal {
    text-align: left;
}

.file-error-message {
    color: #a94442;
    background-color: #f2dede;
    margin: 5px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    padding: 15px;
}

.file-error-message pre, .file-error-message ul {
    margin: 0;
    text-align: left;
}

.file-error-message pre {
    margin: 5px 0;
}

.file-caption-disabled {
    background-color: #EEEEEE;
    cursor: not-allowed;
    opacity: 1;
}

.file-preview {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
}

.file-preview-frame {
    display: table;
    margin: 8px;
    height: 160px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 5px 0 #a2958a;
    padding: 6px;
    float: left;
    text-align: center;
    vertical-align: middle;
}

.file-preview-frame:not(.file-preview-error):hover {
    box-shadow: 3px 3px 5px 0 #333;
}

.file-preview-image {
    height: 160px;
    vertical-align: middle;
}

.file-preview-text {
    text-align: left;
    width: 160px;
    margin-bottom: 2px;
    color: #428bca;
    background: #fff;
    overflow-x: hidden;
}

.file-preview-other {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 160px;
    height: 160px;
    border: 2px solid #999;
    border-radius: 30px;
}

.file-preview-other:hover {
    opacity: 0.8;
}

.file-actions, .file-other-error {
    text-align: left;
}

.file-icon-lg {
    font-size: 1.2em;
}

.file-icon-2x {
    font-size: 2.4em;
}

.file-icon-4x {
    font-size: 4.8em;
}

.file-input-new .file-preview, .file-input-new .close, .file-input-new .glyphicon-file,
.file-input-new .fileinput-remove-button, .file-input-new .fileinput-upload-button,
.file-input-ajax-new .fileinput-remove-button, .file-input-ajax-new .fileinput-upload-button {
    display: none;
}

.file-thumb-loading {
    background: transparent url('../img/loading.gif') no-repeat scroll center center content-box !important;
}

.file-actions {
    margin-top: 15px;
}

.file-footer-buttons {
    float: right;
}

.file-upload-indicator {
    padding-top: 2px;
    cursor: default;
    opacity: 0.8;
    width: 60%;
}

.file-upload-indicator:hover {
    font-weight: bold;
    opacity: 1;
}

.file-footer-caption {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 160px;
    text-align: center;
    padding-top: 4px;
    font-size: 11px;
    color: #777;
    margin: 5px auto 10px auto;
}

.file-preview-error {
    opacity: 0.65;
    box-shadow: none;
}

.file-preview-frame:not(.file-preview-error) .file-footer-caption:hover {
    color: #000;
}

.file-drop-zone {
    border: 1px dashed #aaa;
    border-radius: 4px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 12px 15px 12px 12px;
    padding: 5px;
}

.file-drop-zone-title {
    color: #aaa;
    font-size: 40px;
    padding: 85px 10px;
}

.file-highlighted {
    border: 2px dashed #999 !important;
    background-color: #f0f0f0;
}

.file-uploading {
    background: url('../img/loading-sm.gif') no-repeat center bottom 10px;
    opacity: 0.65;
}

.file-thumb-progress .progress, .file-thumb-progress .progress-bar {
    height: 10px;
    font-size: 9px;
    line-height: 10px;
}

.file-thumbnail-footer {
    position: relative;
}

.file-thumb-progress {
    position: absolute;
    top: 22px;
    left: 0;
    right: 0;
}
.option-info {
  clear: both;
  margin: 0;
  color: #71726E;
  font-size: 1em;
  text-align: center;
}
.margin-bottom {
  margin-bottom: 20px!important;
}
.rqst_form .box .form-control{  border: solid 1px #ddd;margin-bottom:15px;}

.choose_fvrt_btn, .choose_fvrt_btn:hover, .choose_fvrt_btn:focus{
background: #8E8E8E;
  color: #fff;
  display: block;
  padding: 10px 0;
  border-radius: 30px;
  outline:none!important;}
  
  #choose_favorite_model .modal-dialog{max-width:900px;width:100%;}
  .search_members_field label{line-height:45px;text-align:right;}
  
  .well {
  background-color: #f3f3f2;
  box-shadow: none;
  border-radius: 3px;
  border: none;
  padding: 0;
}
.text-center {
  text-align: center;
}
.invite-box {
  position: relative;
  display: inline-block;
  padding: 5px 2px 0;
  vertical-align: middle;
}
.invite-box .avatar-placeholder {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: #dad9d4;
  border-radius: 50%;
}
.invite-box .remove.disabled {
  display: none;
}
.invite-box .remove {
  display: inline-block;
  position: absolute;
  top: -1px;
  right: -1px;
  text-align: center;
  width: 21px;
  height: 21px;
  line-height: 21px;
  background-color: #FFF;
  border-radius: 100%;
  color: #7CCFBF;
}
.clear_link{display: inline-block; padding: 5px 2px 0 2px; vertical-align: middle;}
.clear_link a{color:#f26622;}
.sh-card-leaderboard-photographer {
  position: relative;
  padding: 17px 20px;
  box-shadow: none;
  background: #f7f7f7;
  margin-bottom:15px;
}
.sh-card-leaderboard-photographer .info {
  margin-bottom: -6px;
}
.sh-card-leaderboard-photographer .avatar {
  position: absolute;
  top: 38px;
  left: 16px;
  margin-top: -37px;
  width: 75px;
  height: 75px;
  border-radius:50%;
}
#request.edit .invite-card .details {
  margin-top: 8px;
}
.sh-card-leaderboard-photographer .details {
  padding-left: 105px;
}
#request.edit .invite-card .name {
  font-size: 17px;
  line-height: 19px;
}
#request.edit .invite-card .stats {
  margin: 0 0 5px;
}
#request.edit .invite-card .account-status-level {
  font-size: 12px;
  line-height: 12px;
}
.account-status-level {
  text-align: center;
  text-transform: uppercase;
  color: #71726E;
  font-size: 14px;
}
.sh-btn-mini, .sh-btn-mini .sh-btn {
  font-size: 11px;
  height: 24px;
  padding: 6px 12px;
  line-height: 13px;
  display: inline-block;
  text-transform: uppercase;
  }
  .details .name{font-weight:bold;color:#f16623;}
  .videographers_search_form{margin-bottom:15px;}
  .contest_videos .thevideo{width:120px;}
  .videographers_search_form .form-control{border: solid 2px #dcdcdc;height: 45px;box-shadow: none;border-radius: 0px;}
  #choose_favorite_model .modal-header{border-bottom:none;}
  
  .pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}

#geocomplete { width:100%;border: solid 1px #ddd;height:38px;padding:10px;}

.map_canvas { 
  width: 300px; 
  height: 400px; 
  margin: 10px 20px 10px 0;
}

#multiple li { 
  cursor: pointer; 
  text-decoration: underline; 
}



/*===============fast select====================*/

/*----------------------------------------------------------------------------------------------------
General styling
----------------------------------------------------------------------------------------------------*/
@-webkit-keyframes fstAnimationEnter {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -1em, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes fstAnimationEnter {
  from {
    opacity: 0;
    -moz-transform: translate3d(0, -1em, 0);
  }
  to {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
  }
}
@keyframes fstAnimationEnter {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -1em, 0);
    -moz-transform: translate3d(0, -1em, 0);
    -ms-transform: translate3d(0, -1em, 0);
    -o-transform: translate3d(0, -1em, 0);
    transform: translate3d(0, -1em, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fstElement {
  display: inline-block;
  position: relative;
  border: 1px solid #D7D7D7;
  box-sizing: border-box;
  color: #232323;
  font-size: 1.1em;
  background-color: #fff;
  width:100%;
}
.fstElement > select,
.fstElement > input {
  position: absolute;
  left: -999em;
}

.fstToggleBtn {
  font-size: 1.4em;
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 0.71429em 1.42857em 0.71429em 0.71429em;
  min-width: 14.28571em;
  cursor: pointer;
}
.fstToggleBtn:after {
  position: absolute;
  content: "";
  right: 0.71429em;
  top: 50%;
  margin-top: -0.17857em;
  border: 0.35714em solid transparent;
  border-top-color: #cacaca;
}

.fstQueryInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  border: 0;
}

.fstResults {
  position: absolute;
  left: -1px;
  top: 100%;
  right: -1px;
  max-height: 30em;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #D7D7D7;
  border-top: 0;
  background-color: #FFF;
  display: none;
}

.fstResultItem {
  font-size:16px;
  display: block;
  padding: 0.5em 0.71429em;
  margin: 0;
  cursor: pointer;
  border-top: 1px solid #fff;
}
.fstResultItem.fstFocused {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
.fstResultItem.fstSelected {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

.fstGroupTitle {
  font-size: 1.4em;
  display: block;
  padding: 0.5em 0.71429em;
  margin: 0;
  font-weight: bold;
}

.fstGroup {
  padding-top: 1em;
}
.fstGroup:first-child {
  padding-top: 0;
}

.fstNoResults {
  font-size: 1.4em;
  display: block;
  padding: 0.71429em 0.71429em;
  margin: 0;
  color: #999;
}

/*----------------------------------------------------------------------------------------------------
Single Mode
----------------------------------------------------------------------------------------------------*/
.fstSingleMode .fstControls {
  position: absolute;
  left: -1px;
  right: -1px;
  top: 100%;
  padding: 0.5em;
  border: 1px solid #D7D7D7;
  background-color: #fff;
  display: none;
}
.fstSingleMode .fstQueryInput {
  font-size: 1.4em;
  display: block;
  width: 100%;
  padding: 0.5em 0.35714em;
  color: #999;
  border: 1px solid #D7D7D7;
}
.fstSingleMode.fstActive {
  z-index: 100;
}
.fstSingleMode.fstActive.fstElement,
.fstSingleMode.fstActive .fstControls,
.fstSingleMode.fstActive .fstResults {
  box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.1);
}
.fstSingleMode.fstActive .fstControls {
  display: block;
}
.fstSingleMode.fstActive .fstResults {
  display: block;
  z-index: 10;
  margin-top: -1px;
}

/*----------------------------------------------------------------------------------------------------
Multiple mode
----------------------------------------------------------------------------------------------------*/
.fstChoiceItem {
  display: inline-block;
  font-size: 13px;
  position: relative;
  margin: 0 2px 0 0;
  padding:5px 22px 5px 5px;
  float: left;
  border-radius: 0.25em;
  border: 1px solid #f26622;
  cursor: auto;
  color: #fff;
  background-color: #f26622;
  -webkit-animation: fstAnimationEnter 0.2s;
  -moz-animation: fstAnimationEnter 0.2s;
  animation: fstAnimationEnter 0.2s;
}
.fstChoiceItem.mod1 {
  background-color: #F9F9F9;
  border: 1px solid #D7D7D7;
  color: #232323;
}
.fstChoiceItem.mod1 > .fstChoiceRemove {
  color: #a4a4a4;
}

.fstChoiceRemove {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: none;
  font-size:18px;
  position: absolute;
  right: -2px;
  top: 50%;
  width: 1.28571em;
  line-height: 1.28571em;
  margin-top: -0.64286em;
  text-align: center;
  color: #fff;
}
.fstChoiceRemove::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.fstMultipleMode .fstControls {
  box-sizing: border-box;
  padding:5px;
  overflow: hidden;
  width: 100%;
  cursor: text;
  border: solid 1px #dcdcdc;
}
.fstMultipleMode .fstQueryInput {
  font-size:16px;
  float: left;
  padding: 0.28571em 0;
  margin: 0 0 0.35714em 0;
  width: 2em;
  color: #999;
}
.fstMultipleMode .fstQueryInputExpanded {
  float: none;
  width: 100%;
  padding:0px;
  height:27px;
}
.fstMultipleMode .fstFakeInput {
  font-size: 1.4em;
}
.fstMultipleMode.fstActive,
.fstMultipleMode.fstActive .fstResults {
  box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.1);
  width:100%;
}
.fstMultipleMode.fstActive .fstResults {
  display: block;
  z-index: 10;
  border-top: 1px solid #D7D7D7;
}
.attireMainNav{display:none;}


/*============================contest detail css======================================*/
.backblur-background {
  background: #252b33;
  -webkit-filter: none;
  opacity: 1;
}
.backblur {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 605px;
  background-size: cover;
  background-position: 100% 50%;
  opacity: .3;
  z-index: 0;
  -webkit-filter: blur(10px);
}
#requests.detail #request-detail {
  margin-top: 25px;
}
.request-brief {
  padding: 0!important;
  top: 0px;
  z-index: 0;
  box-shadow: 0 0 0 #cdcdcd;
  margin: 0 auto;
  border-bottom: 0 solid #31B89C!important;
}
.request-detail-top {
  margin-top: 55px;
}

.request-brief .share-control{z-index: 10;position: absolute;top: 50px;left: 50px;}
.share-control ul li {
  padding: 0;
}
.share-control .action-icon {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 40px;
  margin: 0 3px;
  padding: 0;
  text-align: center;
  border: 1px solid #FFF;
  border-radius: 50px;
  font-size: 19px;
  color: #FFF;
}
.request-action-center {
  position: relative;
  text-align: left;
  max-width: 1165px;
  padding: 125px 60px 20px;
}
.request-action-center .featured-tag {
  display: block;
  position: relative;
  background: 0 0;
  color: #FFF;
  opacity: .7;
  font-size: .9em;
  padding: 0;
}
.featured-tag {
  font-size: .8em;
  padding: 5px 8px;
  background: #f15f5e;
  font-weight: 700;
  color: #FFF;
  letter-spacing: 2px;
  border-radius: 2px;
}
.request-brief .request-title-headline {
  color: #FFF;
  position: relative;
  margin: 0 0 5px;
  font-size: 3em;
  font-family: "Apercu Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  padding-left: 0;
  letter-spacing: -3px;
  line-height: 1.1em;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
}
.request-action-center .request-title-creator .company, .request-action-center .request-title-creator .name {
  font-size: 1.2em;
  color: #dad9d4;
  display: inline;
  opacity: .85;
}
.request-action-center .sh-btn, .request-empty-message .sh-btn {
 
  width: 200px;
  margin: 20px 0 0; 
}
.text-right {  text-align: right;}
.request-action-center .price {
  float: right;
  margin-top: 8px;
  height: 70px;
  width: 70px;
  padding: 18px 0 0;
  font-size: 1.5em;
  border: 3px solid #fff;
  color: #FFF;
  text-align: center;
  border-radius: 100px;
  font-weight: 600;
  letter-spacing: -1px;
}
.request-status-bar {
  color: #e9e9e9;
  margin-top: 30px;
}
.request-status-bar .request-status-msg.active {
  color: #FFF;
}
.request-status-bar .request-status-msg {
  display: inline-block;
  margin: 0 10px;
  font-size: .9em;
  line-height: 1.6em;
  color: rgba(255,255,255,.4);
}
.margin-none {
  margin: 0!important;
}
.request-brief .overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 100% 30%;
  z-index: -1;
}
 #sh-content {
  margin-top: 0;
  padding: 0 0 40px;
  width: 100%;
}
.request-brief {
  padding: 0!important;
  top: 76px;
  z-index: 0;
  box-shadow: 0 0 0 #cdcdcd;
  margin: 0 auto;
  border-bottom: 0 solid #31B89C!important;
}
.request-brief, .request-detail-top {
  position: relative;
  position: relative;
}
.sh-overlay, .sh-overlay-both, .sh-overlay-loading {
  height: 100%;
  display: block;
}
.request-detail-top .sh-overlay{z-index: 0;}
.request-action-center h1{color:#fff;}
.request-brief-wrapper {
  display: block;
  background: #fff;
  top: 76px;
  margin: 0 auto 80px;
  padding: 40px 40px 0;
  border-bottom: 0 solid #dad9d4;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 2px #dbdbd7;
}
.request-brief-wrapper .request-brief-inside {
  background: #FFF;
}
.statsbox .well {
  padding: 0;
  margin: -5px 0 10px;
  background: 0 0;
  border: none;
  box-shadow: none!important;
}
.request-brief-wrapper .request-brief-creator {
  position: relative;
  width: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  text-align: left;
  padding-bottom: 13px;
}
.request-brief-wrapper .request-brief-creator .info {
  padding-left: 50px;
  padding-top: 3px;
}
.request-brief-creator .company {
  font-size: .9em;
  color: #9B9A99;
}
.request-brief-creator span {
  display: block;
}
.statsbox .well li {
  padding: 2px 0;
  list-style:none;
}
.statsbox .well li h4 {
  font-size: .9em;
  margin: 5px 0;
  color: #9B9A99;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Apercu Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  opacity: .8;
  text-align:left;
}
.request-brief-wrapper .request-brief-creator .avatar {
  margin: none;
  float: left;
  width: 42px;
  height: 42px;
}
.participantbox {
  height: 75px;
}
.submissions-participants {
  display: inline-block;
  position: relative;
}
.submissions-participants .participant {
  display: inline;
  float: left;
  margin-right: 5px;
  width: 23px;
  height: 26px;
}
.avatar {
  width: 40px;
  border-radius: 50%;
}
.request-brief-wrapper .more {
  display: inline-block;
  background: #dad9d4;
  color: #FFFFFF;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  vertical-align: middle;
  font-weight: bold;
  text-align: center;
  letter-spacing: -1px;
  line-height: 14px;
  border-radius: 50%;
}
.contest_detail_tab .nav-tabs{border-bottom:none;}
.contest_detail_tab .nav-tabs li a{font-size: 13px;font-weight: bold;text-transform: uppercase;text-shadow: none;color:#f26622;  padding: 8px 30px;}
.contest_detail_tab .nav-tabs > li.active > a{background-color:#f26622;border:solid 1px #f26622;border-radius:3px;color:#fff;}
.contest_detail_tab .tab-content{padding:10px 0;}
.request-brief-requirements .requirement-label {color: #9B9A99;}
.request-brief-requirements h5{text-align:left;font-weight:bold;}
.request-brief-categories .category-tag {
  background: transparent;
  border: 1px solid #71726E;
  margin-right: 3px;
  margin-bottom: 7px;
}
.category-tag {
  display: inline-block;
  padding: 2px 8px;
  font-size: 0.8em;
  letter-spacing: 1px;
  border-radius: 2px;
  color: #9B9A99;
  background: #fff;
  text-transform: uppercase;
  border:solid 1px #ccc;
}

.user-hr-line{
    margin: 15px;
    font-size: 1.1em;
    border-bottom: solid 1px #ccc;
    text-align: left;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
.test {
    margin: 15px 0;
    font-size: 18px;
    border-bottom: solid 1px #ccc;
    text-align: left;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

#toast-container>.toast-info{
    background-color: #f26622;
}

.contest-result-tag{
    text-align: left;
    padding: 16px;
}

.spinner {
  width: 60px;
  height: 60px;
  background-color: #f26622;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}
.contest-spinner {
  width: 20px;
  height: 20px;
  background-color: #f26622;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}
.profile-spinner {
  width: 20px;
  height: 20px;
  background-color: #f26622;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.search-category-dropdown{
    padding-left: 2px;
    padding-right: 2px;

}
.drop-select{
    padding-bottom: 21px!important;
    padding-top: 21px!important;
}
.search-category-dropdown .chosen-container-single .chosen-single{border-radius: 0px!important;}
.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
    height: 36px!important;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
    background-color: white;
    border: none;
    color: #f26622;
}
.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
    color: #f26622;
    opacity: 1;
    text-shadow: none;
}




.glyphicon-bell {
   
    font-size:1.5rem;
  }

.notifications {
   min-width:360px; 
  }
  
  .notifications-wrapper {
     overflow:auto;
      max-height:250px;
    }
    
 .menu-title {
     color:#f26622;
     font-size:1.5rem;
      display:inline-block;
      }
.menu-title a{color:#f26622!important;}	  
 
.glyphicon-circle-arrow-right {
      margin-left:10px;     
   }
  
   
 .notification-heading, .notification-footer  {
 	padding:2px 10px;
       }
      
        
.dropdown-menu.divider {
  margin:5px 0;          
  }

.item-title {
  
 font-size:1.3rem;
 color:#000;
 text-align:left;
    
}

.notifications a.content {
 text-decoration:none;
 background:#ccc;

 }
    
.notification-item {
 padding:10px;
 margin:5px;
 background:#e7e7e7;
 border-radius:4px;
 }
 .notification_section{padding:20px 0;}
 .notification_body{text-align:left;}
 .notification_body .media-heading{text-align:left;}
 
 
 /*================================added in 08/04/2016=========================================*/
 
 .user_detail_dropdown{padding:10px;}
 
 
 
 /*====================================================added in 12/04/2016======================================================*/
 * -------------------------------- 

Main Components 

-------------------------------- *
.cd-header {
  position: relative;
  height: 150px;
  background-color: #331d35;
}
.cd-header h1 {
  color: #ffffff;
  line-height: 150px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 300;
}


.cd-main-content {
  position: relative;
  min-height: 100vh;
}
.cd-main-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-main-content.is-fixed .cd-tab-filter-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.cd-main-content.is-fixed .cd-gallery {
  padding-top: 76px;
}
.cd-main-content.is-fixed .cd-filter {
  position: fixed;
  height: 100vh;
  overflow: hidden;
}
.cd-main-content.is-fixed .cd-filter form {
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.cd-main-content.is-fixed .cd-filter-trigger {
  position: fixed;
}
@media only screen and (min-width: 768px) {
  .cd-main-content.is-fixed .cd-gallery {
    padding-top: 90px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-main-content.is-fixed .cd-gallery {
    padding-top: 100px;
  }
}

@media(min-width:768px) {
  .navbar-default {
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    padding: 15px 0;
    /* Add additional styles here for the UNCOLLAPSED state */
  }
  .navbar-default.affix {
    padding: 0;
    /* Add additional styles here for the COLLAPSED state */
  }
}

/* -------------------------------- 

xtab-filter 

-------------------------------- */
.cd-tab-filter-wrapper {
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  z-index: 1;
}
.cd-tab-filter-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.cd-tab-filter {
  /* tabbed navigation style on mobile - dropdown */
  position: relative;
  height: 50px;
  width: 140px;
  margin: 0 auto;
  z-index: 1;
}
.cd-tab-filter::after {
  /* small arrow icon */
  content: '';
  position: absolute;
  right: 14px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
.cd-tab-filter ul {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: inset 0 -2px 0 #b9b8b8;
}
.cd-tab-filter li {
  display: none;
}
.cd-tab-filter li:first-child {
  /* this way the placehodler is alway visible */
  display: block;
}
.cd-tab-filter a {
  display: block;
  /* set same size of the .cd-tab-filter */
  height: 50px;
  width: 140px;
  line-height: 50px;
  padding-left: 14px;
}
.cd-tab-filter a.selected {
  background: #b9b8b8;
  color: #ffffff;
}
.cd-tab-filter.is-open::after {
  /* small arrow rotation */
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -moz-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  -o-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
}
.cd-tab-filter.is-open ul {
  box-shadow: inset 0 -2px 0 #b9b8b8, 0 2px 10px rgba(0, 0, 0, 0.2);
}
.cd-tab-filter.is-open ul li {
  display: block;
}
.cd-tab-filter.is-open .placeholder a {
  /* reduces the opacity of the placeholder on mobile when the menu is open */
  opacity: .4;
}
@media only screen and (min-width: 768px) {
  .cd-tab-filter {
    /* tabbed navigation style on medium devices */
    width: auto;
    cursor: auto;
  }
  .cd-tab-filter::after {
    /* hide the arrow */
    display: none;
  }
  .cd-tab-filter ul {
    background: transparent;
    position: static;
    box-shadow: none;
    text-align: center;
  }
  .cd-tab-filter li {
    display: inline-block;
  }
  .cd-tab-filter li.placeholder {
    display: none !important;
  }
  .cd-tab-filter a {
    display: inline-block;
    padding: 0 1em;
    width: auto;
    color: #9a9a9a;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
  }
  .no-touch .cd-tab-filter a:hover {
    color: #b9b8b8;
  }
  .cd-tab-filter a.selected {
    background: transparent;
    color: #b9b8b8;
    /* create border bottom using box-shadow property */
    box-shadow: inset 0 -2px 0 #b9b8b8;
  }
  .cd-tab-filter.is-open ul li {
    display: inline-block;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-tab-filter {
    /* tabbed navigation on big devices */
    width: 100%;
    float: right;
    margin: 0;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }
  .cd-tab-filter.filter-is-visible {
    /* reduce width when filter is visible */
    width: 80%;
  }
}

/* -------------------------------- 

xgallery 

-------------------------------- */
.cd-gallery {
  padding: 26px 5%;
  width: 100%;
}
.cd-gallery li {
  margin-bottom: 1.6em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  display: none;
}
.cd-gallery li.gap {
  /* used in combination with text-align: justify to align gallery elements */
  opacity: 0;
  height: 0;
  display: inline-block;
}


@media only screen and (min-width: 768px) {
  .cd-gallery {
    padding: 40px 3%;
  }
  .cd-gallery ul {
    text-align: justify;
  }
  .cd-gallery ul:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-gallery li {
    width: 48%;
    margin-bottom: 2em;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-gallery {
    padding: 50px 2%;
    float: right;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }
  .cd-gallery li {
    width: 23%;
  }
  .cd-gallery.filter-is-visible {
    /* reduce width when filter is visible */
    width: 80%;
  }
}

/* -------------------------------- 

xfilter 

-------------------------------- */
.cd-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: #ffffff;
  box-shadow: 4px 4px 20px transparent;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
  -moz-transition: -moz-transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
}
.cd-filter::before {
  /* top colored bar */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #b9b8b8;
  z-index: 2;
}
.cd-filter form {
  padding: 70px 20px;
}
.cd-filter .cd-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  width: 60px;
  color: #ffffff;
  font-size: 1.3rem;
  text-align: center;
  background: #b9b8b8;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 3;
}
.no-touch .cd-filter .cd-close:hover {
  background: #b9b8b8;
}
.cd-filter.filter-is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
  background:#eee;
}
.cd-filter.filter-is-visible .cd-close {
  opacity: 1;
}
@media only screen and (min-width: 1170px) {
  .cd-filter {
    width: 20%;
  }
  .cd-filter form {
   
  }
}

.cd-filter-trigger {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  line-height: 50px;
  width: 60px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  background: transparent url("../images/filter_icon.png") no-repeat center center;
  z-index: 3;
}
.cd-filter-trigger.filter-is-visible {
  pointer-events: none;
}
@media only screen and (min-width: 1170px) {
  .cd-filter-trigger {
    width: auto;
    left: 2%;
    text-indent: 0;
    color: #9a9a9a;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    padding-left: 24px;
    background-position: left center;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
  }
  .no-touch .cd-filter-trigger:hover {
    color: #41307c;
  }
  .cd-filter-trigger.filter-is-visible, .cd-filter-trigger.filter-is-visible:hover {
    color: #ffffff;
  }
}

/* -------------------------------- 

xcustom form elements 

-------------------------------- */
.cd-filter-block {
  margin-bottom: 1.6em;
}


@-moz-document url-prefix() {
  /* hide custom arrow on Firefox - select element */
  .cd-filter-block .cd-select::after {
    display: none;
  }
}


.ui-select-multiple.ui-select-bootstrap .ui-select-match .close{line-height: 19px;}
button[disabled]{
	background-color: grey;
}
.use_card_alert{
	margin-top: 20%;
}
/*================================================added in 29/04/2016==========================================================*/

#right-menu{float: right;position: absolute;width: 34px;padding: 8px;z-index: 1000;right: 8px;top: 7px;}
#right-menu .glyphicon{color: #777;}
.sidr {
    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 260px;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 15px;
    background: #333;
    color: #fff;
    box-shadow: 0 0 5px 5px #222 inset
}
.sidr .sidr-inner {
    padding: 0 0 15px
}

.sidr.right {
    left: auto;
    right: -260px
}
.sidr.left {
    left: -260px;
    right: auto
}
.navbar-right{padding-right: 2%;}
.sidebar-header {
  margin-bottom: 30px;
  position: relative;
  padding: 11px 20px 5px;
}
.sidebar-header .user-info {
  display: inline-block;
  float: left;
}
.sidebar-header .name {
  display: block;
  font-weight: 600;
  letter-spacing: 0;
  font-size: 1.1em;
}
#sh-sidebar .sh-badge-level {
  top: -5px;
  position: relative;
  font-size: .65em;
  color: #bbb;
  padding: 0;
}
#sh-sidebar-nav{margin:0;padding:30px 20px;}
#sh-sidebar-nav li{list-style:none;padding:0;margin:0;}
#sh-sidebar-nav li a{color:#fff;padding:6px 0;display:block;}


.video_upload_box img {
    position: absolute;
    top: 7px;
    right: 12px;
}

.search_contest_loc{background-color: #f26622;border: none;opacity: 1;}

.space_map{margin-bottom: 15px}

.thumbnail-image{
    width: 100%;
    overflow: hidden;
    padding: 5px;
}
.thumbnail-image img{
    width: auto;
    max-width: 150px;
    height: auto;
    max-height: 100px;
    margin-left: 36px;
}
/*===================added in  17-06-2016==============================*/
.nav-justified > li > a:focus, .nav-justified > li > a:hover{background-color: #f26622;}
.nav-justified > li > a:focus .fa, .nav-justified > li > a:hover .fa{color: #fff;}
.nav-justified > li > a:focus .hidden-xs, .nav-justified > li > a:hover .hidden-xs{color: #fff;}
.profile_tab .tab-pane{padding:20px;}
.profile_tab .tab-pane .video-thumbs a{display: block;}

/*=====================Error Page==============================*/
.error-page {
    padding: 40px 15px;text-align: center;
}
.error-actions {
    margin-top:15px;margin-bottom:15px;
}
.error-actions .btn {
    margin-right:10px;
}
h1.404error {
    font-size :100px !important;
}
.button_orng:hover {
    color:#fff;
}
.error-page h1 {
    font-size:5em;
}

/*======================Review Page==================================*/

.tearms_section {
    padding:60px 0;
}
.tearms_section p {
    text-align:center;font-size:16px;color: #4D4D4D;font-weight: bold;
}
.embed-container {
    position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; max-width: 100%; height: auto;
}
.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}
.video_description h3 {
    margin:0;text-align:left;padding-bottom:15px;
}
.video_description p {
    text-align:left;  color:#F26622;margin:0;border-bottom: solid 1px #E6ECED;padding: 10px 0;
}
.video_description p span {
    color: #6F6E6E;font-size:15px;display:block;width:100%;
}
.video_description p span .fa {
    padding-right:5px;
}
.thumbs_bg_green {
    background: #63a225;padding: 10px;border-radius: 50%;width: 40px;height: 40px;display: inline-block;margin:0 5px;
    color: #fff;
}
.thumbs_bg_red {
    background:#EC4919;padding: 10px;border-radius: 50%;width: 40px;height: 40px;display: inline-block;margin:0 5px;
    color: #fff;
}
.thumbs_bg_red:hover {
    background:#B03410;color:#fff;
}
.thumbs_bg_green:hover {
    background:#3D6E0D;color:#fff;
}
#notready_market p, #ready_market p {
    font-size: 16px;font-weight: bold;line-height: 20px;color: #282626;
}
#notready_market .form-inline .checkbox {
    display:block;
}
#notready_market .form-inline label {
    font-size: 14px;font-weight: bold;padding: 4px 0;
}
#notready_market .form-inline label input {
    padding-right: 5px;display: inline-block;margin: 0;margin-right: 4px;
}
#ready_market {
    text-align:center;
}

/*======================Home Page (dl)==================================*/
.socialicons {
    background: #000;
    padding-top: 15px;
    padding-bottom: 15px;
}

.social-wrap {
    font-size: 32px;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    display: inline-block;
    border: 4px solid #f26622;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #f26622;
}

/*====================Contest Tab=========================*/
.nav-tabs.nav-justified>li{display: inline-block;width: auto;}
.contest_tab .fa{display: inline-block;
    padding: 5px;
    font-size: 16px;}

#myScrollspy.affix-top {
    position: fixed;
}
.contest-center {margin-left: auto; margin-right:auto;}

.section-spyhop {margin-bottom: 100px; margin-top: 20px}
/*

#myScrollspy.affix-bottom {
	position:static;
}

#myScrollspy.affix {
    position:static;
}
*/


/*.ng-pristine h4{text-align: left;}*/
