<section class="">
    <article class="home-thumbs-section">
        <div class="container">
            <div class="row">
                <div>
                    <h3 ng-if="!news.length">No news !!!!!</h3>
                    <div class="media" ng-repeat="n in news">
                        <div class="media-left">
                            <a> <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="" data-holder-rendered="true" style="width: 64px; height: 64px;"> </a>
                        </div>
                        <div class="media-body notification_body" ng-if="n.target.state == 'user'">
                            <a ui-sref="user_profile({username: n.target.slug})"><h4 class="media-heading" ng-bind="n.feed"></h4></a>
                        </div>
                        <div class="media-body notification_body" ng-if="n.target.state == 'video'">
                            <a ui-sref="video({slug: n.target.slug})"><h4 class="media-heading" ng-bind="n.feed"></h4></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>