<section class="">
    <article class="home-thumbs-section">
        <div class="container">
            <div class="row">
                <div>
                    <div class="media" ng-repeat="noti in $root.notifications.results">
                        <div class="media-left">
                            <a> <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="" data-holder-rendered="true" style="width: 64px; height: 64px;"> </a>
                        </div>
                        <div class="media-body notification_body">
                            <a ng-click="goto(noti)"><h4 class="media-heading" ng-bind="noti.notification"></h4></a>
                            <p ng-bind="noti.time">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
