<!--main banner section-->
<!--call 2 action 1-->
<div class="card hovercard">
  <form name="form">
    <div class="card-background">
      <div class="sh-overlay"></div>
      <div class="profile-action center">
        <div class="btn-group" data-upload="background" data-display="background">
          <button class="btn btn-link btn-upload dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-fw fa-camera fa-2x">&nbsp;</i><br>
            Change Background
          </button>
          <ul class="dropdown-menu center-menu" role="menu">
            <li>
              <li>
                <!--<div class="file-upload btn btn-default">-->
                <!--<input class="upload" type="file" onchange="backgroundURL(this)" ng-file-model="user.cover_picture">-->
                <!--<span>Upload</span>
                </div>-->
                <div class="file-upload btn btn-default button"
                     ngf-select="select_picture('cover', cover_picture)"
                     ng-model="cover_picture"
                     name="file"
                     ngf-pattern="'image/*'"
                     ngf-accept="'image/*'"
                     ngf-max-size="20MB"
                     ngf-min-height="100"
                     ngf-resize="{width: 100, height: 100}">
                  Select
                </div>
              </li>
            </li>
            <li>
              <a data-upload-action="remove"
                 ng-click="select_picture('cover')">
                Remove
              </a>
            </li>
            <li class="divider"></li>
            <li><a data-toggle="dropdown">Cancel</a></li>
          </ul>
        </div>
      </div>
      <div class="profile-action right">
        <button class="sh-btn sh-btn-outline"
                data-toggle-show="#profile-data"
                data-toggle-hide="#profile-edit"
                ng-click="profile_cancel()">
          Cancel
        </button>
        <button class="sh-btn sh-btn-white"
                data-loading-text="Saving..."
                ng-click="profile_save()"
                ng-disabled="!(form.first_name.$valid && form.last_name.$valid &&
                             (form.first_name.$dirty ||
                             form.last_name.$dirty ||
                             form.location.$dirty ||
                             profilePicChanged ||
                             coverPicChanged))">
          Save
        </button>
      </div>
      <div class="profile-info">
        <div class="avatar-profile " data-upload="avatar" data-display="avatar">
          <button class="btn btn-link btn-avatar" data-toggle="dropdown">
            <i class="fa fa-fw fa-camera fa-2x">&nbsp;</i>
          </button>
          <!--<div class="avatar" data-container-upload="avatar" style="background-image: url({{profile_picture}})" data-placeholder="https://www.snapwi.re/assets/img/avatars/placeholder.200.png"></div>-->
          <div class="avatar"
               data-container-upload="avatar"
               ngf-background="profile_picture"
               data-placeholder="https://www.snapwi.re/assets/img/avatars/placeholder.200.png">
          </div>
          <ul class="dropdown-menu center-menu" role="menu">
            <li>
              <div class="file-upload btn btn-default">
                <div class="button"
                     ngf-select="select_picture('profile', profile_picture)"
                     ng-model="profile_picture"
                     name="profile_picture"
                     ngf-pattern="'image/*'"
                     ngf-accept="'image/*'"
                     ngf-max-size="20MB"
                     ngf-min-height="100"
                     ngf-resize="{width: 100, height: 100}">Select
                </div>
              </div>
            </li>
            <li>
              <a data-upload-action="remove"
                 ng-click="select_picture('profile')">
                Remove
              </a>
            </li>
            <li class="divider"></li>
            <li><a data-toggle="dropdown">Cancel</a></li>
          </ul>
        </div>
        <div class="row margin-top">
          <div class="col-md-4 col-md-offset-2">
            <div class="form-group">
              <input id="input-first_name"
                     placeholder="First Name"
                     class="form-control"
                     name="first_name" 
                     type="text" 
                     ng-model="user.first_name"
                     required>
              <span class="text-danger"
                    ng-show="(form.first_name.$invalid &&
                             !form.first_name.$pristine)">
                <i class="text-warning fa fa-exclamation-triangle"></i>
                Enter valid first name
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <input id="input-last_name"
                     placeholder="Last Name"
                     class="form-control"
                     name="last_name"
                     type="text"
                     ng-model="user.last_name"
                     required>
              <span class="text-danger"
                    ng-show="(form.last_name.$invalid &&
                             !form.last_name.$pristine)">
                <i class="text-warning fa fa-exclamation-triangle"></i>
                Enter valid last name
              </span>
            </div>
          </div>
        </div>
        <div class="row margin-top">
          <div class="col-md-8 col-md-offset-2">
            <div class="form-group has-feedback">
              <span class="form-control-feedback"><i class="fa fa-map-marker fa-lg"></i></span>
              <input id="input-location"
                     g-places-autocomplete placeholder="Your Location"
                     class="form-control"
                     name="location"
                     type="text"
                     ng-model="user.location">
            </div>
          </div>
        </div>
      </div>
      <img class="card-bkimg"  ngf-src="cover_picture">

      <!-- http://lorempixel.com/850/280/people/9/ -->
    </div><br/>
  </form>
</div>
<!--<script type="text/javascript">-->
<!--$(document).ready(function() {-->
<!--$(".btn-pref .btn").click(function () {-->
<!--$(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");-->
<!--// $(".tab").addClass("active"); // instead of this do the below-->
<!--$(this).removeClass("btn-default").addClass("btn-primary");-->
<!--});-->
<!--});-->
<!--</script>-->
<!-- <script>
function readURL(input) {
if (input.files && input.files[0]) {
var reader = new FileReader();
reader.readAsDataURL(input.files[0]);
reader.onload = function (e) {
$('.avatar')
.attr('style',"background-image: url("+e.target.result+")")
};

}
}
function backgroundURL(input) {
if (input.files && input.files[0]) {
var reader = new FileReader();
reader.readAsDataURL(input.files[0]);
reader.onload = function (e) {
$('.card-bkimg')
.attr('src',e.target.result)
};

}
}
</script> -->
