<div class="product_detail_box">
  <div class="container">
    <div class="payment_section">
      <div class="row">
        <div class="col-lg-6 col-md-6 payment_form">
          <h2>Add Credit or Debit Card</h2>
          <h3>Your Payment Options</h3>
        </div>
      </div>
      <div class="row payment_form">
        <form stripe-form="stripeCallback"
              class="request_form_box"
              ng-hide="can_use_card"
              name="paymentForm"
              novalidate>
          <div class="col-lg-6 col-md-6">
            <h4>Your Purchaser Information</h4>
            <div class="form-group">
              <label for="name">Name</label>
              <input name="name" 
                     ng-model="paymentData.name" 
                     type="text" 
                     class="form-control" 
                     id="name"
                     required>
	      <span class="text-danger" 
                    ng-show="(paymentForm.name.$invalid && !paymentForm.name.$pristine) ||
                             (paymentForm.name.$invalid && paymentForm.isSubmitted)">
                <i class="text-warning fa fa-exclamation-triangle"></i>
                Enter name
              </span>
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input name="email" 
                     ng-model="paymentData.email" 
                     type="email" 
                     class="form-control" 
                     id="email" 
                     required>
	      <span class="text-danger" 
                    ng-show="(paymentForm.email.$invalid && !paymentForm.email.$pristine) ||
                             (paymentForm.email.$invalid && paymentForm.isSubmitted)">
                <i class="text-warning fa fa-exclamation-triangle"></i>
                Enter a valid email
              </span>
	    </div>
            <div class="form-group" ng-if="$root.isUserLoggedIn">
              <input id="use_saved_card" 
                     ng-change="checkIfCardSaved(paymentData.use_saved_card)" 
                     ng-model="paymentData.use_saved_card" 
                     class="checkbox-custom" 
                     name="use_saved_card" 
                     type="checkbox">
              <label for="use_saved_card" 
                     class="checkbox-custom-label">
                Use previous card
              </label>
              <p class="text-danger" ng-bind="saved_card_info"></p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <h4>Card Information</h4>
            <div class="row">
              <div class="col-lg-7 col-md-7">
                <div class="form-group">
                  <label for="number">Credit Card Number</label>
                  <input name="number" 
                         payments-format="card" 
                         ng-focus="removeError(number_error)" 
                         class="form-control" 
                         id="number" 
                         type="text" 
                         ng-model="number" 
                         payments-type-model="type" 
                         payments-validate="card" 
                         ng-required="!can_use_card"/>
		  <span class="text-danger" 
                        ng-show="(paymentForm.number.$invalid && !paymentForm.number.$pristine) ||
                                 (paymentForm.number.$invalid && paymentForm.isSubmitted)">
                    <i class="text-warning fa fa-exclamation-triangle"></i>
                    Enter a valid card number
                  </span>
		  <span class="text-danger"
                        ng-show="number_error">
                    <i class="text-warning fa fa-exclamation-triangle"></i>
                    {{number_error}}
                  </span>
		</div>
              </div>
              <div class="col-lg-5 col-md-5">
                <div class="form-group">
                  <label for="cvv">
                    CVV<i class="fa fa-credit-card-alt"></i>
                  </label>
                  <input class="form-control"
                         name="cvv"
                         id="cvv" 
                         type="text"
                         payments-type-model="type" 
                         ng-model="cvv" 
                         payments-validate="cvc" 
                         payments-format="cvc" />
                  <span class="text-danger"
                        ng-show="(paymentForm.cvv.$invalid && !paymentForm.cvv.$pristine) ||
                                 (paymentForm.cvv.$invalid && paymentForm.isSubmitted)">
                    <i class="text-warning fa fa-exclamation-triangle"></i>
                    Enter a valid CVC
                  </span>
		</div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-7 col-md-7">
                <div class="form-group">
                  <label for="expiry">Expiration Date</label>
                  <input type="text"
                         id="expiry"
                         name="expiry"
                         ng-focus="removeError(expiry_error)"
                         ng-model="expiry" 
                         payments-validate="expiry" 
                         payments-format="expiry" 
                         class="form-control" 
                         placeholder="mm/yyyy" 
                         required/>
                  <span class="text-danger"
                        ng-show="(paymentForm.expiry.$invalid && !paymentForm.expiry.$pristine) ||
                                 (paymentForm.expiry.$invalid && paymentForm.isSubmitted)">
                    <i class="text-warning fa fa-exclamation-triangle"></i>
                    Enter a valid expiry date
                  </span>
                  <span class="text-danger" 
                        ng-show="expiry_error">
                    <i class="text-warning fa fa-exclamation-triangle"></i>
                    {{expiry_error}}
                  </span>
		</div>
              </div>
              <div class="col-lg-5 col-md-5">
                <div class="form-group">
                  <label for="address_zip">Postal Code</label>
                  <input name="address_zip" 
                         type="text" 
                         id="address_zip" 
                         class="form-control" 
                         placeholder="ZipCode" 
                         ng-model="addressZip">
                  <span class="text-danger" 
                        ng-show="(paymentForm.address_zip.$invalid && !paymentForm.address_zip.$pristine) ||
                                 (paymentForm.address_zip.$invalid && paymentForm.isSubmitted)">
                    <i class="text-warning fa fa-exclamation-triangle"></i>
                    Enter a valid zipcode
                  </span>
		</div>
              </div>
            </div>
            <!--<div class="form-group">-->
            <!--<label for="Purpose" style="display:block;">Country</label>-->
            <!---->
            <!--<div class="btn-group custom_select">-->
            <!--<button type="button" class="btn btn-default dropdown-toggle custom_select"
            data-toggle="dropdown" aria-expanded="false">-->
            <!--<span data-bind="label">Armenia</span>&nbsp;<span class="caret custom_caret"></span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu" role="menu">-->
            <!--<li><a href="#">Item 1</a></li>-->
            <!--<li><a href="#">Another item</a></li>-->
            <!--<li><a href="#">Another item</a></li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</div>-->
            <div class="form-group" ng-if="$root.isUserLoggedIn">
              <input id="checkbox-2" 
                     ng-model="paymentData.remember_card"
                     class="checkbox-custom" 
                     name="remember_card" 
                     type="checkbox">
              <label for="checkbox-2" 
                     class="checkbox-custom-label">
                Remember card for future use
              </label>
            </div>
            <button type="submit"
                    class="sh-btn btn-block sh-btn-success" 
                    data-action="request-create-review" 
                    ng-disabled="paymentForm.isSubmitted ||
                                 sessionValues.checkingoutCart =='' ||
                                 paymentForm.$invalid">
              Submit
            </button>
            <div ng-if="showSpinner"
                 style="background-color: rgba(0,0,0,0.9);
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        position: fixed;
                        color:#FFFFFF;
                        text-align: center;
                        font-size:20px">
              <div class="spinner"
                   style="top: 25%;
                          margin: 0 auto;
                          position: relative;">
              </div>
              <div style="position: relative;
                          top: 30%;">
                CAUTION: Do not refresh or press the back button !!!
              </div>
            </div>
          </div>
        </form>

        <form ng-submit="placeOrderUseCard()"
              class="request_form_box"
              name="paymentForm1"
              ng-show="can_use_card"
              novalidate>
          <div class="col-lg-6 col-md-6">
            <h4>Your Purchaser Information</h4>
            <div class="form-group">
              <label for="name">Name</label>
              <input name="name"
                     ng-model="paymentData.name"
                     type="text"
                     class="form-control"
                     id="form2_name"
                     required>
	      <span class="text-danger"
                    ng-show="(paymentForm1.name.$invalid && !paymentForm1.name.$pristine) ||
                             (paymentForm1.name.$invalid && paymentForm1.isSubmitted)">
                <i class="text-warning fa fa-exclamation-triangle"></i>
                Enter name
              </span>
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input name="email"
                     ng-model="paymentData.email"
                     type="email"
                     class="form-control"
                     id="form2_email"
                     required>
	      <span class="text-danger"
                    ng-show="(paymentForm1.email.$invalid && !paymentForm1.email.$pristine) ||
                             (paymentForm1.email.$invalid && paymentForm1.isSubmitted)">
                <i class="text-warning fa fa-exclamation-triangle"></i>
                Enter a valid email
              </span>
	    </div>
            <div class="form-group" ng-if="$root.isUserLoggedIn">
              <input id="use_saved_card2"
                     ng-change="checkIfCardSaved(paymentData.use_saved_card)"
                     ng-model="paymentData.use_saved_card"
                     class="checkbox-custom"
                     name="use_saved_card"
                     type="checkbox">
              <label for="use_saved_card2"
                     class="checkbox-custom-label">
                Use previous card
              </label>
              <p class="text-danger" ng-bind="saved_card_info"></p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="use_card_alert">
              <div ng-show="can_use_card" class="alert alert-success">
                <strong>
                  Your saved {{card_info.brand}} ending in
                  ****{{card_info.last4}} will be used for this payment.
                </strong>
              </div>
              <button type="submit"
                      class="sh-btn btn-block sh-btn-success"
                      data-action="request-create-review"
                      ng-disabled="paymentForm1.isSubmitted || 
                                   sessionValues.checkingoutCart =='' ||
                                   paymentForm1.$invalid">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


