

<div class="cart_listing_box">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
	<h2>Cart</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-8">
	<div class="cart-item clearfix" ng-repeat="item in cart.items">
	  <div class="item-details">
	    <div class="row">
	      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 
                          cart_product_thumb">
                <img class="thumbnail-image"
                     ng-src="{{item.details.thumbnail}}">
	      </div>
	      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 
                          product_detail">
		<p>
                  <a ui-sref="video({slug: '{{item.details.slug}}'})">
                    {{item.details.title}}
                  </a>
                </p>
		<p ng-if="item.content_type=='contest'">
                  <a ui-sref="review({slug: '{{item.details.slug}}'})">
                    {{item.details.contest_title}}
                  </a>
                </p>
		<p>By&nbsp;
                  <a ui-sref="user_profile({username: '{{item.details.user_detail.username}}'})">
                    {{item.details.user_detail.first_name}} {{item.details.user_detail.last_name}}
                  </a>
                </p>
		<p ng-repeat="permission in permissions"
                   ng-if="permission.value==item.details.permission &&
                          item.content_type=='video'">
                  Permission: {{permission.label}}
                </p>
		<p ng-if="item.content_type=='video'">Item: Video </p>
		<p ng-if="item.content_type=='contest'">Item: Request </p>
		<!--<p>Editorial use ok.</p>-->
		<!--<p>ID: <a href="#">555cb0dcea80337a4b2dc61c</a></p>-->
	      </div>
	      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<div class="price-details">
		  <a ng-click="removeItem(item.details.id, item.content_type)">
                    <i class="fa fa-times-circle"></i>
                  </a>
		  <h3 ng-if="item.content_type=='video'">
                    {{item.details.price}}
                  </h3>
		  <h3 ng-if="item.content_type=='contest'">
                    {{item.details.award_amount}}
                  </h3>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
        <h3 ng-if="cart.items.length === 0">Your cart is empty</h3>
      </div>
      
      <div class="col-lg-4 col-md-4">
	<div class="order_summary_box">
	  <h3 class="light">Order Summary</h3>
	  <div class="summ_row">
	    <span class="lbl">Items
              <span id="cart-no-items">({{cart.item_count}})</span>
            </span>
	    <span class="item" id="item-subtotal">
              $ {{cart.total_price | number:2}}
            </span>
	  </div>
	  <div class="summ_row">
	    <span class="lbl">
              Promo<a href="#" id="toggle4">&nbsp;+promo code</a>
            </span>
	    <span class="item" id="item-subtotal">$ 0.00</span>
	  </div>
	  <div class="toggle4" style="display:none;">
	    <div class="form-group">
              <div class="row">
	        <div class="col-lg-8 col-md-8 col-sm-6">
                  <input ng-model="promoCode"
                         type="text"
                         class="form-control"
                         id="promocode"
                         placeholder="Promo Code">
                </div>
	        <div class="col-lg-4 col-md-4 col-sm-6">
                  <a class="btn btn-default main-btn-1">
                    apply
                  </a>
                </div>
	      </div>
            </div>
	  </div>
	  <hr />
	  <div class="summ_row">
	    <span class="lbl">Total (US Dollar)</span>
	    <span class="item" id="item-subtotal">
              $ {{cart.total_price | number:2}}
            </span>
	  </div>
	  <br />
	  <a ng-if="cart.items.length !== 0" ng-click="placeOrder()">
            <button class="sh-btn btn-block sh-btn-success">
              Checkout
            </button>
          </a>
	</div>
      </div>
    </div>
  </div>
</div> 


<script>
 /** Document Ready Functions **/
 /********************************************************************/

 $(document).ready(function() {
   
   $('#toggle4').click(function() {
     $('.toggle4').slideToggle('fast');
     return false;
   });
 });</script>

