<div class="cart_listing_box">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
	<h2>Order History</h2>
      </div>
    </div>
    <div class="row" ng-if=!$root.isUserLoggedIn >
      <p>You are not logged in.Login to continue</p>
    </div>
    <div class="row" ng-if=$root.isUserLoggedIn>
      <div class="col-lg-12 col-md-12">
	<div class="cart-item clearfix" dir-paginate="single_order in order_history | itemsPerPage: 7">
	  <div class="item-details" ng-repeat="item in single_order.items">
	    <div class="row" ng-if="item.content_type==='contest'">
	      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 cart_product_thumb">
                <img class="thumbnail-image" ng-src="{{item.details.thumbnail}}">
	      </div>
	      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 product_detail">
		<p><a ui-sref="contest_detail({slug: '{{item.details.slug}}'})">{{item.details.contest_title}}</a></p>
		<!--<p>By&nbsp;<a ui-sref="user_profile({username: '{{item.details.user_detail.username}}'})">{{item.user_detail.first_name}}{{item.user_detail.last_name}}</a></p>-->
		<p>
                  <a ui-sref="order({order_id: '{{single_order.order_id}}'})">
                    Order ID:{{single_order.order_id}}
                  </a>
                </p>
                <p>Purchased Date: {{single_order.created | date : ' d/ MM /yyyy' }}</p>
	      </div>
              <div class="col-lg-1 col-md-1">
                <h3>${{item.price_paid}}</h3>
              </div>
              <!--<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">-->
	      <!--<div class="price-details">-->
	      <!--<a href="api/payments/download-content/{{order_history.order_id}}/{{item.details.id}}">Download</a>-->
	      <!--</div>-->
	      <!--</div>-->
	    </div>

            <div class="row" ng-if="item.content_type==='video'">
	      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 cart_product_thumb">
                <img class="thumbnail-image" ng-src="{{item.details.thumbnail}}">
	      </div>
	      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 product_detail">
		<p><a ui-sref="video({slug: '{{item.details.slug}}'})">{{item.details.title}}</a></p>
		<p>By&nbsp;<a ui-sref="user_profile({username: '{{item.details.owner_details.username}}'})">{{item.details.owner_details.name}}</a></p>
                <p>
                  <a ui-sref="order({order_id: '{{single_order.order_id}}'})">
                    Order ID:{{single_order.order_id}}
                  </a>
                </p>
                <p>Purchased Date: {{single_order.created | date : ' d/ MM /yyyy' }}</p>
	      </div>
              <div class="col-lg-1 col-md-1">
                <h3>${{item.price_paid}}</h3>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
		<div class="price-details">
		  <!-- <a href="api/payments/download-content/{{single_order.order_id}}/{{item.details.id}}">Download</a> -->
                  <a>
                    <button ng-click="downloadContent(single_order.order_id, item.details.id)">
                      Download
                    </button>
                  </a>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="text-center">

     	  <dir-pagination-controls></dir-pagination-controls>

    	</div>
        <h3 ng-if="order_history.length === 0">No purchases yet</h3>
      </div>
    </div>
  </div>
</div>



