
<div class="orderplace_section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
			
			<div class="panel panel-info checkout_box">
				<div class="panel-heading">
					<div class="panel-title">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<a ui-sref="videos"><button type="button" class="btn btn-primary btn-sm btn-block contine_shop_button">
									<span class="glyphicon glyphicon-share-alt"></span> Continue shopping
								</button></a>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-2"><img class="img-responsive" src="http://placehold.it/100x70">
						</div>
						<div class="col-xs-4">
							<h4 class="product-name"><strong>Product name</strong></h4><h4><small>Product description</small></h4>
						</div>
						<div class="col-xs-6">
							<div class="col-xs-6 text-right">
								<h6><strong>25.00 <span class="text-muted">x</span></strong></h6>
							</div>
							<div class="col-xs-4">
								<input type="text" class="form-control input-sm" value="1">
							</div>
							<div class="col-xs-2">
								<button type="button" class="btn btn-link btn-xs">
									<span class="glyphicon glyphicon-trash"> </span>
								</button>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-xs-2"><img class="img-responsive" src="http://placehold.it/100x70">
						</div>
						<div class="col-xs-4">
							<h4 class="product-name"><strong>Product name</strong></h4><h4><small>Product description</small></h4>
						</div>
						<div class="col-xs-6">
							<div class="col-xs-6 text-right">
								<h6><strong>25.00 <span class="text-muted">x</span></strong></h6>
							</div>
							<div class="col-xs-4">
								<input type="text" class="form-control input-sm" value="1">
							</div>
							<div class="col-xs-2">
								<button type="button" class="btn btn-link btn-xs">
									<span class="glyphicon glyphicon-trash"> </span>
								</button>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="text-center">
							<div class="col-xs-9">
								<h6 class="text-right">Added items?</h6>
							</div>
							<div class="col-xs-3">
								<a ui-sref="cart"><button type="button" class="btn btn-default btn-sm btn-block">
									Update cart
								</button></a>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<div class="row text-center">
						<div class="col-lg-9 col-md-9 col-sm-7 col-xs-7">
							<h4 class="text-right">Total <strong>$50.00</strong></h4>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-5 col-xs-5">
							<a ui-sref="cart"><button type="button" class="btn btn-success btn-block">
								Checkout
							</button></a>
						</div>
					</div>
				</div>
			</div>
			
			
			</div>
		</div>
	</div>
</div>
       
