<div id="sh-content" class="container" ng-if="showPage">
  <div class="backblur backblur-background"></div>
  <div class="backblur" style="background-image: url('{{contestData.thumbnail}}')"></div>
  <div class="container">
    <div id="request-detail" class="request-brief">
      <div class="request-detail-top">
        <span class="sh-overlay"></span>
        <div class="share-control request-action left">
          <ul id="profile-share-menu" class="list-inline">
            <li><a class="action-icon"><i class="fa fa-twitter"></i></a></li>
            <li><a class="action-icon"><i class="fa fa-facebook"></i></a></li>
            <li><a class="action-icon"><i class="fa fa-twitter"></i></a></li>
            <!--<li ng-if="contestData.contest_creator"><button type="submit"-->
                    <!--class="btn btn-default btn-lg btn-orange"-->
                    <!--ng-click="publishContestEdit(contestData.slug)">-->
              <!--Edit-->
            <!--</button></li>-->

          </ul>
        </div>
        <div class="row request-action-center">
          <!--<div class="featured-tag text-center-mobile">Challenge</div>-->
          <h1>{{ contestData.contest_title}}</h1>
          <div class="request-title-creator text-center-mobile">
            <!--<span class="name">Getty Images</span>-->
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <!--<button class="sh-btn sh-btn-rounded sh-btn-success"
              data-action="request-submit-photo" ng-if="m!=0">Submit A Video</button>-->
            </div>
            <div class="col-md-6 text-right">
              <div class="price">$ {{ contestData.award_amount}}</div>
            </div>
          </div>
          <div class="request-status-bar">
            <div class="row">
              <div class="col-md-3 margin-bottom text-center-mobile">
                <h5 class="request-status-msg active margin-none">
                  <i class="fa fa-clock-o"></i>
                  <!--<span data-action="countdown"
                  data-timestamp="1457034576" class="hasCountdown"><span
                  class="countdown_row countdown_amount">-->
		  <!--
                  <span id="timer" ng-if="m!=0">
                  <span id="days"></span>d
                  <span id="hours"></span>:
                  <span id="minutes"></span>:
                  <span id="seconds"></span> Left
                  </span>
		  -->
		  <timer interval="1000"
                         ng-if="endtime && m!=0"
                         end-time="endtime">
                    {{days}}d {{hours}}h:{{minutes}}m:{{seconds}}s
                  </timer>
		  <span ng-if="m==0">Closed</span>
		  <!--</span></span>-->
                </h5>
              </div>
              <div class="col-md-4 margin-bottom text-center-mobile">
                <h5 class="request-status-msg"
                    ng-if="m==0"
                    data-show="tooltip"
                    data-placement="top"
                    title="">
                  <i class="fa fa-circle"></i>
                  Open
                </h5>
                <h5 class="request-status-msg active"
                    ng-if="m!=0"
                    data-show="tooltip"
                    data-placement="top"
                    title="">
                  <i class="fa fa-circle"></i>
                  Open
                </h5>
                <!-- <h5 class="request-status-msg"
                data-show="tooltip"
                data-placement="top"
                title="">
                <i class="fa fa-circle"></i>
                Review
                </h5> -->
                <h5 class="request-status-msg"
                    ng-if="m!=0"
                    data-show="tooltip"
                    data-placement="top"
                    title="">
                  <i class="fa fa-circle"></i>
                  Closed
                </h5>
                <h5 class="request-status-msg active"
                    ng-if="m==0"
                    data-show="tooltip"
                    data-placement="top"
                    title="">
                  <i class="fa fa-circle"></i>
                  Closed
                </h5>
              </div>
              <div class="col-md-5 text-right margin-bottom text-center-mobile">
                <!--<h5 class="request-status-msg active margin-none">
                Submissions open, buyer nominates or purchases
                </h5>-->
              </div>
            </div>
          </div>
        </div>
        <div class="overlay example"
             style="background-image: url('{{contestData.thumbnail}}')">
        </div>
      </div>
    </div>
    <div id="request-brief" class="request-brief-wrapper heightAuto">
      <div class="row request-brief-inside">
        <div class="col-md-3 statsbox">
          <div class="well">
            <ul>
              <li>
                <div class="request-brief-creator ">
                  <a ui-sref="user_profile({ username: contestData.user_detail.username })">
                    <img src="{{contestData.user_detail.profile_picture}}"
                         width="30"
                         height="30"
                         class="avatar">
                    <div class="info">
                      <span class="company"
                            style="text-transform: capitalize">
                        {{contestData.user_detail.first_name}}
                        {{contestData.user_detail.last_name}}
                        <br />
<!--                        for {{contestData.purpose}}-->
                      </span>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <h4><i class="fa fa-video-camera"></i>
                  {{contestData.submitted_video}} videos Submitted
                </h4>
              </li>
              <!--<li>-->
              <!--<h4><i class="fa fa-bookmark fa-fw"></i> 0 videos Nominated</h4>-->
              <!--</li>-->
              <li>
                <h4>
                  <i class="fa fa-bolt fa-fw"></i>
                  {{purchasedCnt}} videos Purchased
                </h4>
              </li>
              <li class="participantbox">
                <h4><i class="fa fa-user fa-fw"></i>
                  {{contestData.uploaded.length}} Uploaded
                </h4>
                <span class="submissions-participants"
                      ng-if="contestData.uploaded.length!=0"
                      ng-repeat="uploader in contestData.uploaded">
                  <a data-toggle="modal"
                     data-target="#uploaded_user"
                     class="participant"
                     title="{{uploader.first_name}} {{uploader.last_name}}">
                    <img src="{{uploader.profile_picture}}"
                         class="avatar avatar-photographer img-responsive">
                  </a>
                </span>
                <a data-toggle="modal"
                   data-target="#uploaded_user"
                   class="more"
                   title="View All"
                   ng-if="contestData.uploaded.length!=0">
                  ...
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-9">
          <div class="contest_detail_tab">
            <!-- Nav tabs -->
<!--
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a aria-controls="home" ng-click="tab=0" role="tab" data-toggle="tab">
                  Home
                </a>
              </li>
               <li role="presentation">
              <a class="active" aria-controls="messages" ng-click="tab=1" role="tab" data-toggle="tab">
              Messages
              </a>
              </li> 
            </ul>
-->
            <!-- Tab panes -->
<!--
            <div class="tab-content">
              <div role="tabpanel"
                   class="tab-pane fade in active"
                   ng-class="{active: tab === 0, fade: tab !== 0}"
                   id="home">
-->             <div class="request-brief-section request-brief-requirements margin-bottom">

                <h5>Description</h5>

                <p>{{ contestData.art_direction}}</p>
              </div>
                <div class="request-brief-section request-brief-requirements margin-bottom col-md-6">
                  <h5>Additional Requirements</h5>
                  <div class="row">
                    <div class="col-md-5">
                      <span class="requirement-label">Video Type:</span>
                    </div>
                    <div class="col-md-6" style="text-transform: capitalize">
                      {{get_video_type_display_name(
                      contestData.video_type,
                      contestData.resolution,
                      contestData.fps_rate)}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <span class="requirement-label">Orientation:</span>
                    </div>
                    <div class="col-md-6" style="text-transform: capitalize">
                      {{contestData.orientation}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <span class="requirement-label">Environment:</span>
                    </div>
                    <div class="col-md-6" style="text-transform: capitalize">
                      {{contestData.environment}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <span class="requirement-label">Lighting:</span>
                    </div>
                    <div class="col-md-6" style="text-transform: capitalize">
                      {{contestData.lighting}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <span class="requirement-label">Space For Copy:</span>
                    </div>
                    <div class="col-md-6" style="text-transform: capitalize">
                      {{contestData.space_for_copy}}
                    </div>
                  </div>
                  <!--<div class="row">-->
                  <!--<div class="col-md-3">-->
                  <!--<span class="requirement-label">Quality:</span>-->
                  <!--</div>-->
                  <!--<div class="col-md-6">-->
                  <!--Anyone-->
                  <!--</div>-->
                  <!--</div>-->
                  <div class="row">
                    <div class="col-md-5">
                      <span class="requirement-label">Duration:</span>
                    </div>
                    <div class="col-md-6">
                      {{contestData.video_max_length}}
                    </div>
                  </div>
                  <h5>Categories</h5>
                  <!-- <span class="category-tag">{{contestData.type}}</span> -->
                  <span ng-repeat='category in categoryCollection |
                                   inArray:contestData.category:"id"'
                        class="label label-default"
                        style="margin-right: 1px;">
                    {{ category.name }}
                  </span>
              </div>
              <div class="request-brief-section request-brief-requirements margin-bottom col-md-6">
                  <h5 ng-if="contestData &&
                             contestData.story_board_images.length!==0">
                    Story Board Images
                  </h5>
                  <span ng-repeat="story_board in contestData.story_board_images">
                    <img src="{{story_board.image}}" width="150px" height="150px">
                  </span>
                </div>
              </div>
<!--
              <div role="tabpanel"
                   class="tab-pane fade"
                   id="messages"
                   ng-class="{active: tab === 1, fade: tab !== 1}">
                <form ng-if=$root.isUserLoggedIn>
                  <p>
                    <textarea id="input-comment"
                              class="form-control"
                              name="comment"
                              placeholder="Write a Message Here......"
                              ng-model="message">
                    </textarea>
                    <span class="muted">
                      Use Messaging to ask questions or add clarification.
                      To mention a specific user, use @user name to communicate
                      with them. Messages are public.
                    </span>
                  </p>
                  <button class="btn btn-default btn-orange"
                          type="submit"
                          ng-click="msg(message)">
                    Message
                  </button>
                </form>
                <h3>Messages posted by users</h3>
                <div ng-repeat="m in messages">
                  <a ui-sref="user_profile({username: '{{m.user_detail.username}}'})">
                    <img class="avatar" src="{{m.user_detail.profile_picture}}">
                  </a>
                  - {{ m.message}}
                </div>
              </div>
-->
<!--
            </div>
          </div>
-->
        </div>
      </div>
    </div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a aria-controls="home" ng-click="tab1=0" role="tab" data-toggle="tab">
          Submitted
        </a>
      </li>
      <li role="presentation">
        <a class="active"
           aria-controls="messages"
           ng-click="tab1=1"
           role="tab"
           data-toggle="tab">
          Purchased
        </a>
      </li>
    </ul>
    <!--Tab Panes-->
    <div class="tab-content">
      <div role="tabpanel"
           class="tab-pane fade in active"
           ng-class="{active: tab1 === 0, fade: tab1 !== 0}"
           id="submitted"
           ng-show="tab1!==1">
        <div class="col-md-4 col-sm-4 video-thumbs col-xs-12"
             ng-repeat="video in entries.results">
          <div class="cart-icon"
               ng-if="contestData.contest_creator ||
                      contestData.status!='publish'">
            <a class="cart-white"
               ng-click="addToCart(video.video_data.id)">
              <i class="fa icon-white fa-shopping-cart"></i>
            </a>
          </div>
          <div class="video">{{video.water_marked_video}}
            <a ui-sref="video({slug: '{{video.video_data.slug}}'})">
              <video class="thevideo" loop width="”100%”">
                <source ng-src="{{ video.video_data.water_marked_video }}"
                        type="video/mp4"
                        accept="video/*">
                Your browser does not support the video tag.
              </video>
            </a>
          </div>
          <div class="author">
            <a href="#">
              <img class="img-circle"
                   ng-src={{video.video_data.user_detail.profile_picture}}>
              <p>
                <font color="black">{{video.video_data.user_detail.first_name}}
                  {{video.video_data.user_detail.last_name}}
                </font>
              </p>
            </a>
          </div>
          <!-- <div ng-if="contestData.contest_creator">
          <button type="submit"
          class="btn btn-lg button_orng ng-scope"
          ng-click="contestWinner(video.contest,video.id)">
          Winner
          </button> -->
        </div>
        <div class="text-center margin-top margin-bottom"
             ng-if="entries.results.length<1">
          <h3>No videos submitted</h3>
        </div>
      </div>
      <div role="tabpanel"
           class="tab-pane fade"
           id="purchased"
           ng-class="{active: tab1 === 1, fade: tab1 !== 1}"
           ng-show="tab1===1">
        <div class="col-md-4 col-sm-4 video-thumbs col-xs-12"
             ng-repeat="video in entries.results">
          <div class="video" ng-if="video.winner">
            {{video.water_marked_video}}
            <a ui-sref="video({slug: '{{video.video_data.slug}}'})">
              <video class="thevideo" loop width="”100%”">
                <source ng-src="{{ video.video_data.water_marked_video }}"
                        type="video/mp4"
                        accept="video/*">
                Your browser does not support the video tag.
              </video>
            </a>
          </div>
          <div class="author" ng-if="video.winner">
            <a href="#">
              <img class="img-circle"
                   ng-src={{video.video_data.user_detail.profile_picture}}>
              <p>
                <font color="black">
                  {{video.video_data.user_detail.first_name}}
                  {{video.video_data.user_detail.last_name}}
                </font>
              </p>
            </a>
          </div>
        </div>
        <div class="text-center margin-top margin-bottom"
             ng-if="purchasedCnt<1">
          <h3>No videos purchased</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- =============Modal for choose favorite======================-->
<div class="modal fade" id="uploaded_user" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Participants ({{contestData.uploaded.length}})
        </h4>
      </div>
      <div class="modal-body">
        <div class="row" ng-repeat="uploader in contestData.uploaded">
          <div class="col-lg-12 col-md-12">
            <div class="sh-card sh-card-leaderboard-photographer invite-card">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="info">
                    <a ui-sref="user_profile({username: '{{uploader.username}}'})">
                      <img src="{{uploader.profile_picture}}" class="avatar">
                    </a>
                    <div class="details">
                      <a ui-sref="user_profile({username: '{{uploader.username}}'})"
                         class="name">
                        {{uploader.first_name}} {{uploader.last_name}}
                      </a>
                      <div class="stats">
                        <span>{{uploader.username}}</span>
                      </div>
                      <div class="actions">
                        <a ng-if="uploader.is_following === false"
                           class="sh-btn sh-btn-mini sh-btn-success"
                           ng-click="follow_User(uploader, 'profile')"
                           role="button">
                          Follow
                        </a>
                        <a ng-if="uploader.is_following === true"
                           class="sh-btn sh-btn-mini sh-btn-success"
                           ng-click="follow_User(uploader, 'profile')"
                           role="button">
                          Following
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
