<!--<script src="/angular/assets/js/jquery.radios-to-slider.js"></script>-->
<!--<script src="/angular/assets/js/index.js"></script>-->
<!--<script src="/angular/assets/js/jquery.bubble-slider.js"></script>-->
<script src="/angular/assets/js/fastselect.standalone.js"></script>
<link rel="stylesheet" type="text/css" href="/angular/bower_components/angularjs-slider/dist/rzslider.css"/>
<script	src="/angular/bower_components/angularjs-slider/dist/rzslider.min.js"></script>
<!--
<script>
$(function(){
if ($('#datepicker')[0].type != 'date') {
$("#datepicker").datepicker({
minDate: new Date,
dateFormat: 'mm-dd-yy',
beforeShow: function(input, instance) {
$(input).datepicker('setDate', new Date());
}
});
}
});
</script>
-->
<section class="inner-banner"
         style="background-image: url(/angular/images/inner-banner1.jpg)">
  <div class="col-md-4 inner-banner-titles">
    <h3 class="">
      <h2>New Request</h2>
      <h2>
        <h4>Lorem ipsum dolor sit amet</h4>
      </h2>
    </h3>
  </div>
</section>
<!--main banner section-->
<!--call 2 action 1-->
<!--Home video thumbnails-->
<div class="container">
  <div class="row" id="contestId">
    <form name="forms.createcontestForm"
          novalidate class="request_form_box"
          ng-submit="newContest(forms.createcontestForm)">
      <p ng-show="forms.createcontestForm.$error"></p>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="request_form">
          <h3 class="light text-center margin-bottom-big">What are you looking for?</h3>
          <!--<form class="request_form_box">-->
          <div class="row">
            <div class="col-lg-7 col-md-7">
              <div class="form-group">
                <label>Title: (Required)</label>
                <input type="text"
                       class="form-control"
                       id="contest_title"
                       maxlength="255"
                       name="contest_title"
                       ng-model="contestForm.contest_title"
                       ng-disabled="contestForm.status=='publish'"
                       required>
                <span class="text-danger"
                      ng-show="(forms.createcontestForm.contest_title.$invalid &&
                               !forms.createcontestForm.contest_title.$pristine) ||
                               (forms.createcontestForm.contest_title.$invalid &&
                               contestSubmitted)">
                  <i class="text-warning fa fa-exclamation-triangle"></i>
                  Enter a title(Max-255)
                </span>
              </div>
            </div>
            <div class="col-lg-5 col-md-5">
              <div class="form-group">
                <label>Timeframe: (Required)</label>
                <!--
                <input type="date"
                class="form-control"
                id="datepicker"
                name="expiry_date"
                min='{{d}}'
                ng-model="contestForm.expiry_date"
                required>-->
                <!-- <input type="text"
                id="datepicker"
                class="form-control"
                name="expiry_date"
                ng-model="contestForm.expiry_date"
                required> -->
                <div class="right-inner-addon" style="position: relative">
                  <i class="glyphicon glyphicon-calendar"
                     style="position: absolute;
                            top: 50%;
                            font-size: 150%;
                            transform: translateY(-50%);
                            right: 0px;
                            padding: 10px 12px;
                            pointer-events: none;">
                  </i>
                  <input style="padding-right: 30px;"
                         type="text"
                         autocomplete="off"
                         id="datepicker"
                         class="form-control"
                         name="expiry_date"
                         uib-datepicker-popup="{{format}}"
                         ng-model="contestForm.expiry_date"
                         is-open="popup.opened"
                         datepicker-options="dateOptions"
                         ng-required="true"
                         close-text="Close"
                         show-button-bar="false"
                         alt-input-formats="altInputFormats"
                         ng-click="open()"
                         is-open1="focus"
                         ng-focus1="focus=true"
                         ng-focus="open()"
                         ng-disabled="contestForm.status=='publish'"
                         style1="background-color:white; cursor: default !important;"
                         readonly1="readonly"
                         required />
                </div>
                <span class="text-danger"
                      ng-show="(forms.createcontestForm.expiry_date.$invalid &&
                               !forms.createcontestForm.expiry_date.$pristine) ||
                               (forms.createcontestForm.expiry_date.$invalid && 
                               contestSubmitted)">
                  <i class="text-warning fa fa-exclamation-triangle">
                  </i>
                  Enter a valid date
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Purpose, Company or Brand: (Required)</label>
            <input type="text"
                   class="form-control"
                   id="concept"
                   name="concept"
                   ng-model="contestForm.purpose"
                   ng-disabled="contestForm.status=='publish'"
                   required>
            <span class="text-danger"
                  ng-show="(forms.createcontestForm.concept.$invalid &&
                           !forms.createcontestForm.concept.$pristine) ||
                           (forms.createcontestForm.concept.$invalid &&
                           contestSubmitted)">
              <i class="text-warning fa fa-exclamation-triangle"></i>
              Enter a concept
            </span>
          </div>
          <div class="form-group">
            <label>Styles/Categories: (Required)</label>
            <ui-select multiple
                       required
                       ng-model="contestForm.category"
                       ng-change="category(contestForm.category)"
                       theme="bootstrap"
                       ng-disabled="contestForm.status=='publish'"
                       require-multiple>
              <ui-select-match placeholder="Choose categories">{{$item.name}}
              </ui-select-match>
              <ui-select-choices repeat="category.id as category in categoryCollection |
                                         filter:$select.search">
                {{category.name}}
              </ui-select-choices>
            </ui-select>
            <span class="text-danger"
                  ng-init="valid_category=true"
                  ng-show="!valid_category">
              <i class="text-warning fa fa-exclamation-triangle"></i>
              Enter a category
            </span>
            <!--<input type="text"
            class="form-control"
            id="type" name="type"
            ng-model="contestForm.type"
            required>-->
            <!--<span class="text-danger"
            ng-show="(forms.createcontestForm.category.$invalid &&
            !forms.createcontestForm.category.$pristine) ||
            (forms.createcontestForm.category.$invalid &&
            contestSubmitted)">
            <i class="text-warning fa fa-exclamation-triangle"></i>
            Enter a type</span>-->
          </div>
          <div class="form-group">
            <label>Art Direction: (Required)</label>
            <textarea class="form-control" name="description" rows="3" ng-model="contestForm.art_direction" required></textarea>
            <span class="text-danger" ng-show="(forms.createcontestForm.description.$invalid && !forms.createcontestForm.description.$pristine) || (forms.createcontestForm.description.$invalid && contestSubmitted)"><i class="text-warning fa fa-exclamation-triangle"></i>Enter art direction</span>
          </div>

          <!-- <div class="row contest_requests">
          <label class="radio_label">Video Type:</label>
          <div class="col-lg-3 col-md-3">
          <div class="form-group request_form_radio">
          <input id="radio-1"
          class="radio-custom"
          type="radio"
          required name="video_type"
          ng-model="contestForm.video_type"
          ng-disabled="contestForm.status=='publish'"
          value="real_time"
          ng-init="contestForm.video_type='realtime'">
          <label for="radio-1" class="radio-custom-label">
          Real Time (4k@30fps)
          </label>
          </div>
          </div>
          <div class="col-lg-3 col-md-3">
          <div class="form-group request_form_radio">
          <input id="radio-2"
          class="radio-custom"
          type="radio"
          required name="video_type"
          ng-model="contestForm.video_type"
          value="time_lapse"
          ng-disabled="contestForm.status=='publish'">
          <label for="radio-2" class="radio-custom-label">
          Time Lapse (1080p@30fps)
          </label>
          </div>
          </div>
          <div class="col-lg-3 col-md-3">
          <div class="form-group request_form_radio">
          <input id="radio-3"
          class="radio-custom"
          type="radio"
          required name="video_type"
          ng-model="contestForm.video_type"
          value="slow_motion"
          ng-disabled="contestForm.status=='publish'">
          <label for="radio-3" class="radio-custom-label">
          Slow Motion (1080p@120fps)
          </label>
          </div>
          </div>
          </div> -->

          <div class="row contest_requests">
            <label class="radio_label">Video Type:</label>
            <div class="col-lg-3 col-md-3"
                 ng-repeat="vt in defaultCfg.video_type.results">
              <div class="form-group request_form_radio">
                <input id="radio-{{vt.video_type}}"
                       class="radio-custom"
                       type="radio"
                       required
                       name="video_type"
                       ng-model="contestForm.video_type"
                       ng-disabled="contestForm.status=='publish'"
                       value="{{vt.video_type}}"
                       ng-change="update_video_type($index)"
                       ng-init1="contestForm.video_type=defaultCfg.video_type.results[0].video_type">
                <label for="radio-{{vt.video_type}}"
                       class="radio-custom-label"
                       style="white-space: nowrap;">
                  {{vt.display_name}}
                </label>
              </div>
            </div>
          </div>
          
          <p>
            <span class="text-danger"
                  ng-show="(forms.createcontestForm.video_type.$invalid &&
                           !forms.createcontestForm.video_type.$pristine) ||
                           (forms.createcontestForm.video_type.$invalid &&
                           contestSubmitted)">
              <i class="text-warning fa fa-exclamation-triangle"></i>
              Select video type
            </span>
          </p>

          <!-- <div class="row contest_requests">
          <label class="radio_label">Orientation:</label>
          <div class="col-lg-3 col-md-3">
          <div class="form-group request_form_radio">
          <input id="radio-1"
          class="radio-custom"
          type="radio"
          required
          name="orientation"
          ng-model="contestForm.orientation"
          ng-disabled="contestForm.status=='publish'"
          value="any"
          ng-init="contestForm.orientation='any'">
          <label for="radio-1" class="radio-custom-label">Any</label>
          </div>
          </div>
          <div class="col-lg-3 col-md-3">
          <div class="form-group request_form_radio">
          <input id="radio-2"
          class="radio-custom"
          type="radio"
          required
          name="orientation"
          ng-model="contestForm.orientation"
          value="portrait"
          ng-disabled="contestForm.status=='publish'">
          <label for="radio-2"
          class="radio-custom-label">
          Portrait
          </label>
          </div>
          </div>
          <div class="col-lg-3 col-md-3">
          <div class="form-group request_form_radio">
          <input id="radio-3"
          class="radio-custom"
          type="radio"
          required
          name="orientation"
          ng-model="contestForm.orientation"
          value="landscape"
          ng-disabled="contestForm.status=='publish'">
          <label for="radio-3"
          class="radio-custom-label">
          Landscape
          </label>
          </div>
          </div>
          <div class="col-lg-3 col-md-3">
          <div class="form-group request_form_radio">
          <input id="radio-4" class="radio-custom"
          type="radio"
          required
          name="orientation"
          ng-model="contestForm.orientation"
          value="square"
          ng-disabled="contestForm.status=='publish'">
          <label for="radio-4"
          class="radio-custom-label">
          Square
          </label>
          </div>
          </div>
          </div> -->
          <div class="row contest_requests">
            <label class="radio_label">Orientation:</label>
            <div class="col-lg-3 col-md-3"
                 ng-repeat="ot in defaultCfg.video_orientation.results">
              <div class="form-group request_form_radio">
                <input id="radio-{{ot.orientation}}"
                       class="radio-custom"
                       type="radio"
                       required
                       name="orientation"
                       ng-model="contestForm.orientation"
                       ng-disabled="contestForm.status=='publish'"
                       value="{{ot.orientation}}"
                       ng-init1="contestForm.orientation='any'"
                       ng-init="contestForm.orientation=defaultCfg.video_orientation.results[0].orientation">
                <label for="radio-{{ot.orientation}}"
                       class="radio-custom-label">
                  {{ot.display_name}}
                </label>
              </div>
            </div>
          </div>
          
          <p>
            <span class="text-danger"
                  ng-show="(forms.createcontestForm.orientation.$invalid &&
                           !forms.createcontestForm.orientation.$pristine) ||
                           (forms.createcontestForm.orientation.$invalid &&
                           contestSubmitted)">
              <i class="text-warning fa fa-exclamation-triangle"></i>
              Select orientation
            </span>
          </p>
          <!-- <div class="row contest_requests">
          <label class="radio_label">Environment:</label>
          <div class="col-lg-3 col-md-3">
          <div class="form-group request_form_radio">
          <input id="radio-5"
          class="radio-custom"
          type="radio"
          required
          name="environment"
          ng-model="contestForm.environment"
          value="any"
          ng-init="contestForm.environment='any'"
          ng-disabled="contestForm.status=='publish'">
          <label for="radio-5" class="radio-custom-label">Any</label>
          </div>
          </div>
          <div class="col-lg-3 col-md-3">
          <div class="form-group request_form_radio">
          <input id="radio-6"
          class="radio-custom"
          type="radio"
          required
          name="environment"
          ng-model="contestForm.environment"
          value="indoor"
          ng-disabled="contestForm.status=='publish'">
          <label for="radio-6" class="radio-custom-label">Indoor</label>
          </div>
          </div>
          <div class="col-lg-3 col-md-3">
          <div class="form-group request_form_radio">
          <input id="radio-7"
          class="radio-custom"
          type="radio"
          required
          name="environment"
          ng-model="contestForm.environment"
          value="outdoor"
          ng-disabled="contestForm.status=='publish'">
          <label for="radio-7" class="radio-custom-label">Outdoor</label>
          </div>
          </div>
          </div> -->

          <div class="row contest_requests">
            <label class="radio_label">Environment:</label>
            <div class="col-lg-3 col-md-3"
                 ng-repeat="et in defaultCfg.video_environment.results">
              <div class="form-group request_form_radio">
                <input id="radio-{{et.environment}}"
                       class="radio-custom"
                       type="radio"
                       required
                       name="environment"
                       ng-model="contestForm.environment"
                       value="{{et.environment}}"
                       ng-init1="contestForm.environment='any'"
                       ng-disabled="contestForm.status=='publish'">
                <label for="radio-{{et.environment}}" class="radio-custom-label">
                  {{et.display_name}}
                </label>
              </div>
            </div>
          </div>
          
          <p>
            <span class="text-danger"
                  ng-show="(forms.createcontestForm.environment.$invalid && 
                           !forms.createcontestForm.environment.$pristine) || 
                           (forms.createcontestForm.environment.$invalid && 
                           contestSubmitted)">
              <i class="text-warning fa fa-exclamation-triangle"></i>
              Select environment
            </span>
          </p>
          <!-- <div class="row contest_requests">
          <label class="radio_label">Lighting:</label>
          <div class="col-lg-3 col-md-3">
          <div class="form-group request_form_radio">
          <input id="radio-8"
          class="radio-custom"
          type="radio"
          required
          name="lighting"
          ng-model="contestForm.lighting"
          value="any"
          ng-init="contestForm.lighting='any'"
          ng-disabled="contestForm.status=='publish'">
          <label for="radio-8" class="radio-custom-label">Any</label>
          </div>
          </div>
          <div class="col-lg-3 col-md-3">
          <div class="form-group request_form_radio">
          <input id="radio-9"
          class="radio-custom"
          type="radio"
          required
          name="lighting"
          ng-model="contestForm.lighting"
          value="natural"
          ng-disabled="contestForm.status=='publish'">
          <label for="radio-9" class="radio-custom-label">Natural</label>
          </div>
          </div>
          <div class="col-lg-3 col-md-3">
          <div class="form-group request_form_radio">
          <input id="radio-10"
          class="radio-custom"
          type="radio"
          required
          name="lighting"
          ng-model="contestForm.lighting"
          value="studio"
          ng-disabled="contestForm.status=='publish'">
          <label for="radio-10" class="radio-custom-label">Studio</label>
          </div>
          </div>
          </div> -->

          <div class="row contest_requests">
            <label class="radio_label">Lighting:</label>
            <div class="col-lg-3 col-md-3"
                 ng-repeat="lt in defaultCfg.video_lighting.results">
              <div class="form-group request_form_radio">
                <input id="radio-{{lt.lighting}}"
                       class="radio-custom"
                       type="radio"
                       required
                       name="lighting"
                       ng-model="contestForm.lighting"
                       value="{{lt.lighting}}"
                       ng-init1="contestForm.lighting='any'"
                       ng-disabled="contestForm.status=='publish'">
                <label for="radio-{{lt.lighting}}" class="radio-custom-label">
                  {{lt.display_name}}
                </label>
              </div>
            </div>
          </div>
          <p>
            <span class="text-danger"
                  ng-show="(forms.createcontestForm.lighting.$invalid &&
                           !forms.createcontestForm.lighting.$pristine) || 
                           (forms.createcontestForm.lighting.$invalid && 
                           contestSubmitted)">
              <i class="text-warning fa fa-exclamation-triangle"></i>
              Select lighting
            </span>
          </p>
          <div class="row contest_requests">
            <div class="col-lg-12 col-md-12">
              <label>Duration of the video(in seconds):</label>
              <div>
                <rzslider rz-slider-options="slider.options"
                          rz-slider-model="contestForm.video_max_length">
                </rzslider>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Story board</label>
            <ul class="story_tell">
              <li>
                <span class="video_upload_box" id="board01">
                  <div class="button"
                       accept="'image/*'"
                       ngf-select
                       ng-model="story_1"
                       name="file1"
                       ngf-pattern="'image/*'"
                       ngf-accept="'image/*'">
                    <i class="fa fa-plus"></i>
                  </div>
                  <img ng-if="story_1"
                       ngf-src="story_1 || '/thumb.jpg'"
                       height="100px"
                       width="100px">
                  <a ng-if="story_1"
                     ng-click="clearImage('story_1')">
                    <i class="fa fa-times story-tell-close"></i>
                  </a>
                </span>
              </li>
              <li>
                <span class="video_upload_box" id="board02">
                  <div class="button"
                       accept="'image/*'"
                       ngf-select
                       ng-model="story_2"
                       name="file2"
                       ngf-pattern="'image/*'"
                       ngf-accept="'image/*'">
                    <i class="fa fa-plus"></i>
                  </div>
                  <img ng-if="story_2"
                       ngf-src="story_2 || '/thumb.jpg'"
                       height="100px"
                       width="100px">
                  <a ng-if="story_2"
                     ng-click="clearImage('story_2')">
                    <i class="fa fa-times story-tell-close"></i>
                  </a>
                </span>
              </li>
              <li>
                <span class="video_upload_box" id="board03">
                  <div class="button"
                       accept="'image/*'"
                       ngf-select
                       ng-model="story_3"
                       name="file3"
                       ngf-pattern="'image/*'"
                       ngf-accept="'image/*'"><i class="fa fa-plus"></i></div>
                  <img ng-if="story_3"
                       ngf-src="story_3 || '/thumb.jpg'"
                       height="100px"
                       width="100px">
                  <a ng-if="story_3"
                     ng-click="clearImage('story_3')">
                    <i class="fa fa-times story-tell-close"></i>
                  </a>
                </span>
              </li>
              <li>
                <span class="video_upload_box" id="board04">
                  <div class="button"
                       accept="'image/*'"
                       ngf-select
                       ng-model="story_4"
                       name="file4"
                       ngf-pattern="'image/*'"
                       ngf-accept="'image/*'"><i class="fa fa-plus"></i></div>
                  <img ng-if="story_4"
                       ngf-src="story_4 || '/thumb.jpg'"
                       height="100px"
                       width="100px">
                  <a ng-if="story_4"
                     ng-click="clearImage('story_4')">
                    <i class="fa fa-times story-tell-close"></i>
                  </a>
                </span>
              </li>
              <li>
                <span class="video_upload_box" id="board05">
                  <div class="button"
                       accept="'image/*'"
                       ngf-select
                       ng-model="story_5"
                       name="file5"
                       ngf-pattern="'image/*'"
                       ngf-accept="'image/*'">
                    <i class="fa fa-plus"></i>
                  </div>
                  <img ng-if="story_5"
                       ngf-src="story_5 || '/thumb.jpg'"
                       height="100px"
                       width="100px">
                  <a ng-if="story_5"
                     ng-click="clearImage('story_5')">
                    <i class="fa fa-times story-tell-close"></i>
                  </a>
                </span>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="row contest_requests">
            <label class="radio_label">Space for copy:</label>
            <div class="col-lg-3 col-md-3">
              <div class="form-group request_form_radio">
                <input id="radio-15"
                       class="radio-custom"
                       type="radio"
                       name="space_for_copy"
                       ng-model="contestForm.space_for_copy"
                       value=false
                       ng-init1="contestForm.space_for_copy='false'"
                       ng-disabled="contestForm.status=='publish'">
                <label for="radio-15" class="radio-custom-label">No</label>
              </div>
            </div>
            <div class="col-lg-3 col-md-3">
              <div class="form-group request_form_radio">
                <input id="radio-16"
                       class="radio-custom"
                       type="radio"
                       name="space_for_copy"
                       ng-model="contestForm.space_for_copy"
                       value=true
                       ng-disabled="contestForm.status=='publish'">
                <label for="radio-16" class="radio-custom-label">Yes</label>
              </div>
            </div>
          </div>
          <div class="row contest_requests">
            <label class="radio_label">Accept curated Videos:</label>
            <div class="col-lg-3 col-md-3">
              <div class="form-group request_form_radio">
                <input id="accept_curated_videos1"
                       class="radio-custom"
                       type="radio"
                       name="accept_curated_videos"
                       ng-model="contestForm.accept_curated_videos"
                       value=false
                       ng-init1="contestForm.accept_curated_videos='false'"
                       ng-disabled="contestForm.status=='publish'">
                <label for="accept_curated_videos1"
                       class="radio-custom-label">
                  No
                </label>
              </div>
            </div>
            <div class="col-lg-3 col-md-3">
              <div class="form-group request_form_radio">
                <input id="accept_curated_videos2"
                       class="radio-custom"
                       type="radio"
                       name="accept_curated_videos"
                       ng-model="contestForm.accept_curated_videos"
                       value=true
                       ng-disabled="contestForm.status=='publish'">
                <label for="accept_curated_videos2" class="radio-custom-label">
                  Yes
                </label>
              </div>
            </div>
          </div>
          <!--</form> form actual end-->
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="request_actions">
          <h4>Select Videographer Quality Level</h4>
          <div class="block">
            <rzslider rz-slider-model="slider_ticks.value"
                      rz-slider-options="slider_ticks.options"
                      ng-if="slider_ticks.value!=null"></rzslider>
          </div>
          <div class="price-label margin-top">
          </div>
          <hr>
          <h4 class="price-label">Suggested Price Per Video</h4>
          <div class="form-group controls">
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input name="payout_custom" type="hidden" value="0">
              <input id="input-payout"
                     placeholder="{{suggestedPrice+extrasPrice}}"
                     maxlength="4" ng-model="contestForm.award_amount"
                     class="form-control"
                     name="payout"
                     type="number"
                     min="0"
                     step="1"
                     autocomplete="off"
                     ng-disabled="contestForm.status=='publish'"
                     ng-change="changePrice(contestForm.award_amount)"
                     required>
              <div class="input-group-addon edit" data-edit="price"><i class="fa fa-pencil"></i>
              </div>
            </div>
            <span class="text-danger"
                  ng-show="contestForm &&
                           suggestedPrice!=null &&
                           extrasPrice!=null &&
                           (contestForm.award_amount==null ||
                           contestForm.award_amount<(suggestedPrice+extrasPrice))"
                  ng-show1="award_amount_invalid"
                  ng-cloak>
              <i class="text-warning fa fa-exclamation-triangle"></i>
              Offer at least suggested minimum request price.
            </span>
          </div>
          <h5 class="offer_label ">
            Minimum request price
            <strong>
              <span data-container="payout">${{suggestedPrice+extrasPrice}}</span>
            </strong>. You control price but engage the best talent by offering the most your
            budget will afford. Consider the effort to get the shot.
          </h5>
          <button class1="sh-btn btn-block sh-btn-success"
                  class="btn btn-primary btn-block sh-btn-success"
                  data-action="request-create-review"
                  type1="submit"
                  type="button"
                  ng-click="contestSave()"
                  ng-disabled="(!forms.createcontestForm.$valid) ||
                               (contestForm.private &&
                               (contestForm.invited_people.length < 1)) ||
                               (!validForm)">
            Next Step
          </button>
        </div>
        <div class="request_extras">
          <h4>REQUEST EXTRAS</h4>
          <!--<form class="rqst_form">-->
          <div class="form-group">
            <input id="checkbox-3"
                   ng-model="contestForm.private"
                   class="checkbox-custom"
                   name="checkbox-3"
                   ng-change="changePrivateContest(contestForm.private)"
                   type="checkbox">
            <label for="checkbox-3" class="checkbox-custom-label">Private Request</label>
            <div class="price-box">
              <h4 class="option-price">${{price_config.private_request_price}}</h4>
            </div>
          </div>
          <div class="form-group" ng-show1="slider_ticks.value!==0 || needinvite">
            <input class="checkbox-custom"
                   ng-model="needinvite"
                   name="checkbox-2"
                   type="checkbox"
                   ng-change="changeInvite(needinvite)"
                   id="cbxShowHide"
                   ngclick>
            <label for="cbxShowHide" class="checkbox-custom-label">Invite videographers</label>
            <div class="price-box">
              <h4 class="option-price">${{price_config.invite_price}}</h4>
            </div>
            <div ng-show="needinvite" class="form-group">
              <h4 class="option-info margin-bottom margin-top">
                <span style="font-weight:bold;"
                      data-value="users-to-invite-count">
                  {{contestForm.invited_people.length}}
                </span>
                out of
                <span style="font-weight:bold;">10</span>
                chosen. Videographers will be invited when this is published.
              </h4>
              <div class="box form-group">
                <ui-select ng-model="selected_level"
                           theme="bootstrap"
                           ng-change="videographerLevel(selected_level, 1)">
                  <ui-select-match allow-clear='true'
                                   placeholder="Choose level of videographer">
                    {{$select.selected.level}}
                  </ui-select-match>
                  <ui-select-choices repeat="level.value as level in invitelevels">
                    {{level.level}}
                  </ui-select-choices>
                </ui-select>
              </div>
              <a class="choose_fvrt_btn text-center"
                 data-toggle="modal"
                 data-target="#choose_favorite_model">
                Choose Your Favorites
              </a>
            </div>
            <span class="text-danger"
                  ng-show="contestForm.private && (contestForm.invited_people.length<1)">
	      <i class="text-warning fa fa-exclamation-triangle"></i>
              At least one videographer must be invited for a private request.
            </span>
          </div>
          <div class="form-group">
            <input id="checkbox-4"
                   ng-model="contestForm.model_release"
                   ng-change="changeModelRelease(contestForm.model_release)"
                   class="checkbox-custom"
                   name="checkbox-4"
                   type="checkbox">
            <label for="checkbox-4" class="checkbox-custom-label">Model Release</label>
            <div class="price-box">
              <h4 class="option-price">${{price_config.model_release_price}}</h4>
            </div>
          </div>
          <div class="form-group">
            <input class="checkbox-custom"
                   ng-model="showmap"
                   ng-change="showLocation(showmap)"
                   name="checkbox-2"
                   type="checkbox"
                   id="cbxShowHide_b">
            <label for="cbxShowHide_b"
                   class="checkbox-custom-label">Location
            </label>
            <div class="price-box">
              <h4 class="option-price">${{price_config.location_price}}</h4>
            </div>
            <div ng-show="showmap">
              <!-- <div class="input-group margin-top"> -->
              <div class="form-group form-group-custom margin-top">
                <!-- <span ng-click="search()"
                class="glyphicon srch-lns glyphicon-search"
                ng-disabled="!searchPlace || !searchPlace.name || searchForm.$invalid">
                </span>-->
                <input name="place"
                       id="geocomplete"
                       g-places-autocomplete
                       ng-model="searchPlace"
                       ng-keyup="searchPlace &&
                                 searchPlace.name &&
                                 !searchForm.$invalid &&
                                 $event.keyCode == 13 &&
                                 search()"
                       type="text"
                       autocomplete="off"
                       placeholder="Type in an address"
                       style="padding-right: 40px;"
                       size="90" />
                <span ng-disabled="!searchPlace || !searchPlace.name || searchForm.$invalid"
                      ng-click="search()"
                      class="glyphicon srch-lns glyphicon-search">
                </span>
              </div>
              <div id="map"></div>
            </div>
          </div>
          <button class1="sh-btn btn-block sh-btn-success"
                  class="btn btn-primary btn-block sh-btn-success"
                  data-action="request-create-review"
                  type1="submit"
                  type="button"
                  ng-click="contestSave()"
                  ng-disabled="(!forms.createcontestForm.$valid) ||
                               (contestForm.private &&
                               (contestForm.invited_people.length < 1)) ||
                               (!validForm)">
            Next Step
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!--call 2 action 1-->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- ===========================Modal windows=========================================-->
<div class="modal fade"
     id="story_board01"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">&nbsp;</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 bhoechie-tab-container">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
              <div class="list-group">
                <a href="#" class="list-group-item active text-center">
                  <i class="fa fa-home"></i>My computer
                </a>
                <!--<a href="#" class="list-group-item text-center">-->
                <!--<i class="fa fa-instagram"></i>Instagram-->
                <!--</a>-->
                <!--<a href="#" class="list-group-item text-center">-->
                <!--<i class="fa fa-google-plus"></i>Google plus-->
                <!--</a>-->
                <!--<a href="#" class="list-group-item text-center">-->
                <!--<i class="fa fa-dropbox"></i>Dropbox-->
                <!--</a>-->
                <!--<a href="#" class="list-group-item text-center">-->
                <!--<i class="fa fa-facebook"></i>Facebook-->
                <!--</a>-->
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
              <!-- flight section -->
              <div class="bhoechie-tab-content active">
                <!--<input id="input-ficons-1" name="inputficons1[]"  type="file"  class="file">-->
                <input id="profilepic"
                       name="image"
                       type="file"
                       name="inspirational_image"
                       class="file"
                       ng-model="contestForm.inspirational_image"
                       onchange="readURL(this);"
                       accept="image/*"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- =============Modal for choose favorite ======================-->
<div class="modal fade" id="choose_favorite_model" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Invite Videographers</h4>
      </div>
      <div class="modal-body">
        <div class="well text-center">
          <div class="invite-box">
            <div class="avatar-placeholder">
              <span ng-if="contestForm.invited_people[0] && 
                           !contestForm.invited_people[0].profile_picture"
                    class="avatar">
                {{contestForm.invited_people[0].first_name}}
                {{contestForm.invited_people[0].last_name}}
              </span>
              <img ng-src={{contestForm.invited_people[0].profile_picture}}
                   class="avatar"
                   ng-if="contestForm.invited_people[0] && 
                          contestForm.invited_people[0].profile_picture">
              <a class="remove"
                 ng-click=removeInvite(0)
                 ng-class="{disabled: !contestForm.invited_people[0]}">
                <i class="fa fa-times"
                   data-async-update="/request/edit/invite"
                   data-action="remove"
                   data-value="none">
                </i>
              </a>
            </div>
          </div>
          <div class="invite-box">
            <div class="avatar-placeholder">
              <span ng-if="contestForm.invited_people[1] && 
                           !contestForm.invited_people[1].profile_picture"
                    class="avatar">
                {{contestForm.invited_people[1].first_name}}
                {{contestForm.invited_people[1].last_name}}
              </span>
              <img ng-src={{contestForm.invited_people[1].profile_picture}}
                   class="avatar"
                   ng-if="contestForm.invited_people[1] && 
                          contestForm.invited_people[1].profile_picture">
              <a class="remove"
                 ng-click=removeInvite(1)
                 ng-class="{disabled: !contestForm.invited_people[1]}">
                <i class="fa fa-times"
                   data-async-update="/request/edit/invite"
                   data-action="remove"
                   data-value="none">
                </i>
              </a>
            </div>
          </div>
          <div class="invite-box">
            <div class="avatar-placeholder">
              <span ng-if="contestForm.invited_people[2] && 
                           !contestForm.invited_people[2].profile_picture"
                    class="avatar">
                {{contestForm.invited_people[2].first_name}}
                {{contestForm.invited_people[2].last_name}}
              </span>
              <img ng-src={{contestForm.invited_people[2].profile_picture}}
                   class="avatar"
                   ng-if="contestForm.invited_people[2] && 
                          contestForm.invited_people[2].profile_picture">
              <a class="remove"
                 ng-click=removeInvite(2)
                 ng-class="{disabled: !contestForm.invited_people[2]}">
                <i class="fa fa-times"
                   data-async-update="/request/edit/invite"
                   data-action="remove"
                   data-value="none">
                </i>
              </a>
            </div>
          </div>
          <div class="invite-box">
            <div class="avatar-placeholder">
              <span ng-if="contestForm.invited_people[3] && 
                           !contestForm.invited_people[3].profile_picture"
                    class="avatar">
                {{contestForm.invited_people[3].first_name}}
                {{contestForm.invited_people[3].last_name}}
              </span>
              <img ng-src={{contestForm.invited_people[3].profile_picture}}
                   class="avatar"
                   ng-if="contestForm.invited_people[3] && 
                          contestForm.invited_people[3].profile_picture">
              <a class="remove"
                 ng-click=removeInvite(3)
                 ng-class="{disabled: !contestForm.invited_people[3]}">
                <i class="fa fa-times"
                   data-async-update="/request/edit/invite"
                   data-action="remove"
                   data-value="none">
                </i>
              </a>
            </div>
          </div>
          <div class="invite-box">
            <div class="avatar-placeholder">
              <span ng-if="contestForm.invited_people[4] && 
                           !contestForm.invited_people[4].profile_picture"
                    class="avatar">
                {{contestForm.invited_people[4].first_name}}
                {{contestForm.invited_people[4].last_name}}
              </span>
              <img ng-src={{contestForm.invited_people[4].profile_picture}}
                   class="avatar"
                   ng-if="contestForm.invited_people[4] && 
                          contestForm.invited_people[4].profile_picture">
              <a class="remove"
                 ng-click=removeInvite(4)
                 ng-class="{disabled: !contestForm.invited_people[4]}">
                <i class="fa fa-times"
                   data-async-update="/request/edit/invite"
                   data-action="remove"
                   data-value="none">
                </i>
              </a>
            </div>
          </div>
          <div class="invite-box">
            <div class="avatar-placeholder">
              <span ng-if="contestForm.invited_people[5] && 
                           !contestForm.invited_people[5].profile_picture"
                    class="avatar">
                {{contestForm.invited_people[5].first_name}}
                {{contestForm.invited_people[5].last_name}}
              </span>
              <img ng-src={{contestForm.invited_people[5].profile_picture}}
                   class="avatar"
                   ng-if="contestForm.invited_people[5] && 
                          contestForm.invited_people[5].profile_picture">
              <a class="remove"
                 ng-click=removeInvite(5)
                 ng-class="{disabled: !contestForm.invited_people[5]}">
                <i class="fa fa-times"
                   data-async-update="/request/edit/invite"
                   data-action="remove"
                   data-value="none">
                </i>
              </a>
            </div>
          </div>
          <div class="invite-box">
            <div class="avatar-placeholder">
              <span ng-if="contestForm.invited_people[6] && 
                           !contestForm.invited_people[6].profile_picture"
                    class="avatar">
                {{contestForm.invited_people[6].first_name}}
                {{contestForm.invited_people[6].last_name}}
              </span>
              <img ng-src={{contestForm.invited_people[6].profile_picture}}
                   class="avatar"
                   ng-if="contestForm.invited_people[6] && 
                          contestForm.invited_people[6].profile_picture">
              <a class="remove"
                 ng-click=removeInvite(6)
                 ng-class="{disabled: !contestForm.invited_people[6]}">
                <i class="fa fa-times"
                   data-async-update="/request/edit/invite"
                   data-action="remove"
                   data-value="none">
                </i>
              </a>
            </div>
          </div>
          <div class="invite-box">
            <div class="avatar-placeholder">
              <span ng-if="contestForm.invited_people[7] && 
                           !contestForm.invited_people[7].profile_picture"
                    class="avatar">
                {{contestForm.invited_people[7].first_name}}
                {{contestForm.invited_people[7].last_name}}
              </span>
              <img ng-src={{contestForm.invited_people[7].profile_picture}}
                   class="avatar"
                   ng-if="contestForm.invited_people[7] && 
                          contestForm.invited_people[7].profile_picture">
              <a class="remove"
                 ng-click=removeInvite(7)
                 ng-class="{disabled: !contestForm.invited_people[7]}">
                <i class="fa fa-times"
                   data-async-update="/request/edit/invite"
                   data-action="remove"
                   data-value="none">
                </i>
              </a>
            </div>
          </div>
          <div class="invite-box">
            <div class="avatar-placeholder">
              <span ng-if="contestForm.invited_people[8] && 
                           !contestForm.invited_people[8].profile_picture"
                    class="avatar">
                {{contestForm.invited_people[8].first_name}}
                {{contestForm.invited_people[8].last_name}}
              </span>
              <img ng-src={{contestForm.invited_people[8].profile_picture}}
                   class="avatar"
                   ng-if="contestForm.invited_people[8] && 
                          contestForm.invited_people[8].profile_picture">
              <a class="remove"
                 ng-click=removeInvite(8)
                 ng-class="{disabled: !contestForm.invited_people[8]}">
                <i class="fa fa-times"
                   data-async-update="/request/edit/invite"
                   data-action="remove"
                   data-value="none">
                </i>
              </a>
            </div>
          </div>
          <div class="invite-box">
            <div class="avatar-placeholder">
              <span ng-if="contestForm.invited_people[9] && 
                           !contestForm.invited_people[9].profile_picture"
                    class="avatar">
                {{contestForm.invited_people[9].first_name}}
                {{contestForm.invited_people[9].last_name}}
              </span>
              <img ng-src={{contestForm.invited_people[9].profile_picture}}
                   class="avatar"
                   ng-if="contestForm.invited_people[9] && 
                          contestForm.invited_people[9].profile_picture">
              <a class="remove"
                 ng-click=removeInvite(9)
                 ng-class="{disabled: !contestForm.invited_people[9]}">
                <i class="fa fa-times"
                   data-async-update="/request/edit/invite"
                   data-action="remove"
                   data-value="none">
                </i>
              </a>
            </div>
          </div>
          <div class="clear_link">
            <a ng-click="clearallVideographers()"
               data-async-update="/request/edit/invite"
               data-action="remove"
               data-value="all"
               class="clear-link">Clear All</a>
          </div>
        </div>
        <form ng-submit="videographerLevel(selected_level, 1)"
              class="videographers_search_form">
          <fieldset>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <input type="text"
                       class="form-control"
                       id=""
                       ng-model="videographer_name"
                       placeholder="videographers name">
              </div>
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <button type="submit"
                        class="sh-btn btn-block sh-btn-big sh-btn-success">
                  Search
                </button>
              </div>
            </div>
          </fieldset>
        </form>
        <div class="row">
          <div class="col-lg-12 col-md-12"
               dir-paginate="videographer in videographerCollection | 
                             itemsPerPage: pagination.items_per_page"
               total-items="total_count"
               current-page="pagination.current">
            <div class="sh-card sh-card-leaderboard-photographer invite-card">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="info">
                    <a>
                      <img ng-src={{videographer.user.profile_picture}} class="avatar" >
                    </a>
                    <div class="details">
                      <a ng-click="gotoUserProfile(videographer.user.username)"
                         class="name">
                        {{videographer.user.first_name}}
                        {{videographer.user.last_name}}
                      </a>
                      <div class="stats">
                        <span class="account-status-level">{{videographer.user.level}}</span>
                      </div>
                      <div class="actions">
                        <button ng-click="inviteVideographer(videographer.user)"
                                class="sh-btn sh-btn-mini sh-btn-success btn-disabled"
                                ng-disabled="videographer.user.invited">
                          invite
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 hidden-xs hidden-sm">
                  <div class="contest_videos">
                    <a href="#">
                      <video class="thevideo" loop width="â100%â">
                        <source src="angular/videos/00108000.mp4"
                                type="video/mp4"
                                accept="video/*">
                        Your browser does not support the video tag.
                      </video>
                    </a>
                    <a href="#">
                      <video class="thevideo" loop width="â100%â">
                        <source src="angular/videos/00108000.mp4"
                                type="video/mp4"
                                accept="video/*">
                        Your browser does not support the video tag.
                      </video>
                    </a>
                    <a href="#">
                      <video class="thevideo" loop width="â100%â">
                        <source src="angular/videos/00108000.mp4"
                                type="video/mp4"
                                accept="video/*">
                        Your browser does not support the video tag.
                      </video>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h2 class="text-center sh-card-leaderboard-photographer"
              ng-if="videographerCollection.length==0 ||
                     !videographerCollection">
            No Videographers found
          </h2>
        </div>
        <div class="text-center">
          <dir-pagination-controls on-page-change="videographerLevel(selected_level, newPageNumber)">
          </dir-pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
  <script src="http://harvesthq.github.io/chosen/chosen.jquery.js"></script>
  <script src="angular/assets/js/bootstrap-slider.js"></script>
  <script>
   $(function() {
     $('.chosen-select').chosen();
     $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
     $("#ex2").slider({});
   });
  </script>
  <script src="/angular/assets/js/canvas-to-blob.min.js"></script>
  <script src="/angular/assets/js/fileinput.js"></script>
  <script></script>
  <script>
   /** Document Ready Functions **/
   /********************************************************************/

   $(document).ready(function() {




     $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
       e.preventDefault();
       $(this).siblings('a.active').removeClass("active");
       $(this).addClass("active");
       var index = $(this).index();
       $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
       $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
     });



     $('#cbxShowHide').click(function(){
       this.checked?$('#block').show(300):$('#block').hide(300);
     });

     $('#cbxShowHide_b').click(function(){
       this.checked?$('#block_b').show(300):$('#block_b').hide(300);
       var map = $('#block_b')
     });
     //
   });

  </script>
