
  <!--<script src="/angular/assets/js/jquery.radios-to-slider.js"></script>-->
  <!--<script src="/angular/assets/js/index.js"></script>-->
  <!--<script src="/angular/assets/js/jquery.bubble-slider.js"></script>-->
  <script src="/angular/assets/js/fastselect.standalone.js"></script>
<link rel="stylesheet" type="text/css" href="/angular/bower_components/angularjs-slider/dist/rzslider.css"/>
<script src="/angular/bower_components/angularjs-slider/dist/rzslider.min.js"></script>
 <section class="inner-banner" style="background-image: url(/angular/images/inner-banner1.jpg)">
  <div class="col-md-4 inner-banner-titles">
   <h3 class="">
    <h2>Edit Request</h2>
    <h2>
     <h4>Lorem ipsum dolor sit amet</h4>
    </h2>
   </h3>
  </div>
 </section>
 <!--main banner section-->
 <!--call 2 action 1-->
 <!--Home video thumbnails-->


 <div class="container">
  <div class="row" id="contestId">
   <form name="createcontestForm" novalidate class="request_form_box" ng-submit="newContest(createcontestForm)">
    <p ng-show="createcontestForm.$error"></p>
   <div class="col-lg-8 col-md-8 col-sm-12">
    <div class="request_form">
     <h3 class="light text-center margin-bottom-big">What are you looking for?</h3>
     <!--<form class="request_form_box">-->

      <div class="row">
       <div class="col-lg-7 col-md-7">
        <div class="form-group">
         <label>Title: (Required)</label>
         <input type="text" class="form-control" id="contest_title" maxlength="255" name="contest_title" ng-model="contestForm.contest_title" required>
         <span class="text-danger" ng-show="(createcontestForm.contest_title.$invalid && !createcontestForm.contest_title.$pristine) || (createcontestForm.contest_title.$invalid && contestSubmitted)"><i class="text-warning fa fa-exclamation-triangle"></i>Enter a title(Max-255)</span>
        </div>
       </div>

       <div class="col-lg-5 col-md-5">
        <div class="form-group">
         <label>Timeframe: (Required)</label>
         <input type="date" class="form-control" id="datepicker" name="expiry_date" min='{{d}}' ng-model="contestForm.expiry_date" required>
         <span class="text-danger" ng-show="(createcontestForm.expiry_date.$invalid && !createcontestForm.expiry_date.$pristine) || (createcontestForm.expiry_date.$invalid && contestSubmitted)"><i class="text-warning fa fa-exclamation-triangle"></i>Enter a valid date</span>
        </div>
       </div>

      </div>


      <div class="form-group">
       <label>Purpose, Company or Brand: (Required)</label>
       <input type="text" class="form-control" id="concept" name="concept" ng-model="contestForm.purpose" required>
       <span class="text-danger" ng-show="(createcontestForm.concept.$invalid && !createcontestForm.concept.$pristine) || (createcontestForm.concept.$invalid && contestSubmitted)"><i class="text-warning fa fa-exclamation-triangle"></i>Enter a concept</span>
      </div>


      <div class="form-group">
       <label>Styles/Categories: (Required)</label>
          <ui-select multiple ng-model="contestForm.category" required theme="bootstrap">
                                        <ui-select-match placeholder="Choose categories">{{$item.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="category.id as category in categoryCollection | filter:$select.search">
                                            {{category.name}}
                                        </ui-select-choices>
                                    </ui-select>


       <!--<input type="text" class="form-control" id="type" name="type" ng-model="contestForm.type" required>-->
       <span class="text-danger" ng-show="(createcontestForm.category.$invalid && !createcontestForm.category.$pristine) || (createcontestForm.category.$invalid && contestSubmitted)"><i class="text-warning fa fa-exclamation-triangle"></i>Enter a type</span>
      </div>

      <div class="form-group">
       <label>Art Direction: (Required)</label>
       <textarea class="form-control" name="description" rows="3" ng-model="contestForm.art_direction" required></textarea>
       <span class="text-danger" ng-show="(createcontestForm.description.$invalid && !createcontestForm.description.$pristine) || (createcontestForm.description.$invalid && contestSubmitted)"><i class="text-warning fa fa-exclamation-triangle"></i>Enter art direction</span>
      </div>

      <div class="row contest_requests">
       <label class="radio_label">Orientation:</label>
       <div class="col-lg-3 col-md-3">
        <div class="form-group request_form_radio">
         <input id="radio-1" class="radio-custom"  type="radio" required name="orientation" ng-model="contestForm.orientation" value="any"ng-init="contestForm.orientation ='any'">
         <label for="radio-1" class="radio-custom-label">Any</label>
        </div>
       </div>

       <div class="col-lg-3 col-md-3">
        <div class="form-group request_form_radio">
         <input id="radio-2" class="radio-custom"  type="radio" required name="orientation" ng-model="contestForm.orientation" value="portrait">
         <label for="radio-2" class="radio-custom-label">Portrait</label>
        </div>
       </div>

       <div class="col-lg-3 col-md-3">
        <div class="form-group request_form_radio">
         <input id="radio-3" class="radio-custom"  type="radio" required name="orientation" ng-model="contestForm.orientation" value="landscape">
         <label for="radio-3" class="radio-custom-label">Landscape</label>
        </div>
       </div>

       <div class="col-lg-3 col-md-3">
        <div class="form-group request_form_radio">
         <input id="radio-4" class="radio-custom"  type="radio" required name="orientation" ng-model="contestForm.orientation" value="square">
         <label for="radio-4" class="radio-custom-label">Square</label>
        </div>
       </div>

      </div>
      <p><span class="text-danger" ng-show="(createcontestForm.orientation.$invalid && !createcontestForm.orientation.$pristine) || (createcontestForm.orientation.$invalid && contestSubmitted)"><i class="text-warning fa fa-exclamation-triangle"></i>Select orientation</span></p>
      <div class="row contest_requests">
       <label class="radio_label">Environment:</label>

       <div class="col-lg-3 col-md-3">
        <div class="form-group request_form_radio">
         <input id="radio-5" class="radio-custom"  type="radio" required name="environment" ng-model="contestForm.environment" value="any" ng-init="contestForm.environment='any'">
         <label for="radio-5" class="radio-custom-label">Any</label>
        </div>
       </div>
       <div class="col-lg-3 col-md-3">
        <div class="form-group request_form_radio">
         <input id="radio-6" class="radio-custom"  type="radio" required name="environment" ng-model="contestForm.environment" value="indoor">
         <label for="radio-6" class="radio-custom-label">Indoor</label>
        </div>
       </div>
       <div class="col-lg-3 col-md-3">
        <div class="form-group request_form_radio">
         <input id="radio-7" class="radio-custom"  type="radio" required name="environment" ng-model="contestForm.environment" value="outdoor">
         <label for="radio-7" class="radio-custom-label">Outdoor</label>
        </div>
       </div>
      </div>

      <p><span class="text-danger" ng-show="(createcontestForm.environment.$invalid && !createcontestForm.environment.$pristine) || (createcontestForm.environment.$invalid && contestSubmitted)"><i class="text-warning fa fa-exclamation-triangle"></i>Select environment</span></p>

      <div class="row contest_requests">
       <label class="radio_label">Lighting:</label>
       <div class="col-lg-3 col-md-3">
        <div class="form-group request_form_radio">
         <input id="radio-8" class="radio-custom"  type="radio" required name="lighting" ng-model="contestForm.lighting" value="any" ng-init="contestForm.lighting='any'">
         <label for="radio-8" class="radio-custom-label">Any</label>
        </div>
       </div>

       <div class="col-lg-3 col-md-3">
        <div class="form-group request_form_radio">
         <input id="radio-9" class="radio-custom" type="radio" required name="lighting" ng-model="contestForm.lighting" value="natural">
         <label for="radio-9" class="radio-custom-label">Natural</label>
        </div>
       </div>

       <div class="col-lg-3 col-md-3">
        <div class="form-group request_form_radio">
         <input id="radio-10" class="radio-custom" type="radio" required name="lighting" ng-model="contestForm.lighting" value="studio">
         <label for="radio-10" class="radio-custom-label">Studio</label>
        </div>
       </div>
      </div>

      <p><span class="text-danger" ng-show="(createcontestForm.lighting.$invalid && !createcontestForm.lighting.$pristine) || (createcontestForm.lighting.$invalid && contestSubmitted)"><i class="text-warning fa fa-exclamation-triangle"></i>Select lighting</span></p>

      <div class="row contest_requests">
       <div class="col-lg-12 col-md-12">
        <label>Duration of the video(in seconds):</label>

        <div>
         <rzslider rz-slider-options="{floor: 10,ceil: 120}" rz-slider-model="contestForm.video_max_length"></rzslider>
        </div>


       </div>
      </div>

      <div class="form-group">

       <label>Story board</label>
       <ul class="story_tell">
        <li>

         <span class="video_upload_box" id="board01">
          <div class="button" accept="'image/*'" ngf-select ng-model="story_1" name="file1" ngf-pattern="'image/*'"
    ngf-accept="'image/*'"><i class="fa fa-plus"></i></div>


          <img ng-if="story_1" ngf-src="story_1 || '/thumb.jpg'" height="100px" width="100px">
          <a ng-if="story_1" ng-click="clearImage('story_1')"><i class="fa fa-times story-tell-close"></i></a>

         </span>
        </li>
        <li>
         <span class="video_upload_box" id="board02">
          <div class="button" accept="'image/*'" ngf-select ng-model="story_2" name="file2" ngf-pattern="'image/*'"
    ngf-accept="'image/*'"><i class="fa fa-plus"></i></div>


          <img ng-if="story_2" ngf-src="story_2 || '/thumb.jpg'" height="100px" width="100px">
          <a ng-if="story_2" ng-click="clearImage('story_2')"><i class="fa fa-times story-tell-close"></i></a>

         </span>
        </li>
        <li>
         <span class="video_upload_box" id="board03">
          <div class="button" accept="'image/*'" ngf-select ng-model="story_3" name="file3" ngf-pattern="'image/*'"
    ngf-accept="'image/*'"><i class="fa fa-plus"></i></div>


          <img ng-if="story_3" ngf-src="story_3 || '/thumb.jpg'" height="100px" width="100px">
          <a ng-if="story_3" ng-click="clearImage('story_3')"><i class="fa fa-times story-tell-close"></i></a>

         </span>
        </li>
        <li>
         <span class="video_upload_box" id="board04">
          <div class="button" accept="'image/*'" ngf-select ng-model="story_4" name="file4" ngf-pattern="'image/*'"
    ngf-accept="'image/*'"><i class="fa fa-plus"></i></div>


          <img ng-if="story_4" ngf-src="story_4 || '/thumb.jpg'" height="100px" width="100px">
          <a ng-if="story_4" ng-click="clearImage('story_4')"><i class="fa fa-times story-tell-close"></i></a>

         </span>
        </li>
        <li>
         <span class="video_upload_box" id="board05">
          <div class="button" accept="'image/*'" ngf-select ng-model="story_5" name="file5" ngf-pattern="'image/*'"
    ngf-accept="'image/*'"><i class="fa fa-plus"></i></div>


          <img ng-if="story_5" ngf-src="story_5 || '/thumb.jpg'" height="100px" width="100px">
          <a ng-if="story_5" ng-click="clearImage('story_5')"><i class="fa fa-times story-tell-close"></i></a>

         </span>
        </li>
       </ul>
       <div class="clearfix"></div>



      </div>


      <div class="row contest_requests">
       <label class="radio_label">Space for copy:</label>
       <div class="col-lg-3 col-md-3">
        <div class="form-group request_form_radio">
         <input id="radio-15" class="radio-custom" type="radio"  name="space_for_copy" ng-model="contestForm.space_for_copy" value=false ng-init="contestForm.space_for_copy='false'">
         <label for="radio-15" class="radio-custom-label">No</label>
        </div>
       </div>

       <div class="col-lg-3 col-md-3">
        <div class="form-group request_form_radio">
         <input id="radio-16" class="radio-custom" type="radio" name="space_for_copy" ng-model="contestForm.space_for_copy" value=true>
         <label for="radio-16" class="radio-custom-label">Yes</label>
        </div>
       </div>
      </div>

      <div class="row contest_requests">
       <label class="radio_label">Accept curated Videos:{{contestForm.accept_curated_videos}}</label>
       <div class="col-lg-3 col-md-3">
        <div class="form-group request_form_radio">
         <input id="accept_curated_videos1" class="radio-custom" type="radio"  name="accept_curated_videos" ng-model="contestForm.accept_curated_videos" value=false>
         <label for="accept_curated_videos1" class="radio-custom-label">No</label>
        </div>
       </div>

       <div class="col-lg-3 col-md-3">
        <div class="form-group request_form_radio">
         <input id="accept_curated_videos2" class="radio-custom" type="radio" name="accept_curated_videos" ng-model="contestForm.accept_curated_videos" value=true>
         <label for="accept_curated_videos2" class="radio-custom-label">Yes</label>
        </div>
       </div>
      </div>

     <!--</form> form actual end-->
    </div>
   </div>
   <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="request_actions">
     <h4>Select Videographer Quality Level</h4>

     <div class="block">
      <rzslider rz-slider-model="slider_ticks.value" rz-slider-options="slider_ticks.options"></rzslider>
     </div>


     <div class="price-label margin-top">
     </div>

     <hr>
     <h4 class="price-label">Suggested Price Per Video</h4>
     <div class="form-group controls">
      <div class="input-group">
       <input name="payout_custom" type="hidden" value="0">
       <input id="input-payout" placeholder="${{suggestedPrice}}" maxlength="4" ng-model="contestForm.award_amount" class="form-control" name="payout" type="text" required>
       <div class="input-group-addon edit" data-edit="price"><i class="fa fa-pencil"></i>
       </div>
      </div>
        <span class="text-danger" ng-show="award_amount_invalid || contestSubmitted">
           <i class="text-warning fa fa-exclamation-triangle"></i>Offer a good award prize money</span>
     </div>


     <h5 class="offer_label ">
      Minimum request price
      <strong>
       <span data-container="payout">${{suggestedPrice}}</span>
      </strong>. You control price but engage the best talent by offering the most your
      budget will afford. Consider the effort to get the shot.
     </h5>

     <button class="sh-btn btn-block sh-btn-success" data-action="request-create-review" type="submit" ng-click="contestSave()">Next Step</button>
     <!--<button class="sh-btn btn-block sh-btn-success" data-action="request-create-review" type="submit" ng-click="newContest(createcontestForm)">Next Steps</button>-->

    </div>

    <div class="request_extras">
     <h4>REQUEST EXTRAS</h4>
     <!--<form class="rqst_form">-->
      <div class="form-group">
       <input id="checkbox-3" ng-model="contestForm.private" class="checkbox-custom" name="checkbox-3" ng-change="changePrivateContest(contestForm.private)" type="checkbox">
       <label for="checkbox-3" class="checkbox-custom-label">Private Request</label>
       <div class="price-box">
        <h4 class="option-price">${{price_config.private_request_price}}</h4>
       </div>
      </div>


      <div class="form-group" ng-show="slider_ticks.value!==0 || needinvite">
       <input class="checkbox-custom" ng-model="needinvite" name="checkbox-2" type="checkbox"  id="cbxShowHide" ng-change="changeInvite(needinvite)" ngclick>
       <label for="cbxShowHide" class="checkbox-custom-label">Invite videographers</label>
       <div class="price-box">
        <h4 class="option-price">${{price_config.invite_price}}</h4>
       </div>
       <div ng-show="needinvite" class="form-group">
        <h4 class="option-info margin-bottom margin-top">
         <span style="font-weight:bold;" data-value="users-to-invite-count">{{contestForm.invited_people.length}}</span>
         out of
         <span style="font-weight:bold;">10</span> chosen. Videographers will be invited when this is published.{{selected_level}}
        </h4>
        <div class="box form-group">

         <ui-select ng-model="selected_level" theme="bootstrap" ng-change="videographerLevel(selected_level)">
            <ui-select-match allow-clear='true' placeholder="Choose level of videographer">{{$select.selected.level}}
            </ui-select-match>
            <ui-select-choices repeat="level.value as level in invitelevels">
                {{level.level}}
            </ui-select-choices>
         </ui-select>
         <!--<select class="form-control" ng-options="levels" ng-if="contestForm.level_required =='2'" ng-model="level">-->
          <!--<option value="2">Level 2</option>-->
          <!--<option value="3">Level 3</option>-->
          <!--<option value="4">Level 4</option>-->
          <!--<option value="5">Level 5</option>-->
         <!--</select>-->
         <!--<select class="form-control" ng-if="contestForm.level_required =='3'">-->
          <!--<option value="3">Level 3</option>-->
          <!--<option value="4">Level 4</option>-->
          <!--<option value="5">Level 5</option>-->
         <!--</select>-->
         <!--<select class="form-control" ng-if="contestForm.level_required =='4'">-->
          <!--<option value="4">Level 4</option>-->
          <!--<option value="5">Level 5</option>-->
         <!--</select>-->
         <!--<select class="form-control" ng-if="contestForm.level_required =='5'">-->
          <!--<option value="5">Level 5</option>-->
         <!--</select>-->
        </div>
        <a class="choose_fvrt_btn" data-toggle="modal" data-target="#choose_favorite_model">Choose Your Favorites</a>


       </div>
      </div>



      <div class="form-group">
       <input id="checkbox-4" ng-model="contestForm.model_release" class="checkbox-custom" name="checkbox-4" type="checkbox">
       <label for="checkbox-4" class="checkbox-custom-label">Model Release</label>
       <div class="price-box">
        <h4 class="option-price">${{price_config.model_release_price}}</h4>
       </div>

      </div>

      <div class="form-group">
                        <input class="checkbox-custom"
                            ng-model="showmap"
                            ng-change="showLocation(showmap)"
                            name="checkbox-2"
                            type="checkbox"
                            id="cbxShowHide_b">
                        <label for="cbxShowHide_b"
                            class="checkbox-custom-label">Location
                        </label>
                        <div class="price-box">
                            <h4 class="option-price">${{price_config.location_price}}</h4>
                        </div>
                        <div ng-show="showmap">
                            <div class="form-group form-group-custom margin-top">
                                <input name="place"
                                    id="geocomplete"
                                    g-places-autocomplete
                                    ng-model="searchPlace"
                                    type="text"
                                    autocomplete="off"
                                    placeholder="Type in an address"
                                    style="padding-right: 40px;"
                                    size="90" />
                                <span ng-disabled="!searchPlace || !searchPlace.name || searchForm.$invalid"
                                    ng-click="search()"
                                    class="glyphicon srch-lns glyphicon-search">
                                </span>
                            </div>
                            <div id="map"></div>
                        </div>
                    </div>

      <button class="sh-btn btn-block sh-btn-success" data-action="request-create-review" type="submit" ng-click="contestSave()">Next Step</button>

    </div>

   </div>
    </form>
  </div>
 </div>

 <!--call 2 action 1-->
 <!-- Bootstrap core JavaScript
    ================================================== -->
 <!-- Placed at the end of the document so the pages load faster -->


 <!-- ===========================Modal windows=========================================-->
 <div class="modal fade" id="story_board01" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
   <div class="modal-content">
    <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
     </button>
     <h4 class="modal-title" id="myModalLabel">&nbsp;</h4>
    </div>
    <div class="modal-body">

     <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 bhoechie-tab-container">
       <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
        <div class="list-group">
         <a href="#" class="list-group-item active text-center">
          <i class="fa fa-home"></i>My computer
         </a>
         <!--<a href="#" class="list-group-item text-center">-->
          <!--<i class="fa fa-instagram"></i>Instagram-->

         <!--</a>-->
         <!--<a href="#" class="list-group-item text-center">-->
          <!--<i class="fa fa-google-plus"></i>Google plus-->
         <!--</a>-->
         <!--<a href="#" class="list-group-item text-center">-->
          <!--<i class="fa fa-dropbox"></i>Dropbox-->
         <!--</a>-->
         <!--<a href="#" class="list-group-item text-center">-->
          <!--<i class="fa fa-facebook"></i>Facebook-->
         <!--</a>-->
        </div>
       </div>
       <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
        <!-- flight section -->
        <div class="bhoechie-tab-content active">

         <!--<input id="input-ficons-1" name="inputficons1[]"  type="file"  class="file">-->
       <input id="profilepic" name="image" type="file" name="inspirational_image" class="file"
              ng-model="contestForm.inspirational_image" onchange="readURL(this);" accept="image/*"/>

        </div>
       </div>
      </div>
     </div>

    </div>

   </div>
  </div>
 </div>




 <!-- =============Modal for choose favorite ======================-->
 <div class="modal fade" id="choose_favorite_model" tabindex="-1" role="dialog"
 aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
   <div class="modal-content">
    <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
     </button>
     <h4 class="modal-title" id="myModalLabel">Invite Videographers</h4>
    </div>
    <div class="modal-body">
     <div class="well text-center">
      <div class="invite-box">
       <div class="avatar-placeholder">
        <img src={{contestForm.invited_people[0].profile_picture}} class="avatar">
        <a class="remove" ng-click=removeInvite(0) ng-class="{disabled: !contestForm.invited_people[0]}">

         <i class="fa fa-times" data-async-update="/request/edit/invite" data-action="remove"
         data-value="none"></i>
        </a>
       </div>
      </div>

      <div class="invite-box">
       <div class="avatar-placeholder">
        <img src={{contestForm.invited_people[1].profile_picture}} class="avatar">
        <a class="remove" ng-click=removeInvite(1) ng-class="{disabled: !contestForm.invited_people[1]}">

         <i class="fa fa-times" data-async-update="/request/edit/invite" data-action="remove"
         data-value="none"></i>
        </a>
       </div>
      </div>

      <div class="invite-box">
       <div class="avatar-placeholder">
        <img src={{contestForm.invited_people[2].profile_picture}} class="avatar">
        <a class="remove" ng-click=removeInvite(2) ng-class="{disabled: !contestForm.invited_people[2]}">

         <i class="fa fa-times" data-async-update="/request/edit/invite" data-action="remove"
         data-value="none"></i>
        </a>
       </div>
      </div>

      <div class="invite-box">
       <div class="avatar-placeholder">
        <img src={{contestForm.invited_people[3].profile_picture}} class="avatar">
        <a class="remove" ng-click=removeInvite(3) ng-class="{disabled: !contestForm.invited_people[3]}">

         <i class="fa fa-times" data-async-update="/request/edit/invite" data-action="remove"
         data-value="none"></i>
        </a>
       </div>
      </div>

      <div class="invite-box">
       <div class="avatar-placeholder">
        <img src={{contestForm.invited_people[4].profile_picture}} class="avatar">
        <a class="remove" ng-click=removeInvite(4) ng-class="{disabled: !contestForm.invited_people[4]}">

         <i class="fa fa-times" data-async-update="/request/edit/invite" data-action="remove"
         data-value="none"></i>
        </a>
       </div>
      </div>

      <div class="invite-box">
       <div class="avatar-placeholder">
        <img src={{contestForm.invited_people[5].profile_picture}} class="avatar">
        <a class="remove" ng-click=removeInvite(5) ng-class="{disabled: !contestForm.invited_people[5]}">

         <i class="fa fa-times" data-async-update="/request/edit/invite" data-action="remove"
         data-value="none"></i>
        </a>
       </div>
      </div>

      <div class="invite-box">
       <div class="avatar-placeholder">
        <img src={{contestForm.invited_people[6].profile_picture}} class="avatar">
        <a class="remove" ng-click=removeInvite(6) ng-class="{disabled: !contestForm.invited_people[6]}">

         <i class="fa fa-times" data-async-update="/request/edit/invite" data-action="remove"
         data-value="none"></i>
        </a>
       </div>
      </div>

      <div class="invite-box">
       <div class="avatar-placeholder">
        <img src={{contestForm.invited_people[7].profile_picture}} class="avatar">
        <a class="remove" ng-click=removeInvite(7) ng-class="{disabled: !contestForm.invited_people[7]}">

         <i class="fa fa-times" data-async-update="/request/edit/invite" data-action="remove"
         data-value="none"></i>
        </a>
       </div>
      </div>

      <div class="invite-box">
       <div class="avatar-placeholder">
        <img src={{contestForm.invited_people[8].profile_picture}} class="avatar">
        <a class="remove" ng-click=removeInvite(8) ng-class="{disabled: !contestForm.invited_people[8]}">

         <i class="fa fa-times" data-async-update="/request/edit/invite" data-action="remove"
         data-value="none"></i>
        </a>
       </div>
      </div>

      <div class="invite-box">
       <div class="avatar-placeholder">
        <img src={{contestForm.invited_people[9].profile_picture}} class="avatar">
        <a class="remove" ng-click=removeInvite(9) ng-class="{disabled: !contestForm.invited_people[9]}">

         <i class="fa fa-times" data-async-update="/request/edit/invite" data-action="remove"
         data-value="none"></i>
        </a>
       </div>
      </div>

      <div class="clear_link">
       <a ng-click="clearallVideographers()" data-async-update="/request/edit/invite" data-action="remove" data-value="all"
       class="clear-link">Clear All</a>

      </div>



     </div>

     <form class="videographers_search_form">
      <fieldset>
       <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
         <input type="text" class="form-control" id="" placeholder="videographers name">
        </div>
        <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
		
        		 
		<select class="multipleSelect" multiple name="language">
                <option value="Afghanistan">Afghanistan</option>
                <option value="Albania">Albania</option>
                <option value="Algeria">Algeria</option>
                <option value="Andorra">Andorra</option>
		</select>
		 <script>

                $('.multipleSelect').fastselect();

            </script>
		 
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
         <button type="submit" class="sh-btn btn-block sh-btn-big sh-btn-success">Search</button>
        </div>
       </div>
      </fieldset>
     </form>

     <div class="row">
      <div class="col-lg-12 col-md-12" dir-paginate="videographer in videographerCollection | itemsPerPage: pagination.items_per_page" total-items="total_count" current-page="pagination.current">
       <div class="sh-card sh-card-leaderboard-photographer invite-card">
        <div class="row">
         <div class="col-lg-6 col-md-6">
          <div class="info">
           <a>
            <img ng-src={{videographer.user.profile_picture}} class="avatar" >
           </a>
           <div class="details">
            <a ng-click="gotoUserProfile(videographer.user.username)" class="name">{{videographer.user.first_name}} {{videographer.user.last_name}}</a>
            <div class="stats">
             <span class="account-status-level">{{videographer.user.level}}</span>
            </div>
            <div class="actions"><button ng-click="inviteVideographer(videographer.user)" class="sh-btn sh-btn-mini sh-btn-success btn-disabled" ng-disabled="videographer.user.invited">invite</button>
            </div>
           </div>
          </div>
         </div>
         <div class="col-lg-6 col-md-6 hidden-xs hidden-sm">
          <div class="contest_videos">
           <a href="#">
            <video class="thevideo" loop width="â100%â">
             <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">Your browser does not support the video tag.
            </video>
           </a>
           <a href="#">
            <video class="thevideo" loop width="â100%â">
             <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">Your browser does not support the video tag.
            </video>
           </a>
           <a href="#">
            <video class="thevideo" loop width="â100%â">
             <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">Your browser does not support the video tag.
            </video>
           </a>
          </div>
         </div>
        </div>
       </div>
      </div>
       <h2 class="text-center sh-card-leaderboard-photographer" ng-if="videographerCollection.length==0 || !videographerCollection">No Videographers found</h2>
     </div>




     <div class="text-center">

     <dir-pagination-controls on-page-change="videographerLevel(selected_level, newPageNumber)"></dir-pagination-controls>

    </div>

    </div>

   </div>
  </div>
 </div>




 <script src="http://harvesthq.github.io/chosen/chosen.jquery.js"></script>
 <script src="angular/assets/js/bootstrap-slider.js"></script>
 <script>
  $(function() {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
		$("#ex2").slider({});
      });
 </script>




 <script src="/angular/assets/js/canvas-to-blob.min.js"></script>
 <script src="/angular/assets/js/fileinput.js"></script>




 <script>

 </script>
<script>
  /** Document Ready Functions **/
        /********************************************************************/

        $(document).ready(function() {




		$("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
        e.preventDefault();
        $(this).siblings('a.active').removeClass("active");
        $(this).addClass("active");
        var index = $(this).index();
        $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
        $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
    });



			$('#cbxShowHide').click(function(){
    this.checked?$('#block').show(300):$('#block').hide(300);
});

$('#cbxShowHide_b').click(function(){
    this.checked?$('#block_b').show(300):$('#block_b').hide(300);
	var map = $('#block_b')
});
//
        });

        </script>
