<!-- <div ng-if="!page_not_found"> -->
<div ng-if="showPage">  
  <div class="review_edit_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <h2 class="light text-center">Review & Submit</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat volutpat.
            Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
            consequat. Duis autem vel eum iriure dolor in hendrerit in
            vulputate velit esse molestie consequat, vel illum dolore eu
            feugiat nulla facilisis at vero
          </p>
          <br/>

          <p>
            <button ng-if="!contestCreated"
                    type="button"
                    class="btn btn-default btn-lg"
                    ng-click="contestEdit()">
              EDIT
            </button>
            <button ng-if=$root.isUserLoggedIn
                    ng-hide="contestForm.status=='publish'
                             || contestForm.status=='draft'"
                    type="button"
                    class="btn btn-default btn-lg "
                    ng-click="contestSaveDraft()">
              SAVE AS DRAFT
            </button>
            <button ng-if=$root.isUserLoggedIn
                    ng-show="contestForm.status=='draft'"
                    type="button" class="btn btn-default btn-lg "
                    data-toggle="modal" data-target="#cancelContest">
              Cancel Draft
            </button>
            <button ng-if=!$root.isUserLoggedIn
                    data-toggle="modal"
                    data-target="#myModal"
                    type="button"
                    class="btn btn-default btn-lg">
              SAVE AS DRAFT
            </button>
            <button ng-if="($root.isUserLoggedIn && publish)" type="button"
                    class="btn btn-lg button_orng"
                    ng-click="contestPublish()">
              PUBLISH NOW
            </button>
            <button ng-if=!$root.isUserLoggedIn
                    data-toggle="modal"
                    data-target="#myModal"
                    type="button"
                    class="btn btn-lg button_orng">
              PUBLISH NOW
            </button>
            <div ng-if="contestCreated && !contestDeleted"
                 class="alert alert-green contact-alert"
                 role="alert">
              Contest created successfully.
            </div>
          </p>

          <!-- <div class="modal fade login_popup"
          id="myModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myModalLabel" ng-controller="MainCrtl">
          <div class="modal-dialog" role="document">
          <div class="modal-content">
          <div class="modal-header">
          <button id="login_close"
          type="button"
          class="close login_close"
          data-dismiss="modal"
          aria-label="Close" ng-click="clearForm(loginForm)">
          <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="modal-title" id="myModalLabel">LOGIN</h3>
          <h5>Sign in using your Username and Password</h5>
          </div>
          <div class="modal-body">
          <form name="loginForm" class="login_form" novalidate
          ng-submit="loginForm.$valid && loginSubmit()">
          <p class="text-danger"
          ng-bind="general_error"
          ng-show="general_error">
          <i class="text-warning fa fa-exclamation-triangle"></i>
          </p>
          <div class="form-group"
          ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine,
          'has-success' : loginForm.email.$valid && !loginForm.email.$pristine}">
          <input type="email" id="id_email" ng-keydown="clearServeremailValidationLogin()"
          name="email" required ng-model="email" class="form-control"
          placeholder="Email">
          </div>
          <span class="text-danger"
          ng-show="(loginForm.email.$invalid && !loginForm.email.$pristine) ||
          (loginForm.email.$invalid && login_submitted)">
          <i class="text-warning fa fa-exclamation-triangle"></i>
          Enter a valid email
          </span>

          <div class="form-group"
          ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine,
          'has-success' : loginForm.password.$valid && !loginForm.password.$pristine}">
          <input type="password"
          id="Password"
          name="password"
          required
          ng-model="password"
          class="form-control"
          placeholder="Password">
          <span class="text-danger"
          ng-show="((loginForm.password.$invalid && !loginForm.password.$pristine) ||
          (loginForm.password.$invalid && login_submitted)) &&
          !general_error">
          <i class="text-warning fa fa-exclamation-triangle"></i>
          Enter a valid password
          </span>
          </div>
          <button type="submit"
          ng-click="login_submitted=true;"
          class="btn form_login_btn"
          id="login_submit">
          Submit
          </button>
          <p>
          <a ui-sref="forgot_password"
          ng-click="sameStateResetPassword()"
          class="reset_label">
          Password Reset
          </a>
          </p>

          <p class="login_seperation">or</p>
          <button class="fb_login_btn form-group"
          ng-click="authenticate('facebook')">
          Login using Facebook
          </button>
          <button class="instagram_login_btn form-group"
          ng-click="authenticate('instagram')">
          Login using Instagram
          </button>
          <button class="twitter_login_btn form-group"
          ng-click="authenticate('twitter')">
          Login using Twitter
          </button>
          <button class="gplus_login_btn"
          ng-click="authenticate('google')">
          Login using Google+
          </button>
          <p class="sign_up_link">
          Don't have an account yet ?
          <a data-toggle="modal"
          ng-click="loginSignUpClick()"
          data-target="#sign_up">
          Sign up
          </a>
          </p>
          </form>
          </div>
          </div>
          </div>
          </div> -->
          <br/>
          <a ng-if="contestCreated && !contestDeleted"
             href=""
             ng-click="deleteContest()"
             class="cancel_label">
            Cancel this Request
          </a>
          <div ng-if="contestDeleted"
               class="alert alert-green contact-alert"
               role="alert">
            Contest has been deleted.
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="request-brief-preview">
    <div class="container">
      <div class="overlay_placeholder">
        <img src="angular/images/about_bg_intro.jpg">

        <div class="layer">
          <div class="row">
            <div class="col-lg-12 col-md-12">

              <div class="featured_tag">
<!--                <h4>Challenge</h4>-->

                <h1>{{ review_contest.contest_title }}</h1>
<!--                <h4>{{ review_contest.purpose }}</h4>-->
		<!--
                <a href="product_detail.html">
                  <button type="button" class="btn sh-btn-rounded btn-lg disabled">
                    SUBMIT A VIDEO</button>
                </a>
                -->
                <p class="contest_status">
                  <!-- <div id="timer">
                  <span id="days"></span> days
                  <span id="hours"></span> hours
                  <span id="minutes"></span> minutes
                  <span id="seconds"></span> seconds
                  </div> -->
                  <span><i class="fa fa-clock-o"></i></span>

                  <timer interval="1000"
                         ng-if="endtime"
                         end-time="endtime">
                    {{days}}d {{hours}}h:{{minutes}}m:{{seconds}}s
                  </timer>
                  <!--<span><i class="fa fa-clock-o"></i>23:54:55 left</span>-->
                  <span><i class="fa fa-usd"></i> {{ contestForm.award_amount }}</span>
                </p>
                <p class="request_status_msg">
                  <span><i class="fa fa-circle"></i>OPEN</span>
                  <span><i class="fa fa-circle"></i>REVIEW</span>
                  <span><i class="fa fa-circle"></i>CLOSED</span>
                </p>


              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="request_brief_wrapper">
    <div class="container">
      <div class="request_brief_inside">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="request_brief_creator">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="img-circle" data-src="holder.js/64x64" alt="64x64"
                         style="width: 64px; height: 64px;"
                         src="angular/images/author-avatar.jpg">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"
                      ng-if=!$root.isUserLoggedIn>
                    Your Name
                  </h4>
                  <h4 class="media-heading"
                      ng-init="nameView()"
                      ng-if=$root.isUserLoggedIn>
                    {{ first_name }} {{ last_name }}
                  </h4>
                  <h5>for {{ contestForm.purpose }}</h5>
                </div>
              </div>
              <div class="statsbox">
                <span><i class="fa fa-file-video-o"></i>0 videos submitted</span>
                <!-- <span><i class="fa fa-star"></i>0 videos nominated</span> -->
                <span><i class="fa fa-shopping-cart"></i>0 videos purchased</span>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-8">
            <div class="brief_requirements_section">
              <h2>{{ contestForm.contest_title }}</h2>

              <p>{{ contestForm.art_direction }}</p>
              <br/>

              <h2>Additional requirements</h2>
              <div class="row">
                <div class="col-md-3">
                  <span class="requirement-label">Video Type:</span>
                </div>
                <div class="col-md-6" style="text-transform: capitalize">
                  {{get_video_type_display_name(
                  contestForm.video_type,
                  contestForm.resolution,
                  contestForm.fps_rate)}}
                </div>
              </div>
              
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">Orientation:</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                     style="text-transform: capitalize">
                  {{ contestForm.orientation }}
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">Environment:</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                     style="text-transform: capitalize">
                  {{ contestForm.environment }}
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">Lighting:</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                     style="text-transform: capitalize">
                  {{ contestForm.lighting }}
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">Quality:</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  Level {{contestForm.level_required}}
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  Space for copy:
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ space }}</div>
              </div>
              <!--<div class="row">-->
              <!--
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">Videographers:
              </div>
              -->
              <!--
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <span ng-repeat="level in contestForm.level">Level {{ level }}{{$last ? '' : ', '}}
              </span>
              </div>
              -->
              <!--</div>-->
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">Duration:</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  {{ contestForm.video_max_length }}
                </div>
              </div>
              <br/>

              <h2>Categories</h2>
              <span ng-repeat='category in categoryCollection |
                               inArray:contestForm.category:"id"'
                    class="label label-default"
                    style="margin-right: 1px;">
                {{ category.name }}
              </span>
              <br/>
              <br/>
              <h2 ng-if="contestForm &&
                         contestForm.story_board_images.length!==0">
                Story Board Images
              </h2>
              <span ng-repeat="image in contestForm.story_board_images">
                <img ng-src={{image.image}} width="100px" height="100px">
              </span>

              <h2 ng-if="contestForm.invited_people.length !==0 ">Invited People</h2>
              <span ng-repeat="person in contestForm.invited_people">
                <div class="avatar-placeholder">
                  <span ng-if="!person.profile_picture"
                        class="avatar">
                    {{person.first_name}}
                    {{person.last_name}}
                  </span>
                  <img ng-src={{person.profile_picture}}
                       class="avatar"
                       ng-if="person.profile_picture">
                </div>
                <!-- <img src={{people.profile_picture}} class="avatar"> -->
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- <div ng-if="page_not_found">
<h1 class="center">Page not found</h1>
</div> -->

<!-- Modal -->
<div id="cancelContest" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cancel Request</h4>
      </div>
      <div class="modal-body">
        <p>You want to cancel request?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="deleteContest()" data-dismiss="modal">Ok</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>
