
<div class="forgot_password_section">
	<div class="container">
		<div class="row">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                          <h3><i class="fa fa-lock fa-4x"></i></h3>
                          <h2 class="text-center">Forgot Password?</h2>
                          <p>You can reset your password here.</p>
                            <div class="panel-body" ng-if="!emailSent">

                              <form name="forgotForm" class="form forgot_form" ng-submit="resetPassword(send_password_email)">
                                <fieldset>
                                  <div class="form-group">
                                    <div class="input-group">
                                      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>

                                      <input id="emailInput" ng-model="send_password_email" placeholder="Email" class="form-control" type="text" onchange="try{setCustomValidity('')}catch(e){}">
                                    </div>
                                      <div ng-if="emailErrors" class="alert alert-danger">
                                        <strong ng-repeat="error in emailErrors">{{error}}</strong>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <input class="btn btn-lg btn-orange btn-block" id="send_reset_email" value="SEND RESET EMAIL" type="submit">
                                  </div>
                                </fieldset>
                              </form>

                            </div>
                            <div class="alert alert-success" ng-if="emailSent">
                                <strong>{{ emailSent }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</div>
</div> 

       

		
		<!-- Modal -->
<div class="modal fade" id="video_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
       <div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
		<div class="embed-responsive embed-responsive-4by3">
		<iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen=""></iframe> </div>
		</div>
      </div>
      
    </div>
  </div>
</div>
		
