<div class="text-center">

    <div class="alert alert-danger" ng-show="has_error" role="alert">
            {{ error_message }}
    </div>
    <form class="form-horizontal form-signin">
        <h2 class="form-signin-heading">Login</h2>
        <div ng-class="{true:'has-error', false:''}[hasUsernameError]">
	      <label for="Email" class="sr-only">Email</label>
	      <input type="email" id="id_email" ng-model="email" class="form-control has-error" placeholder="Email">
        </div>
        <div ng-class="{true:'has-error', false:''}[hasPasswordError]">
	      <label for="Password" class="sr-only">Password</label>
	      <input type="password" id="Password" ng-model="password" class="form-control" placeholder="Password">
	</div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="submit()">Sign in</button>
    </form>
</div>

    <!--buttons-->
<div>
    <button ng-click="authenticate('google')">Sign in with Google</button>
    <button ng-click="authenticate('facebook')">Sign in with facebook</button>
    <button ng-click="authenticate('twitter')">Sign in with twitter</button>
</div>