<!--main banner section-->
<!--call 2 action 1-->
<div class="card hovercard">
  <div class="profile_edit_btn">
    <a ui-sref="profile_edit">
      <i class="fa fa-pencil" style="color:black"></i>
    </a>
  </div>
  <div class="card-background">
    <img class="card-bkimg" alt="add" src="{{user.cover_picture}}">
    <!-- http://lorempixel.com/850/280/people/9/ -->
  </div>
  <div class="useravatar">
    <img alt="" src="{{user.profile_picture}}">
    <h3>{{user.first_name}} {{user.last_name}}</h3>
    <ul class="list-inline profile-datapoints">
      <li title="Username"><i class="fa fa-user"></i> {{user.username}}</li>
      <li title="Location"><i class="fa fa-map-marker"></i> {{user.location}}</li>
      <li title="Videographer Type" ng-if="user.type=='videographer'">
        <i class="fa fa-angle-double-right"></i>
        Video Grapher
      </li>
      <li title="Videographer Type" ng-if="user.type=='video_buyer'">
        <i class="fa fa-angle-double-right"></i>
        Video Buyer
      </li>
      <li title="Videographer Type" ng-if="user.type=='both'">
        <i class="fa fa-angle-double-right"></i>
        Video Grapher/Video Buyer
      </li>
      <!--<li title="Videographer Points"><i class="fa fa-dot-circle-o"></i> 0pts</li>-->
    </ul>
    <!--<button id="direct_upload_button" class="sh-btn sh-btn-outline margin-top"
    data-action="request-submit-photo">Upload videos</button>-->
  </div>
</div>
<div class="container">
  <div class="row profile_tab">
    <!-- <div class="btn-pref btn-group btn-group-justified btn-group-lg"
    role="group"
    aria-label="...">
    <div class="btn-group" role="group">
    <button type="button"
    id="videos"
    class="btn btn-primary"
    ng-click="active=100"
    href1="#tab0"
    data-toggle1="tab">
    <i class="fa fa-file-video-o"></i>
    <div class="hidden-xs">Videos</div>
    </button>
    </div>
    <div class="btn-group" role="group">
    <button type="button"
    id="stars"
    class="btn btn-default"
    ng-click="active=101"
    href1="#tab1"
    data-toggle1="tab">
    <i class="fa fa-heart"></i>
    <div class="hidden-xs">Liked</div>
    </button>
    </div>
    <div class="btn-group" role="group">
    <button type="button"
    id="favorites"
    class="btn btn-default"
    ng-click="active=102"
    href1="#tab2"
    data-toggle1="tab">
    <i class="fa fa-users"></i>
    <div class="hidden-xs">Followers</div>
    </button>
    </div>
    <div class="btn-group" role="group">
    <button type="button"
    id="following"
    class="btn btn-default"
    ng-click="active=103"
    href1="#tab3"
    data-toggle1="tab">
    <i class="fa fa-users"></i>
    <div class="hidden-xs">Following</div>
    </button>
    </div>
    <div class="btn-group" role="group">
    <button type="button"
    id="contest"
    class="btn btn-default"
    ng-click="active=104"
    href1="#tab4"
    data-toggle1="tab">
    <i class="fa fa-users"></i>
    <div class="hidden-xs">Request</div>
    </button>
    </div>
    </div> -->

    <div class="well profile_tab">
      <div class="tab-content">
        <uib-tabset active="active" justified="true" style="color: black;">
          <uib-tab index="100" heading="videos">
            <uib-tab-heading style="color: black;">
              <div><i class="fa fa-file-video-o"></i></div>
              <div>Videos</div>
            </uib-tab-heading>
            <div class="row" infinite-scroll-listen-for-event="loadmoreuploads">
              <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2"
                   ng-repeat="video in uploads_page_data.data">
                <div class="video video-thumbs" >
                  <a ui-sref="video({slug: '{{video.slug}}'})">
                    <!-- {{video.slug}} -->
                    <img class="thumbnail-image"
                         ng-src="{{video.thumbnail_link}}">
                  </a>
                </div>
              </div>

              <div align="center"
                   ng-if="uploads_page_data.data &&
                          uploads_page_data.data.length==0">
                <!--<div align="center">-->
                <h2 style="opacity: 0.3; text-align: center">No videos uploaded</h2>
              </div>
            </div>
            <div align="center"
                 ng-if="uploads_page_data.data &&
                        uploads_page_data.data.length!=0">
              <!--<div align="center">-->
              <a class="text-center"
                 ng-if="uploads_page_data.loading"
                 ng-click="get_videos(uploads_page_data.page)">
                Load more videos
              </a>
              <p class="text-center"
                 ng-if="!uploads_page_data.loading">
                End of the results
              </p>
            </div>
          </uib-tab>

          <uib-tab index="101" heading="liked">
            <uib-tab-heading style="color: black;">
              <div><i class="fa fa-heart"></i></div>
              <div class="hidden-xs">Liked</div>
            </uib-tab-heading>
            <div class="row"
                 infinite-scroll-listen-for-event="loadmoreliked">
              <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2"
                   ng-repeat="like in liked_page_data.data">
                <div class="video video-thumbs">
                  <a ui-sref="video({slug: '{{like.slug}}'})">
                    <img class="thumbnail-image"
                         ng-src="{{like.thumbnail_link}}">
                  </a>
                </div>
              </div>

              <div align="center"
                   ng-if="liked_page_data.data.length==0">
                <!--<div align="center">-->
                <h2 style="opacity: 0.3; text-align: center">No liked videos</h2>
              </div>
            </div>
            <div align="center"
                 ng-if="liked_page_data.data.length!=0">
              <!--<div align="center">-->
              <a class="text-center"
                 ng-if="liked_page_data.loading"
                 ng-click="get_liked(liked_page_data.page)">
                Load more liked videos
              </a>
              <p class="text-center"
                 ng-if="!liked_page_data.loading">
                End of the results
              </p>
            </div>


          </uib-tab>

          <!-- followers should be fetched on every click -->
          <uib-tab index="102"
                   heading="followers"
                   ng-click="get_followers(followers_page_data.page)">
            <uib-tab-heading style="color: black;">
              <div><i class="fa fa-users"></i></div>
              <div class="hidden-xs">Followers</div>
            </uib-tab-heading>
            <div class="row"
                 infinite-scroll-listen-for-event="loadmorefollowers">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"
                   ng-repeat="follow in followers_page_data.data">
                <div class="sh-card-photographer-default action-buttons">
                  <div class="card-information">
                    <a ui-sref="user_profile({username: '{{follow.username}}'})">
                      <img src="{{follow.profile_picture}}" class="avatar  ">
                      <h4>{{ follow.first_name }} {{ follow.last_name }}</h4>
                    </a>
                    <span class="sh-badge sh-badge-level"
                          ng-if="follow.type == 'videographer'">
                      Videographer
                    </span>
                    <span class="sh-badge sh-badge-level"
                          ng-if="follow.type == 'videobuyer'">
                      Video Buyer
                    </span>
                    <span ng-if="follow.type=='both'"
                          class="sh-badge sh-badge-level">
                      Videographer/Video Buyer
                    </span>
                    <div class="card-actions">
                      <button class="sh-btn sh-btn-outline sh-btn-mini follow"
                              data-title-follow="Follow"
                              data-title-following="Following">
                        Follow
                      </button>
                    </div>
                  </div>
                  <a class="card-follow-background"
                     ui-sref="user_profile({username: '{{follow.username}}'})">
                    <img src="{{follow.profile_picture}}"
                         class="img-responsive">
                    <img src="http://scienceblogs.com/startswithabang/files/2011/02/mat-black-lg.jpeg"
                         class="img-responsive"
                         ng-if="!follow.profile_picture">
                  </a>
                </div>
              </div>
              <div align="center" ng-if="followers_page_data.data.length==0">
                <!--<div align="center">-->
                <h2 style="opacity: 0.3 ; text-align: center">No followers</h2>
              </div>
            </div>
            <div align="center" ng-if="followers_page_data.data.length!=0">
              <!--<div align="center">-->
              <a class="text-center"
                 ng-if="followers_page_data.loading"
                 ng-click="get_followers(followers_page_data.page)">
                Load more followers
              </a>
              <p class="text-center"
                 ng-if="!followers_page_data.loading">
                End of the results
              </p>
            </div>
          </uib-tab>

          <uib-tab index="103" heading="following">
            <uib-tab-heading style="color: black;">
              <div><i class="fa fa-users"></i></div>
              <div class="hidden-xs">Following</div>
            </uib-tab-heading>
            <div class="row" infinite-scroll-listen-for-event="loadmorefollowing">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"
                   ng-repeat="follows in follow_page_data.data">
                <div class="sh-card-photographer-default action-buttons">
                  <div class="card-information">
                    <a ui-sref="user_profile({username: '{{follows.username}}'})">
                      <img src="{{follows.profile_picture}}" class="avatar">
                      <h4>{{ follows.first_name }} {{ follows.last_name }}</h4>
                    </a>
                    <span class="sh-badge sh-badge-level"
                          ng-if="follows.type == 'videographer'">
                      Videographer
                    </span>
                    <span class="sh-badge sh-badge-level"
                          ng-if="follows.type == 'videobuyer'">
                      Video Buyer
                    </span>
                    <span ng-if="follows.type=='both'"
                          class="sh-badge sh-badge-level">
                      Videographer/Video Buyer
                    </span>
                    <div class="card-actions">
                      <button class="sh-btn sh-btn-outline sh-btn-mini follow"
                              data-title-follow="Follow"
                              data-title-following="Following">
                        Follow
                      </button>
                      <button class="sh-btn sh-btn-outline sh-btn-mini invite"
                              data-toggle="modal-ajax"
                              data-target="#content-modal"
                              data-backdrop="static">
                        Invite
                      </button>
                    </div>
                  </div>
                  <a class="card-follow-background"
                     ui-sref="user_profile({username: '{{follows.username}}'})">
                    <img src="{{follows.profile_picture}}"
                         class="img-responsive">
                    <img src="http://scienceblogs.com/startswithabang/files/2011/02/mat-black-lg.jpeg"
                         class="img-responsive"
                         ng-if="!follows.profile_picture">
                  </a>
                </div>
              </div>
              <div align="center" ng-if="follow_page_data.data.length==0">
                <!--<div align="center">-->
                <h2 style="opacity: 0.3; text-align: center">Not following anyone</h2>
              </div>
            </div>
            <div align="center" ng-if="follow_page_data.data.length!=0">
              <!--<div align="center">-->
              <a class="text-center"
                 ng-if="follow_page_data.loading"
                 ng-click="get_following(follow_page_data.page)">
                Load more following people
              </a>
              <p class="text-center"
                 ng-if="!follow_page_data.loading">
                End of the results
              </p>
            </div>

          </uib-tab>

          <uib-tab index="104" heading="contests">
            <uib-tab-heading style="color: black;">
              <div><i class="fa fa-users"></i></div>
              <div class="hidden-xs">Requests</div>
            </uib-tab-heading>
            <div class="row" infinite-scroll-listen-for-event="loadmorecontests">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"
                   ng-repeat="contest in contest_page_data.data">
                <div class="sh-card sh-card-request sh-card-background box
                            request example"
                     data-unveil-src="http://lorempixel.com/400/200/"
                     style="background-image: url({{contest.thumbnail}});">
                  <span class="sh-overlay"></span>
                <a ng-click="ownContestEdit(contest.slug,contest.status)">
                  <div class="content review">
                    <div class="sh-card-request-top">
                      <div class="challenge-indicator">
                        <i class="fa fa-circle-o fa-lg"></i>
                        <span></span>
                      </div>
                      <h5 class="request-type">Request</h5>
                      <h2 class="request-title medium">{{ contest.contest_title }}</h2>

                      <div class="request-details">
                        <span class="request-time">
                          <span class="status-review"
                                ng-if="contest.status=='closed'">
                            CLOSED
                          </span>
                          <span class="status-review"
                                ng-if="contest.status=='review'">
                            REVIEW
                          </span>
                          <span class="status-review"
                                ng-if="contest.status=='publish'">
                            PUBLISH
                          </span>
                          <span class="status-review"
                                ng-if="contest.status=='draft'">
                            DRAFT
                          </span>
                        </span>
                        <!--<span class="request-stats-right">-->
                          <!--<i class="fa fa-user"></i>-->
                        <!--</span>-->
                        <!--<span class="request-stats-right">-->
                          <!--<i class="fa fa-camera"></i>-->
                        <!--</span>-->
                        </div>
                      </div>
                      <div class="sh-card-request-chin">
                        <h4 class="request-price">
                          ${{ contest.award_amount|number:0 }}
                        </h4>
                        <div class="request-user">
                          <img ng-src={{contest.user_details.profile_picture}}
                               class="avatar">
                          <h5 class="request-type">{{ contest.status }}</h5>
                          <h4 class="request-name">
                            {{ contest.purpose }}
                          </h4>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div align="center"  ng-if="contest_page_data.data.length==0">
                <!--<div align="center">-->
                <h2 style="opacity: 0.3; text-align: center">No Requests</h2>
              </div>
            </div>

            <div align="center" ng-if="contest_page_data.data.length!=0">
                <!--<div align="center">-->
               <a class="text-center" ng-if="contest_page_data.loading" ng-click="get_contests(contest_page_data.page)">Load more Requests</a>
            <p class="text-center" ng-if="!contest_page_data.loading">End of the results</p>
              </div>
          </uib-tab>
        </uib-tabset>
      </div>

    </div>
  </div>
</div>
</div>
<script type="text/javascript">
 $(document).ready(function() {
   $(".btn-pref .btn").click(function () {
     $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
     // $(".tab").addClass("active"); // instead of this do the below
     $(this).removeClass("btn-default").addClass("btn-primary");
   });
 });
</script>
