
<div class="forgot_password_section">
	<div class="container">
		<div class="row">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                          <h3><i class="fa fa-lock fa-4x"></i></h3>
                          <h2 class="text-center">Reset Password</h2>
                          <p>You can reset your password here.</p>
                            <div class="panel-body" ng-if="!success">

                              <form ng-submit="saveNewPassword()" class="form forgot_form">
                                <fieldset>
                                  <div class="form-group">
                                    <div class="input-group">
                                      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                      <input id="password1" placeholder="New Password" class="form-control" ng-model="reset_form.new_password1" type="password" onchange="try{setCustomValidity('')}catch(e){}" required="">
                                    </div>
                                    <div class="input-group">
                                      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                      <input id="password2" placeholder="Confirm New Password" class="form-control" ng-model="reset_form.new_password2" type="password"  onchange="try{setCustomValidity('')}catch(e){}" required="">
                                    </div>
                                  </div>
                                    <div ng-if="resetFormErrors" class="alert alert-danger">
                                        <strong ng-repeat="password_error in resetFormErrors.new_password2">{{password_error}}</strong>
                                        <strong ng-if="resetFormErrors.uid||resetFormErrors.token">Your link seems expired or invalid!!</strong>
                                    </div>
                                  <div class="form-group">
                                    <input class="btn btn-lg btn-primary btn-block" value="Reset My Password" ng-disabled="submitted" type="submit">
                                  </div>
                                </fieldset>
                              </form>

                            </div>
                            <div class="alert alert-success" ng-if="success">
                                <strong>Password has been reset successfully
                                    <a ng-if=!$root.isUserLoggedIn data-toggle="modal" data-target="#myModal">Login Here</a>
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</div>
</div>




		<!-- Modal -->
<div class="modal fade" id="video_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
       <div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
		<div class="embed-responsive embed-responsive-4by3">
		<iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen=""></iframe> </div>
		</div>
      </div>

    </div>
  </div>
</div>

