{% extends "email/email_base.html" %}
{% load i18n %}
{% block content %}
<td align="center" valign="top" style="font-size:14px; color:#545454; line-height:22px;" mc:edit="intro">
    {% trans 'Dear Customer' %},
    <br/><br/>
    {% trans 'Your purchased from SpyHop successfully. Order ID:' %}{{ order.order_id }}
    <br/><br/>
    {% trans 'You can download the videos from the following link. Please keep the link confidential' %}
    <br/><br/>
    {{link}}
    <br/><br/>
    {% trans 'Please find attached the invoice.' %}
    <br/><br/>
    {% trans 'With kind regards,' %}<br/><br/>{% trans 'SpyHop Service team' %}
    <br /><br /><br /><br />
</td>
{% endblock content %}