<!--main banner section-->

<section class="tearms_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class='embed-container'>
                    <iframe src='http://www.youtube.com/embed/KRaWnd3LJfs' frameborder='0' allowfullscreen></iframe>
                </div>
                <h3>Ready for market
                    <a class="thumbs_bg_green" data-toggle="modal" data-target="#ready_market"><i
                            class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                    <a class="thumbs_bg_red" data-toggle="modal" data-target="#notready_market"><i
                            class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                </h3>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="video_description">
                    <h3>Evaluate this video for following</h3>

                    <p>1. video quality</p>

                    <P>2. Appropriate content</p>

                    <p>3. Prpoer model and property releases:<br/>
                        <span><i class="fa fa-user" aria-hidden="true"></i>3 adults 2 minors</span>
                        <span><i class="fa fa-map-marker" aria-hidden="true"></i>N / A</span>
                    </p>

                    <P>4. Matches Request Requirements:<br/>
				<span>Title: Emerging sun<br/>
				Concept:<br/>
				sponsored by Outdoor fitness.Looking for inspirational footage of the sun peeking through clouds.Ideally,will be captured  during an early morning hike.<br/>
				Requiremrnts :<br/>
				Environment : Outdoor<br/>People : Desired,not required<br/>Release : Required,if applicable
				
				
				</span>
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>


<!-- thumbs down Modal -->

<div class="modal fade" id="notready_market" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Video Title</h4>
            </div>
            <div class="modal-body">
                <p>Please help us understand why you feel that this clip is not suitable for sale on spyhop.</p>

                <form class="form-inline">
                    <div class="checkbox"><label><input type="checkbox"/>Insufficient Model Releases</label></div>
                    <div class="checkbox"><label><input type="checkbox"/>Insufficient Property Releases</label></div>
                    <div class="checkbox"><label><input type="checkbox"/>Inappropriate content</label></div>
                    <div class="checkbox"><label><input type="checkbox"/>Copywrited material</label></div>

                </form>

                <fieldset class="form-group">
                    <label for="exampleTextarea">Enter other details here</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </fieldset>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>


<!-- thumbs up Modal -->

<div class="modal fade" id="ready_market" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Peer Reviews</h4>
            </div>
            <div class="modal-body">
                <p>Retreive next video for review</p>
                <br/>

                <p><img src="angular/images/spyhop_wheel.jpg" width="width" height="height" alt="description"/></p>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

