<section class="home-thumbs-section">
    <div class="container">
        <div class="row">
            <h2>Videos</h2>

            <div class="col-md-12 video-frame">
                <div class="video col-md-3 col-sm-6 col-xs-6 video-thumbs">
                    <a ui-sref="review_video">
                        <video class="thevideo" loop="" width="100%">
                            <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">
                            Your browser does not support the video tag.
                        </video>
                        <h5>Title</h5>
                    </a>
                </div>

                <div class="video col-md-3 col-sm-6 col-xs-6 video-thumbs">
                    <a ui-sref="review_video">
                        <video class="thevideo" loop="" width="100%">
                            <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">
                            Your browser does not support the video tag.
                        </video>
                        <h5>Title</h5>
                    </a>
                </div>

                <div class="video col-md-3 col-sm-6 col-xs-6 video-thumbs">
                    <a ui-sref="review_video">
                        <video class="thevideo" loop="" width="100%">
                            <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">
                            Your browser does not support the video tag.
                        </video>
                        <h5>Title</h5>
                    </a>
                </div>

                <div class="video col-md-3 col-sm-6 col-xs-6 video-thumbs">
                    <a ui-sref="review_video">
                        <video class="thevideo" loop="" width="100%">
                            <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">
                            Your browser does not support the video tag.
                        </video>
                        <h5>Title</h5>
                    </a>
                </div>

                <div class="video col-md-3 col-sm-6 col-xs-6 video-thumbs">
                    <a ui-sref="review_video">
                        <video class="thevideo" loop="" width="100%">
                            <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">
                            Your browser does not support the video tag.
                        </video>
                        <h5>Title</h5>
                    </a>
                </div>

                <div class="video col-md-3 col-sm-6 col-xs-6 video-thumbs">
                    <a ui-sref="review_video">
                        <video class="thevideo" loop="" width="100%">
                            <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">
                            Your browser does not support the video tag.
                        </video>
                        <h5>Title</h5>
                    </a>
                </div>

                <div class="video col-md-3 col-sm-6 col-xs-6 video-thumbs">
                    <a ui-sref="review_video">
                        <video class="thevideo" loop="" width="100%">
                            <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">
                            Your browser does not support the video tag.
                        </video>
                        <h5>Title</h5>
                    </a>
                </div>

                <div class="video col-md-3 col-sm-6 col-xs-6 video-thumbs">
                    <a ui-sref="review_video">
                        <video class="thevideo" loop="" width="100%">
                            <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">
                            Your browser does not support the video tag.
                        </video>
                        <h5>Title</h5>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>

<!--Video thumbnail script-->
<script>
    var figure = $(".video");
    var vid = figure.find("video");

    [].forEach.call(figure, function (item, index) {
        item.addEventListener('mouseover', hoverVideo.bind(item, index), false);
        item.addEventListener('mouseout', hideVideo.bind(item, index), false);
    });

    function hoverVideo(index, e) {
        vid[index].play();
    }

    function hideVideo(index, e) {
        vid[index].pause();
    }
</script>

