
<section class="inner-banner" style="background-image: url(angular/images/inner-banner2.jpg)">
            <div class="col-md-4 inner-banner-titles">
                <h3>
                    <h2> </h2>
                    <h2><h4> </h4></h2>
                     <div class="video-srchbox">
                        <form ng-submit="filterContest()">
                            <input type="text" class="form-control flat-input" ng-model="q" placeholder="Search Requests...">
                            <span ng-click="filterContest()" class="glyphicon lense-icon-big glyphicon-search"></span>
                        </form>
                    </div>
                </h3>
            </div>
  </section>

  <main class="cd-main-content">
   <div class="cd-tab-filter-wrapper">
      <div class="cd-tab-filter">
         <!-- cd-filters -->
    </div>
    <!-- cd-tab-filter -->
  </div>
  <!-- cd-tab-filter-wrapper -->
  <section class="cd-gallery filter-is-visible">
    <div class="row">

      <div class="col-lg-4 col-md-4" ng-repeat="contest in contestCollection">


	<div class="sh-card sh-card-request sh-card-background box request  example " data-unveil-src="contest.thumbnail" style="background-image: url({{contest.thumbnail}});">
          <span class="sh-overlay"></span>
          <a ui-sref="contest_detail({slug: '{{contest.slug}}'})">
            <div class="content review">
              <div class="sh-card-request-top">
                <div class="challenge-indicator">
                  <i class="fa fa-circle-o fa-lg"></i> <span>Shooters or above can submit</span>
                </div>

                <h5 class="request-type">Request</h5>
                <h2 class="request-title medium">{{ contest.contest_title }}</h2>

                <div class="request-details">
                  <span class="request-time">
                    <span class="status-review" ng-if="contest.status=='closed'">CLOSED</span>
                    <span class="status-review" ng-if="contest.status=='review'">REVIEW</span>
                    <span class="status-review" ng-if="contest.status=='publish'">PUBLISH</span>
                  </span>
                  <span class="request-stats-right" alt="30 People Participating">
                    <i class="fa fa-user"></i>30
                  </span>
                  <span class="request-stats-right" alt="56 Photos Submitted">
                    <i class="fa fa-video-camera"></i>56
                  </span>
                </div>
              </div>
              <div class="sh-card-request-chin">
                <h4 class="request-price">${{ contest.award_amount|number:0 }}</h4>
                <div class="request-user">
                  <img ng-src={{contest.user_details.profile_picture}} class="avatar">
                  <h5 class="request-type">{{ contest.status }}</h5>
                  <h4 class="request-name">
                    {{ contest.purpose }}           </h4>
                </div>
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
  </section>
</section> <!-- cd-gallery -->

<div class="col-md-12" ng-if="contestCollection.length!=0">
  <ul class="pagination custom-pagina">
    <li ng-if="leftPager && (params_obj.page != 1)">
      <a ng-click="leftPage()">&laquo;</a>
    </li>

    <li ng-repeat="i in pages" ng-class="{active: page_active==i+1}" >
      <a ng-click="getPageData(i+1)">{{i + 1}}</a>
    </li>
    <li ng-if="rightPager && (params_obj.page != page_count)">
      <a ng-click="rightPage()">&raquo;</a>
    </li>
  </ul>
</div>
<div class="cd-filter filter-is-visible">
  <form>
    <div class="box">
      <div class="form-group">
        <label>Permissions</label>
        <ui-select ng-change="filterContest()" ng-model="filter.permissions"
                   theme="bootstrap">
          <ui-select-match allow-clear='true' placeholder="Choose permission">{{$select.selected.label}}
          </ui-select-match>
          <ui-select-choices repeat="perm.value as perm in permissions_list">
            {{perm.label}}
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="box">
      <div class="form-group">
	<label>Video Type</label>
        <ui-select multiple
                   ng-change="filterContest()"
                   ng-model="filter.video_type"
                   theme="bootstrap">
          <ui-select-match placeholder="Choose Video Type">
            {{$item.label}}
          </ui-select-match>
          <ui-select-choices repeat="video_type.value as video_type in video_type_list | 
                                     filter:$select.search">
            {{video_type.label}}
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="box">
      <div class="form-group">
	<label>Orientation</label>
        <ui-select multiple ng-change="filterContest()" ng-model="filter.orientation"
                   theme="bootstrap">
          <ui-select-match placeholder="Choose orientation">{{$item.label}}
          </ui-select-match>
          <ui-select-choices repeat="orientation.value as orientation in orientations_list | filter:$select.search">
            {{orientation.label}}
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="box">
      <div class="form-group">
	<label>Status</label>
        <ui-select  ng-change="filterContest()" ng-model="filter.status"
                    theme="bootstrap">
          <ui-select-match allow-clear='true' placeholder="Choose status">{{$select.selected.label}}
          </ui-select-match>
          <ui-select-choices repeat="status.value as status in status_list | filter:$select.search">
            {{status.label}}
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="box">
      <div class="form-group">
	<label>Result per page</label>
	<ui-select ng-change="filterContest()" ng-model="filter.page_size"
                   theme="bootstrap">
          <ui-select-match placeholder="10">{{$select.selected.label}}
          </ui-select-match>
          <ui-select-choices repeat="result.value as result in result_page_list">
            {{result.label}}
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="box">
      <div class="form-group">
	<label>Videographer Level</label>
	<ui-select multiple ng-change="filterContest()" ng-model="filter.level"
                   theme="bootstrap">
          <ui-select-match placeholder="Choose level">{{$item.level}}
          </ui-select-match>
          <ui-select-choices repeat="level.value as level in levelCollection | filter:$select.search">
            {{level.level}}
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="box">
      <div class="form-group">
	<label>Sort by</label>
	<ui-select ng-change="filterContest()" ng-model="filter.age"
                   theme="bootstrap">
          <ui-select-match allow-clear='true' placeholder="Choose order">{{$select.selected.label}}
          </ui-select-match>
          <ui-select-choices repeat="result.value as result in sort_result">
            {{result.label}}
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="box">
      <div class="form-group">
	<label>Price</label>
	<div class="bt_pricerange" id="page-top">
          <b>$10</b>
          <input id="ex2" type="text" class="span2" value="" data-slider-min="10" data-slider-max="500" data-slider-step="5" data-slider-value="[10,500]"
                 ng-model="filter.price"/>
          <b>$500</b>
	</div>
      </div>
    </div>
  </form>
  <a  class="cd-close">Close</a>
</div>
<!-- cd-filter -->
<a  class="cd-filter-trigger filter-is-visible">Filters</a>
</main>

<script src="angular/assets/js/jquery.mixitup.min.js"></script>
<script src="angular/assets/js/main.js"></script>
<!--<script src="http://harvesthq.github.io/chosen/chosen.jquery.js"></script>-->
<script src="angular/assets/js/bootstrap-slider.js"></script>

<script>
 $(function() {
   $('.chosen-select').chosen();
   $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
   $("#ex2").slider({})
 });

</script>
