<!--
<section class="inner-banner" style="background-image: url(angular/images/inner-banner2.jpg)">
   <div class="col-md-4 inner-banner-titles">
      <h3>
         <h2> </h2>
         <h2>
            <h4> </h4>
         </h2>
         <div class="video-srchbox">
            <div class="row">
               <div class = "col-lg-2 col-md-2 search-category-dropdown">
                  <select class="chosen-select" tabindex="6" ng-model="category">
                     <option value="" data-display="All">All</option>
                     <option value="videos">Videos</option>
                     <option value="contest">Requests</option>
                     <option value="member">Members</option>
                  </select>
               </div>
               <form ng-submit="filterVideos(); profileSearch()" method="post">
                  <div class = "col-lg-10 col-md-10 search-category-dropdown">
                     <input type="text" data-provide="typeahead" uib-typeahead="recommentation for recommentation in recommentations | filter:$viewValue" class="form-control flat-input drop-select" ng-model='q' placeholder="Search videos, users..." ng-change="demo(q)">
                     <span ng-click="filterVideos(); profileSearch()" class="glyphicon lense-icon-big glyphicon-search"></span>
                  </div>
               </form>
            </div>
         </div>
      </h3>
   </div>
</section>
-->

<main class="cd-main-content">
  <!-- <div class="cd-tab-filter-wrapper">
  <div class="cd-tab-filter"></div>
  </div> -->
  <!-- cd-tab-filter-wrapper -->
  <section class="cd-gallery filter-is-visible">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <h4 class="user-hr-line search-title" ng-cloak>{{ count? count: 0 }}
          Result{{ count > 1? 's': '' }}
          <!-- <small id="page-top">
          <a ui-sref="video-search"
          class="hide-sec pull-right">
          View All Videos
          </a>
          </small> -->
        </h4>
        <div class="spinner" ng-show="showSpinner"></div>
        <div class="col-md-4 col-sm-4 video-thumbs col-xs-12"
             ng-repeat="video in videoCollection">
          <div class="cart-icon">
            <a class="cart-white" ng-click="addToCart(video.id)"><i
                     class="fa icon-white fa-shopping-cart"></i></a>
          </div>
          <div class="video">
            <a class="video_link" ui-sref="video({slug: '{{video.slug}}'})">
              <video class="thevideo" loop width="”100%”">
                <source ng-src="{{ video.water_marked_video }}"
                        type="video/mp4" accept="video/*">
                Your browser does not support the video tag.
              </video>
            </a>
          </div>
          <div class="author">
            <a href="#">
              <img class="img-circle"
                   ng-src={{video.user_detail.profile_picture}}>
              <p>{{video.user_detail.first_name}}
                {{video.user_detail.last_name}}
              </p>
            </a>
          </div>
        </div>
        <!--<div align="center" ng-if="videoCollection.length==0">-->
        <!--<h1 style="opacity: 0.3">No videos found</h1>-->
        <!--</div>-->
        <div id="no_results" class="text-center margin-top margin-bottom"
             ng-if="videoCollection.length<1">
          <h3>Can't find what you're looking for?</h3>
          <h4 style="opacity: 0.5">Let our videographers shoot a video of
            <strong>{{ q }}</strong>
            for you.
          </h4>
          <div class="margin-top">
            <a ui-sref="create_contest" class="sh-btn-success">Request Videos</a>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

      <h4 class="search-title">{{ contest_count? contest_count: 0 }}
      Result{{ contest_count > 1? 's': '' }}
      <small ><a ui-sref="search_request" class="hide-sec">View All Requests</a></small>
      </h4>
      <div class="sh-card sh-card-request sh-card-background box request  example "
      data-unveil-src="http://lorempixel.com/400/200/" style="background-image: url({{contest.thumbnail}});" ng-repeat="contest in contestCollection | limitTo: 5">
      <span class="sh-overlay"></span>
      <a ui-sref="contest_detail({slug: '{{contest.slug}}'})">
      <div class="content review">
      <div class="sh-card-request-top">
      <div class="challenge-indicator">
      <i class="fa fa-circle-o fa-lg"></i> <span>Shooters or above can submit</span>
      </div>
      <h5 class="request-type">Request</h5>
      <h2 class="request-title medium">{{ contest.contest_title }}</h2>
      <h4 class="request-name">
      Book Cover
      </h4>
      <h4 class="request-price">$1000</h4>
      <div class="request-details">
      <span class="request-time">
      <span class="status-review" ng-if="contest.status=='closed'">CLOSED</span>
      <span class="status-review" ng-if="contest.status=='review'">REVIEW</span>
      <span class="status-review" ng-if="contest.status=='publish'">PUBLISH</span>
      </span>
      <span class="request-stats-right" alt="30 People Participating">
      <i class="fa fa-user"></i>30
      </span>
      <span class="request-stats-right" alt="56 Photos Submitted">
      <i class="fa fa-camera"></i>56
      </span>
      </div>
      </div>
      <div class="sh-card-request-chin">
      <h4 class="request-price">${{ contest.award_amount|number:0 }}</h4>
      <div class="request-user">
      <img ng-src={{contest.user_details.profile_picture}} class="avatar">
      <h5 class="request-type">{{ contest.status }}</h5>
      <h4 class="request-name">
      {{ contest.purpose }}
      </h4>
      </div>
      </div>
      </div>
      </a>
      </div>
      <h4 class="test search-title">{{ profile_count? profile_count: 0 }}
      Result{{ profile_count > 1? 's': '' }}
      <small><a ui-sref="search_user" class="hide-sec pull-right">View All Members</a></small>
      </h4>

      <div class="sh-card-photographer-default action-buttons" ng-repeat="profile in profileCollection | limitTo: 3">
      <div class="card-information">
      <a ui-sref="user_profile({username: '{{profile.user.username}}'})">
      <img ng-src="{{profile.user.profile_picture}}" class="avatar  ">
      <h2>{{ profile.user.first_name }} {{ profile.user.last_name }}</h2>
      </a>
      <span class="sh-badge sh-badge-level"><h4>{{profile.user.level}}</h4></span>

      </div>
      <a class="card-follow-background" ui-sref="user_profile({username: '{{profile.user.username}}'})">
      <img style="height: 222px;width: 222px;" ng-src="{{profile.user.profile_picture}}" class="img-responsive">
      </a>
      </div>
      <div class="profile-spinner"></div>
      <div align="center" ng-if="profileCollection.length==0">
      <h4 style="opacity: 0.3">No members found</h4>
      </div>
      </div> -->
    </div>
  </section> <!-- cd-gallery -->

  <div class="col-md-12" ng-if="videoCollection.length!=0">
    <ul class="pagination custom-pagina">
      <li ng-if="leftPager && (params_obj.page != 1)">
        <a ng-click="leftPage()">&laquo;</a>
      </li>
      
      <li ng-repeat="i in pages" ng-class="{active: page_active==i+1}" >
        <a ng-click="getPageData(i+1)">{{i + 1}}</a>
      </li>
      <li ng-if="rightPager && (params_obj.page != page_count)">
        <a ng-click="rightPage()">&raquo;</a>
      </li>
    </ul>
  </div>
  <div class="cd-filter filter-is-visible">
    <form ng-cloak>
      <!-- <div class="box">
      <div class="form-group">
      <label>Permissions</label>
      <ui-select ng-change="filterVideos()" ng-model="filter.permissions"
      theme="bootstrap">
      <ui-select-match allow-clear='true'
      placeholder="Choose permission">
      {{$select.selected.label}}
      </ui-select-match>
      <ui-select-choices repeat="perm.value as perm in permissions_list">
      {{perm.label}}
      </ui-select-choices>
      </ui-select>
      </div>
      </div> -->
      <div class="box">
        <div class="form-group">
          <label>Video Type</label>
          <ui-select multiple
                     ng-change="filterVideos()"
                     ng-model="filter.video_type"
                     theme="bootstrap">
            <ui-select-match placeholder="Choose Video Type">
              {{$item.label}}
            </ui-select-match>
            <ui-select-choices repeat="video_type.value as video_type in video_type_list |
                                       filter:$select.search">
              {{video_type.label}}
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="box">
        <div class="form-group">
          <label>Orientation</label>
          <ui-select multiple ng-change="filterVideos()" ng-model="filter.orientation"
                     theme="bootstrap">
            <ui-select-match placeholder="Choose orientation">{{$item.label}}
            </ui-select-match>
            <ui-select-choices repeat="orientation.value as orientation in orientations_list | 
                                       filter:$select.search">
              {{orientation.label}}
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="box">
        <div class="form-group">
          <label>Location</label>
          <ui-select multiple ng-change="filterVideos()"
                     ng-model="filter.location"
                     theme="bootstrap">
            <ui-select-match placeholder="Select Location">
              {{$item.l}}
            </ui-select-match>
            <ui-select-choices repeat="l in locations | filter:$select.search">
              {{l}}
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="box">
        <div class="form-group">
          <label>Result per page</label>
          <ui-select ng-change="filterVideos()"
                     ng-model="filter.page_size"
                     theme="bootstrap">
            <ui-select-match placeholder="10">
              {{$select.selected.label}}
            </ui-select-match>
            <ui-select-choices repeat="result.value as result in result_page_list">
              {{result.label}}
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="box">
        <div class="form-group">
          <label>Videographer Level</label>
          <ui-select multiple ng-change="filterVideos()" ng-model="filter.level"
                     theme="bootstrap">
            <ui-select-match placeholder="Choose level">{{$item.level}}
            </ui-select-match>
            <ui-select-choices repeat="level.value as level in levelCollection |
                                       filter:$select.search">
              {{level.level}}
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="box">
        <div class="form-group">
          <label>Sort by</label>
          <ui-select ng-change="filterVideos()"
                     ng-model="filter.age"
                     theme="bootstrap">
            <ui-select-match allow-clear='true' placeholder="Choose order">
              {{$select.selected.label}}
            </ui-select-match>
            <ui-select-choices repeat="result.value as result in sort_result">
              {{result.label}}
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="box">
        <div class="form-group">
          <label>Price</label>
          <div class="bt_pricerange">
            <b>$10</b>
            <input id="ex2"
                   type="text"
                   class="span2"
                   value=""
                   data-slider-min="10"
                   data-slider-max="500"
                   data-slider-step="5"
                   data-slider-value="[10,500]"
                   ng-model="filter.price"/>
            <b>$500</b>
          </div>
        </div>
      </div>
      <!-- <div class="box">
      <div class="form-group">
      <label>Average Video Rating</label>
      <fieldset class="rating">
      <input type="radio"
      id="star5"
      name="rating"
      value="5"
      ng-model="filter.rating"
      ng-change="filterVideos()" />
      <label for="star5" title="5 stars">5 stars</label>
      <input type="radio"
      id="star4"
      name="rating"
      value="4"
      ng-model="filter.rating"
      ng-change="filterVideos()" />
      <label for="star4" title="4 stars">4 stars</label>
      <input type="radio"
      id="star3"
      name="rating"
      value="3"
      ng-model="filter.rating"
      ng-change="filterVideos()" />
      <label for="star3"
      title="3 stars">3 stars
      </label>
      <input type="radio"
      id="star2"
      name="rating"
      value="2"
      ng-model="filter.rating"
      ng-change="filterVideos()" />
      <label for="star2"
      title="2 stars">
      2 stars
      </label>
      <input type="radio"
      id="star1"
      name="rating"
      value="1"
      ng-model="filter.rating"
      ng-change="filterVideos()" />
      <label for="star1"
      title="1 star">
      1 star
      </label>
      </fieldset>
      </div>
      </div> -->
    </form>
    <a class="cd-close">Close</a>
  </div>
  <!-- cd-filter -->
  <a class="cd-filter-trigger filter-is-visible">Filters</a>
</main>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="angular/assets/js/jquery.min.js"></script>-->
<!--<script src="bootstrap/js/bootstrap.js"></script>-->
<!-- filter collapse panel----->
<script src="angular/assets/js/jquery.mixitup.min.js"></script>
<script src="angular/assets/js/main.js"></script>
<!--<script src="http://harvesthq.github.io/chosen/chosen.jquery.js"></script>-->
<script src="angular/assets/js/bootstrap-slider.js"></script>

<script>
 $(function() {
   $('.chosen-select').chosen();
   $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
   $("#ex2").slider({});
 });

</script>
