
<section class="inner-banner" style="background-image: url(angular/images/inner-banner2.jpg)">
            <div class="col-md-4 inner-banner-titles">
                <h3>
                    <h2> </h2>
                    <h2><h4> </h4></h2>
                     <div class="video-srchbox">
                        <form ng-submit="searchQuery()">
                            <input type="text" class="form-control flat-input" ng-model="q" placeholder="Search members...">
                            <span ng-click="searchQuery()" class="glyphicon lense-icon-big glyphicon-search"></span>
                        </form>
                    </div>
                </h3>
            </div>
 </section>

		<div class="search-filters" data-container="search-filters">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-6">
					<h4 class="search-result-title">{{ count? count: 0 }}
                                Member Result{{ count > 1? 's': '' }}</h4>
					</div>

				  <div class="col-sm-6 col-md-6">

					<div class="form-group search_members_field">
                       <label class="col-sm-6 control-label">Select Level</label>
                         <div class="col-sm-6" id="page-top">

                            <ui-select multiple ng-change="filterUsers()" ng-model="filter.level"
                                               theme="bootstrap">
                                        <ui-select-match placeholder="Choose level">{{$item.level}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="level.value as level in levelCollection | filter:$select.search">
                                            {{level.level}}
                                        </ui-select-choices>
                                    </ui-select>
                         </div>
                    </div>
	               </div>

				</div>
			</div>
		</div>




 <section class="">
       <article class="home-thumbs-section padd-top-zero">

              <div class="container">
                  <div class="row video-frame">
                      <div class="spinner"></div>
                      <div class="col-lg-4 col-md-4" ng-repeat="profile in profileCollection">

                          <div class="sh-card-photographer-default action-buttons">
						        <div class="card-information">
                                     <a ui-sref="user_profile({username: '{{profile.user.username}}'})">
                                          <img ng-src="{{ profile.user.profile_picture }}" class="avatar  ">
                                          <h2>{{ profile.user.first_name }} {{ profile.user.last_name }}</h2>
                                     </a>
                                    <span class="sh-badge sh-badge-level"><h4>{{profile.user.level}}</h4></span>
                                     <!--<div class="card-actions">-->
                                              <!--<button class="sh-btn sh-btn-outline sh-btn-mini follow"-->
                                                      <!--data-action="follow" data-title-follow="Follow" data-title-following="Following">Follow</button>-->

                                       <!--</div>-->
                                </div>
					            <a class="card-follow-background" ui-sref="user_profile({username: '{{profile.user.username}}'})">
                                   <img style="height: 360px;width: 360px;" ng-src="{{ profile.user.profile_picture }}" class="img-responsive">
                                </a>
					       </div>


                      </div>

              <div class="col-md-12" ng-if="profileCollection.length!=0">
                            <ul class="pagination custom-pagina">
                                <li ng-if="leftPager && (params_obj.page != 1)">
                                    <a ng-click="leftPage()">&laquo;</a>
                                </li>

                                <li ng-repeat="i in pages" ng-class="{active: page_active==i+1}" >
                                    <a ng-click="getPageData(i+1)">{{i + 1}}</a>
                                </li>
                                <li ng-if="rightPager && (params_obj.page != page_count)">
                                    <a ng-click="rightPage()">&raquo;</a>
                                </li>
                            </ul>
                        </div>
                        <!--video thumbnails-->
                        <!--end of  video thumbnails-->
                   </div>
              </div>
       </article>
 </section>


<script>
      $(function() {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
		$("#ex2").slider({});
      });

</script>