
<section class="inner-banner" style="background-image: url(angular/images/inner-banner2.jpg)">
            <div class="col-md-4 inner-banner-titles">
                <h3>
                    <h2> </h2>
                    <h2><h4> </h4></h2>
                     <div class="video-srchbox">
                        <form ng-submit="filterVideos()">
                            <input type="text" class="form-control flat-input" ng-model="q" placeholder="Search videos...">
                            <span ng-click="filterVideos()" class="glyphicon lense-icon-big glyphicon-search"></span>
                        </form>
                    </div>
                </h3>
            </div>
  </section>


<main class="cd-main-content">
   <div class="cd-tab-filter-wrapper">
      <div class="cd-tab-filter">
         <!-- cd-filters -->
      </div>
      <!-- cd-tab-filter -->
   </div>
   <!-- cd-tab-filter-wrapper -->
   <section class="cd-gallery filter-is-visible">
      <div class="row">

            <h4 class="user-hr-line search-title">{{ count? count: 0 }}
               Result{{ count > 1? 's': '' }}
            </h4>
            <div class="spinner"></div>
            <div class="col-md-4 col-sm-4 video-thumbs col-xs-12" ng-repeat="video in videoCollection">
               <div class="cart-icon">
                  <a class="cart-white" ng-click="addToCart(video.id)"><i
                     class="fa icon-white fa-shopping-cart"></i></a>
               </div>
               <div class="video">
                  <a ui-sref="video({slug: '{{video.slug}}'})">
                     <video class="thevideo" loop width="”100%”">
                        <source ng-src="{{ video.water_marked_video }}" type="video/mp4" accept="video/*">
                        Your browser does not support the video tag.
                     </video>
                  </a>
               </div>
               <div class="author">
                  <a href="#">
                     <img class="img-circle" ng-src={{video.user_detail.profile_picture}}>
                     <p>{{video.user_detail.first_name}} {{video.user_detail.last_name}}</p>
                  </a>
               </div>
            </div>
            <!--<div align="center" ng-if="videoCollection.length==0">-->
            <!--<h1 style="opacity: 0.3">No videos found</h1>-->
            <!--</div>-->
            <div class="text-center margin-top margin-bottom" ng-if="videoCollection.length<1">
               <h3>Can't find what you're looking for?</h3>
               <h4 style="opacity: 0.5">Let our videographers shoot a video of <strong>{{ q }}</strong>
                  for you.
               </h4>
               <div class="margin-top">
                  <a ui-sref="create_contest" class="sh-btn-success">Request Videos</a>
               </div>
            </div>

         </div>

      </div>
   </section>
   </section> <!-- cd-gallery -->

   <div class="col-md-12" ng-if="contestCollection.length!=0">
                            <ul class="pagination custom-pagina">
                                <li ng-if="leftPager && (params_obj.page != 1)">
                                    <a ng-click="leftPage()">&laquo;</a>
                                </li>

                                <li ng-repeat="i in pages" ng-class="{active: page_active==i+1}" >
                                    <a ng-click="getPageData(i+1)">{{i + 1}}</a>
                                </li>
                                <li ng-if="rightPager && (params_obj.page != page_count)">
                                    <a ng-click="rightPage()">&raquo;</a>
                                </li>
                            </ul>
                        </div>
   <div class="cd-filter filter-is-visible">
   <form>
   <div class="box">
      <div class="form-group">
         <label>Permissions</label>
         <ui-select ng-change="filterVideos()" ng-model="filter.permissions"
            theme="bootstrap">
            <ui-select-match allow-clear='true' placeholder="Choose permission">{{$select.selected.label}}
            </ui-select-match>
            <ui-select-choices repeat="perm.value as perm in permissions_list">
               {{perm.label}}
            </ui-select-choices>
         </ui-select>
      </div>
   </div>
   <div class="box">
      <div class="form-group">
         <label>Orientation</label>
         <ui-select multiple ng-change="filterVideos()" ng-model="filter.orientation"
            theme="bootstrap">
            <ui-select-match placeholder="Choose orientation">{{$item.label}}
            </ui-select-match>
            <ui-select-choices repeat="orientation.value as orientation in orientations_list | filter:$select.search">
               {{orientation.label}}
            </ui-select-choices>
         </ui-select>
      </div>
   </div>
   <div class="box">
      <div class="form-group">
         <label>Location</label>
         <ui-select multiple ng-change="filterVideos()" ng-model="filter.location"
            theme="bootstrap">
            <ui-select-match placeholder="Select Location">{{$item.l}}
            </ui-select-match>
            <ui-select-choices repeat="l in locations | filter:$select.search">
               {{l}}
            </ui-select-choices>
         </ui-select>
      </div>
   </div>
   <div class="box">
      <div class="form-group">
         <label>Result per page</label>
         <ui-select ng-change="filterVideos()" ng-model="filter.page_size"
            theme="bootstrap">
            <ui-select-match placeholder="10">{{$select.selected.label}}
            </ui-select-match>
            <ui-select-choices repeat="result.value as result in result_page_list">
               {{result.label}}
            </ui-select-choices>
         </ui-select>
      </div>
   </div>
   <div class="box">
      <div class="form-group">
         <label>Videographer Level</label>
         <ui-select multiple ng-change="filterVideos()" ng-model="filter.level"
            theme="bootstrap">
            <ui-select-match placeholder="Choose level">{{$item.level}}
            </ui-select-match>
            <ui-select-choices repeat="level.value as level in levelCollection | filter:$select.search">
               {{level.level}}
            </ui-select-choices>
         </ui-select>
      </div>
   </div>
   <div class="box">
      <div class="form-group">
         <label>Sort by</label>
         <ui-select ng-change="filterVideos()" ng-model="filter.age"
            theme="bootstrap">
            <ui-select-match allow-clear='true' placeholder="Choose order">{{$select.selected.label}}
            </ui-select-match>
            <ui-select-choices repeat="result.value as result in sort_result">
               {{result.label}}
            </ui-select-choices>
         </ui-select>
      </div>
   </div>
   <div class="box">
      <div class="form-group">
         <label>Price</label>
         <div class="bt_pricerange">
            <b>$10</b>
            <input id="ex2" type="text" class="span2" value="" data-slider-min="10" data-slider-max="500" data-slider-step="5" data-slider-value="[10,500]"
               ng-model="filter.price"/>
            <b>$500</b>
         </div>
      </div>
   </div>
   <div class="box">
      <div class="form-group">
         <label>Average Video Rating</label>
         <fieldset class="rating">
            <input type="radio" id="star5" name="rating" value="5" ng-model="filter.rating" ng-change="filterVideos()" /><label for="star5" title="5 stars">5 stars</label>
            <input type="radio" id="star4" name="rating" value="4" ng-model="filter.rating" ng-change="filterVideos()" /><label for="star4" title="4 stars">4 stars</label>
            <input type="radio" id="star3" name="rating" value="3" ng-model="filter.rating" ng-change="filterVideos()" /><label for="star3" title="3 stars">3 stars</label>
            <input type="radio" id="star2" name="rating" value="2" ng-model="filter.rating" ng-change="filterVideos()" /><label for="star2" title="2 stars">2 stars</label>
            <input type="radio" id="star1" name="rating" value="1" ng-model="filter.rating" ng-change="filterVideos()" /><label for="star1" title="1 star">1 star</label>
         </fieldset>
      </div>
   </div>
</form>
      <a  class="cd-close">Close</a>
   </div>
   <!-- cd-filter -->
   <a  class="cd-filter-trigger filter-is-visible">Filters</a>
</main>
<!-- Bootstrap core JavaScript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="angular/assets/js/jquery.min.js"></script>-->
<!--<script src="bootstrap/js/bootstrap.js"></script>-->
<!-- filter collapse panel----->
<script src="angular/assets/js/jquery.mixitup.min.js"></script>
<script src="angular/assets/js/main.js"></script>
<!--<script src="http://harvesthq.github.io/chosen/chosen.jquery.js"></script>-->
<script src="angular/assets/js/bootstrap-slider.js"></script>

        <script>
      $(function() {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
		$("#ex2").slider({});
      });

  </script>
