<link href="/angular/bower_components/video.js/dist/video-js.min.css" rel="stylesheet">
<script src="/angular/bower_components/video.js/dist/video.min.js"></script>
<div class="product_detail_box">
  <div class="container">
    <div class="product_inner">
      <div class="row">
        <div class="col-lg-6 col-md-6 product_image">
          <video id="my-video"
                 class="video-js"
                 width="640"
                 height="264"
                 data-setup='{ "controls": true,
                             "autoplay": false,
                             "preload": "auto",
                             "fluid": true }'>
          </video>
        </div>
        <div class="col-lg-6 col-md-6 product_description">
          <div class="media">
            <div class="media-left">
              <a ui-sref="user_profile({username: video.user_detail.username})">
                <img class="img-circle"
                     alt="64x64"
                     src="{{video.user_detail.profile_picture}}"
                     style="width: 64px; height: 64px;">
              </a>
            </div>
            <div class="media-body" ng-cloak>
              <h4 class="media-heading">
                <a ui-sref="user_profile({username: video.user_detail.username})">
                  {{video.user_detail.first_name}} {{video.user_detail.last_name}}
                </a>
              </h4>
              <!--<a class="btn btn-default user_default_btn" ng-click="inviteUser()"
              role="button">Invite</a>-->
              <a ng-if="video.user_detail.is_following === true"
                 class="btn btn-default user_default_btn"
                 ng-click="follow_User(video.user_detail.profile_id, 'profile')"
                 role="button">
                Following
              </a>
              <a ng-if="video.user_detail.is_following === false"
                 class="btn btn-default user_default_btn"
                 ng-click="follow_User(video.user_detail.profile_id, 'profile')"
                 role="button">
                Follow
              </a>
            </div>
          </div>
          <div class="detail_description">
            <dl>
              <dt>video description</dt>
              <dd>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                magna aliquam erat volutpat.
              </dd>
            </dl>
          </div>
          <div class="detail_description">
            <dl>
              <dt>video request</dt>
              <dd>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                magna aliquam erat volutpat.
              </dd>
            </dl>
          </div>
          <div class="detail_description">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                Title:
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                {{ video.title }}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                Video Type:
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                   style="text-transform: capitalize">
                {{ get_video_type_display_name(
                video.video_type,
                video.resolution,
                video.fps_rate) }}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                Orientation:
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                   style="text-transform: capitalize">
                {{ video.orientation }}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                Duration:
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                {{ video.duration }} sec
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                License Type:
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                   style="text-transform: capitalize">
                {{ get_permission_display_name(video.permission) }}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                Upload Date:
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                {{video.published | date:'MMM dd, yyyy'}}
              </div>
            </div>
            <!-- <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            Rating:
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <fieldset class="rating">
            <input type="radio"
            id="star5"
            name="rating"
            value="5"
            ng-model="video.rating"
            ng-change="rateVideo(video.id, video.rating)" />
            <label for="star5" title="5 stars">5 stars</label>
            <input type="radio"
            id="star4"
            name="rating"
            value="4"
            ng-model="video.rating"
            ng-change="rateVideo(video.id, video.rating)" />
            <label for="star4" title="4 stars">4 stars</label>
            <input type="radio"
            id="star3"
            name="rating"
            value="3"
            ng-model="video.rating"
            ng-change="rateVideo(video.id, video.rating)" />
            <label for="star3" title="3 stars">3 stars</label>
            <input type="radio"
            id="star2"
            name="rating"
            value="2"
            ng-model="video.rating"
            ng-change="rateVideo(video.id, video.rating)" />
            <label for="star2" title="2 stars">2 stars</label>
            <input type="radio"
            id="star1"
            name="rating"
            value="1"
            ng-model="video.rating"
            ng-change="rateVideo(video.id, video.rating)" />
            <label for="star1" title="1 star">1 star</label>
            </fieldset>
            </div>
            </div> -->
          </div>
          <div class="detail_description">
            <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 like_widget">
                {{ video.likes_count }}
                <a data-toggle="tooltip"
                   title="Like"
                   ng-click="likeVideo(video.id, 'videos.video')"
                   class="fa fa-heart"
                   ng-class="{i_acted_widget: video.is_liked}">
                </a>
                <!--<a ng-if=!$root.isUserLoggedIn data-toggle="modal"
                data-target="#myModal"  class="fa fa-heart"
                ng-class="{i_acted_widget: video.is_liked}"></a>-->
              </div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 follow_widget">
                {{ video.followers_count }}
                <a data-toggle="tooltip"
                   title="Follow"
                   ng-click="followVideo(video.id, 'video')"
                   class="fa fa-plus-circle"
                   ng-class="{i_acted_widget: video.is_following}">
                </a>
                <!--<a ng-if=!$root.isUserLoggedIn data-toggle="modal"
                data-target="#myModal"
                class="fa fa-plus-circle"
                ng-class="{i_acted_widget: video.is_following}"></a>-->
              </div>
              <div class="col-lg-1 col-md-1 col-sm-4 col-xs-4 spam_widget">
                <a ng-click="spamVideo(video.id, 'videos.video')"
                   data-toggle="tooltip"
                   title="Spam"
                   class="fa fa-flag"
                   ng-class="{i_acted_widget: video.is_spammed}">
                </a>
                <!--<a ng-if=!$root.isUserLoggedIn data-toggle="modal"
                data-target="#myModal" class="fa fa-flag"
                ng-class="{i_acted_widget: video.is_spammed}"></a>-->
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 social_share_widget">
                Share with
                <a data-toggle="tooltip"
                   title="Share on Facebook"
                   onclick=window.open('http://www.facebook.com','_blank')>
                  <i class="fa fa-facebook-official"></i>
                </a>
                <a data-toggle="tooltip"
                   title="Share on Instagram"
                   onclick=window.open('http://www.instagram.com','_blank')>
                  <i class="fa fa-instagram"></i>
                </a>
                <a data-toggle="tooltip"
                   title="Share on Google"
                   onclick=window.open('http://www.gmail.com','_blank')>
                  <i class="fa fa-envelope"></i>
                </a>
                <a data-toggle="tooltip"
                   title="Share on Twitter"
                   onclick=window.open('http://www.twitter.com','_blank')>
                  <i class="fa fa-twitter-square"></i>
                </a>
              </div>
            </div>
            <div class="row video_quality_sec">
              <div class="col-lg-12 col-md-12">
                <!--<div class="video_res">-->
                <!--<input type="checkbox" name="fancy-checkbox-default"
                id="3gp" autocomplete="off" />-->
                <!--<div class="[ btn-group ]">-->
                <!--<label for="3gp" class="[ btn btn-default ]">-->
                <!--<span class="[ glyphicon glyphicon-ok ]"></span>-->
                <!--<span></span>-->
                <!--</label>-->
                <!--<label for="3gp" class="[ btn btn-default  ]">-->
                <!--3gp-->
                <!--</label>-->
                <!--</div>-->
                <!--</div>-->
                <!-- -->
                <!--<div class="video_res">-->
                <!--<input type="checkbox" name="fancy-checkbox-default"
                id="mp4" autocomplete="off" />-->
                <!--<div class="[ btn-group ]">-->
                <!--<label for="mp4" class="[ btn btn-default ]">-->
                <!--<span class="[ glyphicon glyphicon-ok ]"></span>-->
                <!--<span></span>-->
                <!--</label>-->
                <!--<label for="mp4" class="[ btn btn-default  ]">-->
                <!--MP4-->
                <!--</label>-->
                <!--</div>-->
                <!--</div>-->
                <!-- -->
                <!-- -->
                <!--<div class="video_res">-->
                <!--<input type="checkbox" name="fancy-checkbox-default" id="hd" autocomplete="off" />-->
                <!--<div class="[ btn-group ]">-->
                <!--<label for="hd" class="[ btn btn-default ]">-->
                <!--<span class="[ glyphicon glyphicon-ok ]"></span>-->
                <!--<span></span>-->
                <!--</label>-->
                <!--<label for="hd" class="[ btn btn-default  ]">-->
                <!--HD-->
                <!--</label>-->
                <!--</div>-->
                <!--</div>-->
                <!-- -->
                <!-- -->
                <!--<div class="video_res">-->
                <!--<input type="checkbox" name="fancy-checkbox-default" id="4k" autocomplete="off" />-->
                <!--<div class="[ btn-group ]">-->
                <!--<label for="4k" class="[ btn btn-default ]">-->
                <!--<span class="[ glyphicon glyphicon-ok ]"></span>-->
                <!--<span></span>-->
                <!--</label>-->
                <!--<label for="4k" class="[ btn btn-default  ]">-->
                <!--4K-->
                <!--</label>-->
                <!--</div>-->
                <!--</div>-->
              </div>
              <div class="col-lg-12 col-md-12 video_price">
                <span>${{video.price}}</span>
              </div>
            </div>
          </div>
          <button type="button"
                  ng-if="already_in_cart"
                  class="btn btn-lg" >
            Added to cart
          </button>
          <button type="button"
                  ng-if="!already_in_cart"
                  ng-click="addToCart(video.id)"
                  class="btn btn-lg button_orng">
            Add to cart
          </button>
          <div class="detail_description">
            <dl>
              <dt>KEYWORDS:</dt>
              <span  ng-repeat="t in video.tags">
                <a ui-sref="video-search ({q : '{{ t }}' })">
                  {{ t }}{{$last ? '' : ', '}}
                </a>
              </span>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<!-- <div class="modal fade login_popup" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="MainCrtl">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<button id="login_close" type="button" class="close login_close" data-dismiss="modal" aria-label="Close" ng-click="clearForm(loginForm)"><span aria-hidden="true">&times;</span>
</button>
<h3 class="modal-title" id="myModalLabel">LOGIN</h3>
<h5>Sign in using your Username and Password</h5>
</div>
<div class="modal-body">
<form name="loginForm" class="login_form" novalidate ng-submit="loginForm.$valid && loginSubmit()">
<p class="text-danger" ng-bind="general_error" ng-show="general_error"><i class="text-warning fa fa-exclamation-triangle"></i></p>
<div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine, 'has-success' : loginForm.email.$valid && !loginForm.email.$pristine}">
<input type="email" id="id_email" ng-keydown="clearServeremailValidationLogin()" name="email" required ng-model="email" class="form-control" placeholder="Email">
</div>
<span class="text-danger" ng-show="(loginForm.email.$invalid && !loginForm.email.$pristine) || (loginForm.email.$invalid && login_submitted)"><i class="text-warning fa fa-exclamation-triangle"></i> Enter a valid email</span>
<div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine, 'has-success' : loginForm.password.$valid && !loginForm.password.$pristine}">
<input type="password" id="Password" name="password" required ng-model="password" class="form-control" placeholder="Password">
<span class="text-danger" ng-show="((loginForm.password.$invalid && !loginForm.password.$pristine) || (loginForm.password.$invalid && login_submitted)) &&!general_error"><i class="text-warning fa fa-exclamation-triangle"></i> Enter a valid password</span>
</div>
<button type="submit" ng-click="login_submitted=true;" class="btn form_login_btn" id="login_submit">Submit</button>
<p><a ui-sref="forgot_password" ng-click="sameStateResetPassword()" class="reset_label">Password Reset</a>
</p>
<p class="login_seperation">or</p>
<button class="fb_login_btn form-group" ng-click="authenticate('facebook')">Login using Facebook</button>
<button class="instagram_login_btn form-group" ng-click="authenticate('instagram')">Login using Instagram</button>
<button class="twitter_login_btn form-group" ng-click="authenticate('twitter')">Login using Twitter</button>
<button class="gplus_login_btn" ng-click="authenticate('google')">Login using Google+</button>
<p class="sign_up_link">Don't have an account yet?<a data-toggle="modal" ng-click="loginSignUpClick()" data-target="#sign_up">Sign up</a>
</p>
</form>
</div>
</div>
</div>
</div> -->
<script>
 $(document).ready(function(){
   $('#my-video').bind('contextmenu',function() { return false; });
 });
</script>
