<section class="inner-banner" style="background-image: url(angular/images/inner-banner1.jpg)">
            <div class="col-md-4 inner-banner-titles">
                <h3 class=""><h2>Browse Collections</h2><h2><h4>Lorem ipsum dolor sit amet</h4></h2></h3>
            </div>
        </section>
        <!--main banner section-->
        <!--call 2 action 1-->
        <!--Home video thumbnails-->
        <section class="">
            <article class="home-thumbs-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 video-frame">
                            <div class="spinner"></div>
                            <div ng-repeat="video in videoCollection" class="video col-md-3 col-sm-6 col-xs-6 video-thumbs">
                                <a ui-sref="video({slug: '{{video.slug}}'})">
                                    <video class="thevideo" loop width="”100%”">
                                        <source src="{{video.water_marked_video}}" type="video/mp4" accept="video/*"> Your browser does not support the video tag.
                                    </video>
                                    <h5>{{video.title}}</h5>
                                </a>
                            </div>
                            <div align="center" ng-if="videoCollection.length==0">
                                <h1>No videos found</h1>
                            </div>
                        </div>
                        <!--video thumbnails-->
                        <!--end of  video thumbnails-->
                    </div>
                </div>
            </article>
        </section>
        <script>
        /** Document Ready Functions **/
        /********************************************************************/

        $(document).ready(function() {

            // Resive video
            scaleVideoContainer();

            initBannerVideoSize('.video-container .poster img');
            initBannerVideoSize('.video-container .filter');
            initBannerVideoSize('.video-container video');

            $(window).on('resize', function() {
                scaleVideoContainer();
                scaleBannerVideoSize('.video-container .poster img');
                scaleBannerVideoSize('.video-container .filter');
                scaleBannerVideoSize('.video-container video');
            });

            var figure = $(".video");
            var vid = figure.find("video");
            [].forEach.call(figure, function(item, index) {
                item.addEventListener('mouseover', hoverVideo.bind(item, index), false);
                item.addEventListener('mouseout', hideVideo.bind(item, index), false);
            });

        });

        /** Reusable Functions **/
        /********************************************************************/

        function scaleVideoContainer() {

            var height = $(window).height();
            var unitHeight = parseInt(height) + 'px';
            $('.homepage-hero-module').css('height', unitHeight);

        }

        function initBannerVideoSize(element) {

            $(element).each(function() {
                $(this).data('height', $(this).height());
                $(this).data('width', $(this).width());
            });

            scaleBannerVideoSize(element);

        }

        function scaleBannerVideoSize(element) {

            var windowWidth = $(window).width(),
                windowHeight = $(window).height(),
                videoWidth,
                videoHeight;

            console.log(windowHeight);

            $(element).each(function() {
                var videoAspectRatio = $(this).data('height') / $(this).data('width'),
                    windowAspectRatio = windowHeight / windowWidth;

                if (videoAspectRatio > windowAspectRatio) {
                    videoWidth = windowWidth;
                    videoHeight = videoWidth * videoAspectRatio;
                    $(this).css({
                        'top': -(videoHeight - windowHeight) / 2 + 'px',
                        'margin-left': 0
                    });
                } else {
                    videoHeight = windowHeight;
                    videoWidth = videoHeight / videoAspectRatio;
                    $(this).css({
                        'margin-top': 0,
                        'margin-left': -(videoWidth - windowWidth) / 2 + 'px'
                    });
                }

                $(this).width(videoWidth).height(videoHeight);

                $('.homepage-hero-module .video-container video').addClass('fadeIn animated');
            });
        }
            function hoverVideo(index, e) {
        vid[index].play();
    }

    function hideVideo(index, e) {
        vid[index].pause();
    }

    </script>
<!--Video thumbnail script-->