<div class="error-page">
    <h1>404</h1>

    <h2>We couldn't find the page..</h2>
    <br/>

    <div class="error-details">
        Sorry, an error has occured. Requested page not found!
    </div>

    <br/>

    <div class="error-actions">
        <a ui-sref="home" class="btn btn-lg button_orng">
            <span class="glyphicon glyphicon-home"></span>Take Me Home </a><a ui-sref="contact_us"
                                                                              class="btn btn-default btn-lg ">
        <span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
    </div>
</div>
