<div class="error-page">
    <h1>500</h1>

    <h2>Something has gone seriously wrong</h2>
    <br/>

    <div class="error-details">
        We're experiencing an internet server problem.Please try back later.
    </div>

    <br/>

    <div class="error-actions">
        <a ui-sref="home" class="btn btn-lg button_orng">
            <span class="glyphicon glyphicon-home"></span>Take Me Home </a><a ui-sref="contact_us"
                                                                              class="btn btn-default btn-lg ">
        <span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
    </div>
</div>