
        <section class="inner-banner" style="background-image: url(angular/images/inner-banner1.jpg)">
            <div class="col-md-4 inner-banner-titles">
                <h3 class=""><h2>About Us</h2><h2><h4>Lorem ipsum dolor sit amet</h4></h2></h3> 
            </div>
        </section>
        <!--main banner section-->
        <!--call 2 action 1-->
        <!--Home video thumbnails-->
        <section class="">
            <article class="home-thumbs-section about_us_sec">
                <div class="container">
                    <div class="row">
					<div class="col-lg-12 col-md-12">
						<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
tempor incididunt ut labore et dolore magna aliqua.</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
 voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
</div>
                        <!--end of  video thumbnails-->
                    </div>
                </div>
            </article>
			<article class="about_bg_intro">
				<div class="container">
				<div class="row">
				<div class="col-lg-12 col-md-12">
<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
magna aliqua incididunt ut labore. </h3>
</div>
</div>
				</div>
			</article>
			<article class="story-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<h4>How do we move past the current, often frustrating ways mobile photographers can earn money, like hustling prints and entering long-shot brand photo contests? We can do better. Let's start with a real need.</h4>
					</div>
				</div>
			</div>	
			</article>
			<article class="story-purpose">
				<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<h4>Lorem ipsum dolor sit amet</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
sed do eiusmod tempor incididunt ut labore et dolore 
magna aliqua. Ut enim ad minim veniam, quis nostrud
exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat</p>
					</div>
					<div class="col-lg-6 col-md-6">
					<h4>Lorem ipsum dolor sit amet</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
sed do eiusmod tempor incididunt ut labore et dolore 
magna aliqua. Ut enim ad minim veniam, quis nostrud
exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat</p>
					</div>
				</div>
				</div>
			</article>
        </section>

        <!--call 2 action 1-->
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script>
        /** Document Ready Functions **/
        /********************************************************************/

        $(document).ready(function() {

            // Resive video
            scaleVideoContainer();

            initBannerVideoSize('.video-container .poster img');
            initBannerVideoSize('.video-container .filter');
            initBannerVideoSize('.video-container video');

            $(window).on('resize', function() {
                scaleVideoContainer();
                scaleBannerVideoSize('.video-container .poster img');
                scaleBannerVideoSize('.video-container .filter');
                scaleBannerVideoSize('.video-container video');
            });

        });

        /** Reusable Functions **/
        /********************************************************************/

        function scaleVideoContainer() {

            var height = $(window).height();
            var unitHeight = parseInt(height) + 'px';
            $('.homepage-hero-module').css('height', unitHeight);

        }

        function initBannerVideoSize(element) {

            $(element).each(function() {
                $(this).data('height', $(this).height());
                $(this).data('width', $(this).width());
            });

            scaleBannerVideoSize(element);

        }

        function scaleBannerVideoSize(element) {

            var windowWidth = $(window).width(),
                windowHeight = $(window).height(),
                videoWidth,
                videoHeight;

            console.log(windowHeight);

            $(element).each(function() {
                var videoAspectRatio = $(this).data('height') / $(this).data('width'),
                    windowAspectRatio = windowHeight / windowWidth;

                if (videoAspectRatio > windowAspectRatio) {
                    videoWidth = windowWidth;
                    videoHeight = videoWidth * videoAspectRatio;
                    $(this).css({
                        'top': -(videoHeight - windowHeight) / 2 + 'px',
                        'margin-left': 0
                    });
                } else {
                    videoHeight = windowHeight;
                    videoWidth = videoHeight / videoAspectRatio;
                    $(this).css({
                        'margin-top': 0,
                        'margin-left': -(videoWidth - windowWidth) / 2 + 'px'
                    });
                }

                $(this).width(videoWidth).height(videoHeight);

                $('.homepage-hero-module .video-container video').addClass('fadeIn animated');
            });
        }

    </script>
        <!--Video thumbnail script-->
        <script>
        var figure = $(".video");
        var vid = figure.find("video");

        [].forEach.call(figure, function(item, index) {
            item.addEventListener('mouseover', hoverVideo.bind(item, index), false);
            item.addEventListener('mouseout', hideVideo.bind(item, index), false);
        });

        function hoverVideo(index, e) {
            vid[index].play();
        }

        function hideVideo(index, e) {
            vid[index].pause();
        }

    </script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
    <!--</body>-->
<!--</html>-->
