<!--
<section class="inner-banner" style="background-image: url(angular/images/inner-banner1.jpg)">
    <div class="col-md-4 inner-banner-titles">
        <h3 class="">
      <h2>Contact Us</h2>
      <h2>
        <h4>Lorem ipsum dolor sit amet</h4>
      </h2>
    </h3>
    </div>
</section>
-->
<!--main banner section-->
<!--call 2 action 1-->
<!--Home video thumbnails-->
<section>
<!--    <article class="home-thumbs-section about_us_sec">-->
        <div class="container">
            <div class="row" id="contactClear">
                <div class="col-lg-12 col-md-12">

                    <form name="contactusForm" novalidate class="contact_form" ng-submit="contactUs()">
                        <p ng-show="contactusForm.$error"></p>
                        <h3>Contact Us</h3>
                        <div class="form-group">

                                <div class="form-group">
									<select class="form-control" ng-model="contactForm.topic" name="topic" autofocus required>
                                    <option value="">Choose a topic</option>
                                    <option value= "{{topic.id}}" ng-repeat="topic in topicsType">{{topic.name}}</option>
									</select>
                                </div>
                                <span class="text-danger" ng-show="(contactusForm.topic.$invalid && !contactusForm.topic.$pristine) || (contactusForm.topic.$invalid && contact_submitted)"><i class="text-warning fa fa-exclamation-triangle"></i>Choose a topic</span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" maxlength="30" ng-model="contactForm.name" placeholder="Enter your name" required>
                            <span class="text-danger" ng-show="(contactusForm.name.$invalid && !contactusForm.name.$pristine) || (contactusForm.name.$invalid && contact_submitted)"><i class="text-warning fa fa-exclamation-triangle"></i>Enter a valid name(Max-30)</span>
                        </div>
                        <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" ng-model="contactForm.email" ng-keydown="clear_server_validation_email()" placeholder="Enter your email" required>
                            <span class="text-danger" ng-show="(contactusForm.email.$invalid && !contactusForm.email.$pristine) || (contactusForm.email.$invalid && contact_submitted) || (email_error)"><i class="text-warning fa fa-exclamation-triangle"></i> Enter a valid email</span>
                        </div>
<!--
                            <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <input id="radio-1" class="radio-custom" name="type" type="radio" required ng-model="contactForm.type" value="videographer">
                                    <label for="radio-1" class="radio-custom-label">Videographer</label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <input id="radio-2" class="radio-custom" name="type" type="radio" required ng-model="contactForm.type" value="video_buyer">
                                    <label for="radio-2" class="radio-custom-label">Buyer</label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <input id="radio-3" class="radio-custom" name="type" type="radio" required ng-model="contactForm.type" value="both">
                                    <label for="radio-3" class="radio-custom-label">Both</label>
                                </div>
                            </div>
                        </div>
-->
                            <span class="text-danger" ng-show="contactusForm.type.$error.required && contact_submitted"><i class="text-warning fa fa-exclamation-triangle"></i>Select a type</span>


                        <div class="form-group">
                            <textarea class="form-control" rows="3" id="message" name="message" ng-model="contactForm.message" placeholder="Enter your message" required></textarea>
                            <span class="text-danger" ng-show="contactusForm.message.$error.required && contact_submitted"><i class="text-warning fa fa-exclamation-triangle"></i>Enter your message</span>
                        </div>
                        <div ng-if="contact_sent" class="alert alert-green contact-alert" role="alert">
                        Your message is successfully sent. We will contact you shortly
                    </div>
                        <!--<a href="btn btn-default main-btn-1" class="form_login_btn">Submit</a>-->
                        <button ng-if="!contact_sent" class="form_login_btn" type="submit" ngclick="contactUs()">Submit</button>
                    </form>
                </div>
            </div>
        </div>
<!--    </article>-->
<!--
    <article class="contact_more_information">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h3>More Information</h3>
                    <div>
                    <p>{{ contactInfo.address_line_1 }}
                        <br ng-if="contactInfo.address_line_2"/>{{ contactInfo.address_line_2 }}
                        <br ng-if="contactInfo.address_line_3"/>{{ contactInfo.address_line_3 }}
                        <br ng-if="contactInfo.address_line_4"/>{{ contactInfo.address_line_4 }}
                        <br />Tel: {{ contactInfo.telephone }}
                        <br />Email: {{ contactInfo.email }}
                        <br />Fax: {{ contactInfo.fax }}</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                    </p>
                        </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div id="map">
                    </div>
                </div>
            </div>
            </div>
    </article>
-->
</section>

	<script type="text/javascript">//<![CDATA[

</script>
<script type="text/javascript">
    $(document.body).on('click', '.dropdown-menu li', function (event) {

        var $target = $(event.currentTarget);

        $target.closest('.btn-group')
                .find('[data-bind="label"]').text($target.text())
                .end()
                .children('.dropdown-toggle').dropdown('toggle');

        return false;

    });
</script>
         <script>
      $(function() {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
		$("#ex2").slider({});
      });

  </script>




