<!--main banner section-->
<section class="">
    <div class="container-fluid  main-banner">
        <div class="homepage-hero-module">
            <div class="video-container">
                <div class="container  title-holder">
                    <div class="col-md-12 call2-content-main">
                        <h1 class="top-margin-zero">Get the videos you need</h1>

                        <div class="pg-empty-placeholder request-box">
                            <a ui-sref="create_contest" class="btn btn-default main-btn-1">create request</a>

                            <p class="call2-desc">Can't find the video you're looking for? Create a Request<br>&nbsp;and
                                have our videographers submit their best shots.</p>

                            <p class="call2-desc big-3">OR</p>

                            <div class="video-srchbox">
                                <form ng-submit="searchQuery()">
                                    <!--<input type="text" class="form-control flat-input" ng-model=q placeholder="Find the perfect video">-->
                                    <!--<span ng-click="searchQuery()" class="glyphicon lense-icon-big glyphicon-search"></span>-->
                                    <!--<div id="the-basics">-->
                                    <input type="text" data-provide="typeahead"
                                           uib-typeahead="recommentation for recommentation in recommentations | filter:$viewValue"
                                           class="form-control flat-input" ng-model=q
                                           placeholder="Find the perfect video">
                                    <span ng-click="searchQuery()"
                                          class="glyphicon lense-icon-big glyphicon-search"></span>
                                    <!--</div>-->
                                </form>
                            </div>
                            <p class="call2-desc">
                                <small>Search a curated library of authentic, Royalty-Free videos. <br>Buy single videos
                                    or subscribe and save.
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="filter"></div>
                <div class="">
                    <video autoplay loop width="100%" height="100%">
                        <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">
                        Your browser does not support the video tag. I suggest you upgrade your browser.
                    </video>
                </div>
                <div class="poster hidden">
                    <img src="angular/images/videoscrns/frame1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="">
    <article class="spyhop-works">
        <div class="container spyhop-intro">
            <div class="row">
                <div class="col-md-12">
                    <h3></h3>
                    <h2>How <span class="orange-1">Spyhop</span> works ?</h2>
                    <h5>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,<br>&nbsp;by injected humour, or randomised words which don't look even slightly believable.</h5>
                </div>
                <div class="col-md-12 common-content">
                    <div class="col-md-4">
                        <span class="glyphicon big-icons glyphicon-cloud-upload"></span>
                        <h3>
                            <h4>Upload your video</h4>
                        </h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="glyphicon big-icons glyphicon-play-circle"></span>
                        <h3>
                            <h4>Lorem ipsum dolor</h4>
                        </h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="glyphicon big-icons glyphicon-ok-circle"></span>
                        <h3>
                            <h4>You're done !</h4>
                        </h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<!--call 2 action 1-->
<section class="call2-section-1 top-margin-zero">
    <article class="spyhop-works">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner-title">
                        <h2 class="h1-big">Best <span class="orange-1">royalty free</span> videos</h2>
                        <h2>
                            <h5>
                                <h4 class="subtxt-1">
                                    <h5 class="subtxt-1">There are many variations of passages of Lorem Ipsum available, but the majority have&nbsp;</h5>
                                </h4>
                            </h5>
                        </h2>
                        <a class="btn btn-default main-btn-1"  ng-href="/#/videos">explore now</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="pg-empty-placeholder author-link">
                        <img class="img-circle" src="angular/images/author-avatar.jpg">
                        <a>Video by : <b>Pabloe Picasso</b></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="allvideo-link">
                        <a>See all videos like this > </a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<!--Home video thumbnails-->
<section class="">
    <article class="home-thumbs-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Start <span class="orange-1">exploring</span> now!</h1>
                    <p>Search a curated library of authentic, Royalty-Free videos.</p>
                </div>
                <div class="col-md-12 video-frame">
                    <div class="video col-md-3 col-sm-6 col-xs-6 video-thumbs">
                        <video class="thevideo" loop width="”100%”">
                            <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">
                            Your browser does not support the video tag.
                        </video>
                        <h5>Nature</h5>
                    </div>
                    <div class="video col-md-3 col-sm-6 col-xs-6 video-thumbs">
                        <video class="thevideo" loop width="”100%”">
                            <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">
                            Your browser does not support the video tag.
                        </video>
                        <h5>abstract</h5>
                    </div>
                    <div class="video col-md-3 col-sm-6 col-xs-6 video-thumbs">
                        <video class="thevideo" loop width="”100%”">
                            <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">
                            Your browser does not support the video tag.
                        </video>
                        <h5>action</h5>
                    </div>
                    <div class="video col-md-3 col-sm-6 col-xs-6 video-thumbs">
                        <video class="thevideo" loop width="”100%”">
                            <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">
                            Your browser does not support the video tag.
                        </video>
                        <h5>corporate</h5>
                    </div>
                    <div class="video col-md-3 col-sm-6 col-xs-6 video-thumbs">
                        <video class="thevideo" loop width="”100%”">
                            <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">
                            Your browser does not support the video tag.
                        </video>
                        <h5>people</h5>
                    </div>
                    <div class="video col-md-3 col-sm-6 col-xs-6 video-thumbs">
                        <video class="thevideo" loop width="”100%”">
                            <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">
                            Your browser does not support the video tag.
                        </video>
                        <h5>timelaps</h5>
                    </div>
                    <div class="video col-md-3 col-sm-6 col-xs-6 video-thumbs">
                        <video class="thevideo" loop width="”100%”">
                            <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">
                            Your browser does not support the video tag.
                        </video>
                        <h5>editorial</h5>
                    </div>
                    <div class="video col-md-3 col-sm-6 col-xs-6 video-thumbs">
                        <video class="thevideo" loop width="”100%”">
                            <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">
                            Your browser does not support the video tag.
                        </video>
                        <h5>creative</h5>
                    </div>
                </div>
                <!--video thumbnails-->
                <!--end of  video thumbnails-->
            </div>
        </div>
    </article>
</section>
<section class="call-to-3">
    <article class="pg-empty-placeholder explore">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="explore-ad col-md-8">
                        <h3>
                            <h1 class="ad-head-1">Everything is Professional
                                and affordable.
                                Doesn’t that feel good ?
                            </h1>
                        </h3>
                        <h4 class="ad-head-2">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</h4>
                        <button type="button" ng-if=!$root.isUserLoggedIn class="btn btn-default btn-signup" data-toggle="modal" data-target="#sign_up">SIGN ME UP</button>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<section class="">
    <div class="container">
        <div class="row">
            <div class="client-logos col-md-12">
                <img class="img-responsive" src="angular/images/clientele.jpg" />
            </div>
        </div>
    </div>
</section>
<script>
    /** Document Ready Functions **/
    /********************************************************************/
    
    $(document).ready(function() {
    
        // Resive video
        scaleVideoContainer();
    
        initBannerVideoSize('.video-container .poster img');
        initBannerVideoSize('.video-container .filter');
        initBannerVideoSize('.video-container video');
    
        $(window).on('resize', function() {
            scaleVideoContainer();
            scaleBannerVideoSize('.video-container .poster img');
            scaleBannerVideoSize('.video-container .filter');
            scaleBannerVideoSize('.video-container video');
        });
    
    });
    
    /** Reusable Functions **/
    /********************************************************************/
    
    function scaleVideoContainer() {
    
        var height = $(window).height();
        var unitHeight = parseInt(height) + 'px';
        $('.homepage-hero-module').css('height', unitHeight);
    
    }
    
    function initBannerVideoSize(element) {
    
        $(element).each(function() {
            $(this).data('height', $(this).height());
            $(this).data('width', $(this).width());
        });
    
        scaleBannerVideoSize(element);
    
    }
    
    function scaleBannerVideoSize(element) {
    
        var windowWidth = $(window).width(),
            windowHeight = $(window).height(),
            videoWidth,
            videoHeight;
    
        console.log(windowHeight);
    
        $(element).each(function() {
            var videoAspectRatio = $(this).data('height') / $(this).data('width'),
                windowAspectRatio = windowHeight / windowWidth;
    
            if (videoAspectRatio > windowAspectRatio) {
                videoWidth = windowWidth;
                videoHeight = videoWidth * videoAspectRatio;
                $(this).css({
                    'top': -(videoHeight - windowHeight) / 2 + 'px',
                    'margin-left': 0
                });
            } else {
                videoHeight = windowHeight;
                videoWidth = videoHeight / videoAspectRatio;
                $(this).css({
                    'margin-top': 0,
                    'margin-left': -(videoWidth - windowWidth) / 2 + 'px'
                });
            }
    
            $(this).width(videoWidth).height(videoHeight);
    
            $('.homepage-hero-module .video-container video').addClass('fadeIn animated');
        });
    }
    
</script>
<!--Video thumbnail script-->
<script>
 $(document).ready(function() {
   enableAutoPlay();
 });    
</script>
<!-- <script>
$(document).ready(function() {
$('#right-menu').sidr({
name: 'sidr-right',
side: 'right'
});
});
</script> -->
