<!--main banner section-->
<section class="">
    <div class="">

            <video controls width="100%">
                <source src="angular/videos/SpyHop1-final.mp4" type="video/mp4" accept="video/*">
                Your browser does not support the video tag. I suggest you upgrade your browser.
           </video>
    </div>

</section> <!-- end video bg -->

<!-- Intro -->
<section class="section-wrap intro" id="intro">
    <div class="container">
        <div class="row">

            <div class="col-sm-8 col-sm-offset-2 text-center wow slideInUp" data-wow-duration="1.2s" data-wow-delay="0s">							
                <h2 class="intro-heading heading-frame">Welcome to SpyHop</h2>
                <p class="intro-text mb-60">
                    SpyHop is a marketplace for on-demand user-generated video clips. 
                    We are working with global brands, agencies and businesses to source authentic footage for use in advertising, social media, marketing and web design.
                </p>

                <img src="angular/images/SpyHopIcon.png" width=200px alt="" />
            </div>

        </div>
    </div>
</section> <!-- end intro -->

<section class="call2-section-1 top-margin-zero">
    <article class="spyhop-works">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner-title">
                        <h1 class="ad-head-3">Get <span class="orange-1">made-to-order</span> video clips</h1>
                        <h2>
                            <h5>
                                <h4 class="subtxt-1">
                                    <h5 class="subtxt-1">Our global videographer community is standing by to help!&nbsp;</h5>
                                </h4>
                            </h5>
                        </h2>
                        <a class="btn btn-default main-btn-1"  ng-href="/#/create-request">request now</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="pg-empty-placeholder author-link">
                        <img class="img-circle" src="angular/images/author-avatar.jpg">
                        <a>Video by : <b>Pabloe Picasso</b></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="allvideo-link">
                        <a>See all videos like this > </a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<!--Home video thumbnails-->
<section class="">
    <article class="home-thumbs-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Start <span class="orange-1">exploring</span> now!</h1>
                    <p>Search our curated library of authentic, royalty-free videos.</p>
                </div>
                <div class="col-md-12 video-frame">
                    <div class="video col-md-3 col-sm-6 col-xs-6 video-thumbs">
                        <video class="thevideo" loop width="”100%”">
                            <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">
                            Your browser does not support the video tag.
                        </video>
                        <h5>Nature</h5>
                    </div>
                    <div class="video col-md-3 col-sm-6 col-xs-6 video-thumbs">
                        <video class="thevideo" loop width="”100%”">
                            <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">
                            Your browser does not support the video tag.
                        </video>
                        <h5>abstract</h5>
                    </div>
                    <div class="video col-md-3 col-sm-6 col-xs-6 video-thumbs">
                        <video class="thevideo" loop width="”100%”">
                            <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">
                            Your browser does not support the video tag.
                        </video>
                        <h5>action</h5>
                    </div>
                    <div class="video col-md-3 col-sm-6 col-xs-6 video-thumbs">
                        <video class="thevideo" loop width="”100%”">
                            <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">
                            Your browser does not support the video tag.
                        </video>
                        <h5>corporate</h5>
                    </div>
                    <div class="video col-md-3 col-sm-6 col-xs-6 video-thumbs">
                        <video class="thevideo" loop width="”100%”">
                            <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">
                            Your browser does not support the video tag.
                        </video>
                        <h5>people</h5>
                    </div>
                    <div class="video col-md-3 col-sm-6 col-xs-6 video-thumbs">
                        <video class="thevideo" loop width="”100%”">
                            <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">
                            Your browser does not support the video tag.
                        </video>
                        <h5>timelaps</h5>
                    </div>
                    <div class="video col-md-3 col-sm-6 col-xs-6 video-thumbs">
                        <video class="thevideo" loop width="”100%”">
                            <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">
                            Your browser does not support the video tag.
                        </video>
                        <h5>editorial</h5>
                    </div>
                    <div class="video col-md-3 col-sm-6 col-xs-6 video-thumbs">
                        <video class="thevideo" loop width="”100%”">
                            <source src="angular/videos/00108000.mp4" type="video/mp4" accept="video/*">
                            Your browser does not support the video tag.
                        </video>
                        <h5>creative</h5>
                    </div>
                </div>
                <!--video thumbnails-->
                <!--end of  video thumbnails-->
            </div>
        </div>
    </article>
</section>
<section class="call-to-3">
    <article class="pg-empty-placeholder explore">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="explore-ad col-md-8">
                        <h3>
                            <h1 class="ad-head-1">Everything is Professional
                                and affordable.
                                Doesn’t that feel good ?
                            </h1>
                        </h3>
                        <h4 class="ad-head-2">Some testamonial and call to action</h4>
                        <button type="button" ng-if=!$root.isUserLoggedIn class="btn btn-default btn-signup" data-toggle="modal" data-target="#sign_up">SIGN ME UP</button>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>

<!-- social icon -->
<section class="socialicons" >

    <div class="container">

        <div class="row">

            <div class="col-sm-5ths">
                <div class="process-item">
                    <div class="social-wrap text-center">
                        <i class="icon icon-ClipboardText"></i>
                    </div>
                </div>
            </div> <!-- end step -->

            <div class="col-sm-5ths">
                <div class="process-item">
                    <div class="social-wrap text-center">
                        <i class="icon icon-Bulb"></i>
                    </div>
                </div>
            </div> <!-- end step -->

            <div class="col-sm-5ths">
                <div class="process-item">
                    <div class="social-wrap text-center">
                        <i class="icon icon-Edit"></i>
                    </div>
                </div>
            </div> <!-- end step -->

            <div class="col-sm-5ths">
                <div class="process-item">
                    <div class="social-wrap text-center">
                        <i class="icon icon-Settings"></i>
                    </div>
                </div>
            </div> <!-- end step -->

            <div class="col-sm-5ths">
                <div class="process-item last">
                    <div class="social-wrap text-center">
                        <i class="icon icon-Web"></i>
                    </div>
                </div>
            </div> <!-- end step -->

        </div>
    </div>
</section>





<script>
    /** Document Ready Functions **/
    /********************************************************************/
    
    $(document).ready(function() {
    
        // Resive video
        scaleVideoContainer();
    
        initBannerVideoSize('.video-container .poster img');
        initBannerVideoSize('.video-container .filter');
        initBannerVideoSize('.video-container video');
    
        $(window).on('resize', function() {
            scaleVideoContainer();
            scaleBannerVideoSize('.video-container .poster img');
            scaleBannerVideoSize('.video-container .filter');
            scaleBannerVideoSize('.video-container video');
        });
    
    });
    
    /** Reusable Functions **/
    /********************************************************************/
    
    function scaleVideoContainer() {
    
        var height = $(window).height();
        var unitHeight = parseInt(height) + 'px';
        $('.homepage-hero-module').css('height', unitHeight);
    
    }
    
    function initBannerVideoSize(element) {
    
        $(element).each(function() {
            $(this).data('height', $(this).height());
            $(this).data('width', $(this).width());
        });
    
        scaleBannerVideoSize(element);
    
    }
    
    function scaleBannerVideoSize(element) {
    
        var windowWidth = $(window).width(),
            windowHeight = $(window).height(),
            videoWidth,
            videoHeight;
    
        console.log(windowHeight);
    
        $(element).each(function() {
            var videoAspectRatio = $(this).data('height') / $(this).data('width'),
                windowAspectRatio = windowHeight / windowWidth;
    
            if (videoAspectRatio > windowAspectRatio) {
                videoWidth = windowWidth;
                videoHeight = videoWidth * videoAspectRatio;
                $(this).css({
                    'top': -(videoHeight - windowHeight) / 2 + 'px',
                    'margin-left': 0
                });
            } else {
                videoHeight = windowHeight;
                videoWidth = videoHeight / videoAspectRatio;
                $(this).css({
                    'margin-top': 0,
                    'margin-left': -(videoWidth - windowWidth) / 2 + 'px'
                });
            }
    
            $(this).width(videoWidth).height(videoHeight);
    
            $('.homepage-hero-module .video-container video').addClass('fadeIn animated');
        });
    }
    
</script>
<!--Video thumbnail script-->
<script>
 $(document).ready(function() {
   enableAutoPlay("home autoplay");
 });    
</script>
<!-- <script>
$(document).ready(function() {
$('#right-menu').sidr({
name: 'sidr-right',
side: 'right'
});
});
</script> -->

