
        <section class="inner-banner" style="background-image: url(angular/images/inner-banner1.jpg)">
            <div class="col-md-4 inner-banner-titles">
                <h3 class=""><h2>Custom videos<br /> shot just for you</h2></h3>
            </div>
        </section>
        <!--main banner section-->
        <!--call 2 action 1-->
        <!--Home video thumbnails-->
<div class="intro_section">
	<div class="container">
		<div class="section-content">
			<div class="section-steps">
        <h1 class="light margin-top margin-bottom-big">How it works</h1>
        <div class="row">
          <div class="col-sm-4 margin-bottom">
            <h2 class="step-num">1</h2>
            <h3 class="light">Request videos</h3>
            <h4 class="light">Tell photographers what you're looking for, set a price, and turnaround time</h4>
          </div>
          <div class="col-sm-4 margin-bottom">
            <h2 class="step-num">2</h2>
            <h3 class="light">Review Submissions</h3>
            <h4 class="light">Nominate videos to indicate what you like and award photographers with points</h4>
          </div>
          <div class="col-sm-4 margin-bottom">
            <h2 class="step-num">3</h2>
            <h3 class="light">Purchase The Best</h3>
            <h4 class="light">Download the best videos that match your creative vision</h4>
          </div>
        </div>
      </div>
		</div>
	</div>
</div>


<section class="intro-section section-white">
	<div class="container">
		<div class="section-content">
			<h1 class="light margin-top margin-bottom-big">Authentic Videos for Brands and Businesses</h1>
			<h3 class="light">Thousands of Creatives use Snapwire to streamline their art buying process</h3>
			<br />
			<div class="row intro_canvas">
				<div class="col-lg-4 col-md-4">
				<img src="angular/images/pic-call2-1.jpg">
				</div>
				<div class="col-lg-4 col-md-4">
				<img src="angular/images/pic-call2-1.jpg">
				</div>
				<div class="col-lg-4 col-md-4">
				<img src="angular/images/pic-call2-1.jpg">
				</div>
			</div>
		</div>
	</div>
</section>



        <!--call 2 action 1-->

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript">//<![CDATA[

function initialize()
{
    var myLatLng = new google.maps.LatLng(28.617161,77.208111);
    var map = new google.maps.Map(document.getElementById("map"),
    {
        zoom: 17,
        center: myLatLng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var marker = new google.maps.Marker(
    {
        position: myLatLng,
        map: map,
        title: 'Rajya Sabha'
    });
}
//]]>

</script>


