<section class="section-spyhop">
<div class="container">
	<div class="row">
	
	
	
	
	
	
		<div class="col-lg-10 col-md-10">
			<div class="policies_section">
				

<h3>Privacy Policy</h3>
 <p>Last Updated: July 1, 2016</p>

        <h4 class="policies_section">Acceptance of Terms</h4><ul>
        <p>This Privacy Notice (this "<b>Privacy Notice</b>") describes the collection, use, disclosure, retention, and protection of your personal information by SpyHop in connection with any access or use of any website, mobile application or other media platform that references or links to this Privacy Notice (the “<b>Site</b>”), however accessed or used. See the SpyHop <a ui-sref="terms_and_conditions">Terms of Use</a> for the meaning of capitalized terms used but not defined in this Privacy Notice. </p> 
                <p><b>By accessing or using the Site and/or registering for an account with SpyHop, you are accepting the terms of this Privacy Notice and the SpyHop <a ui-sref="terms_and_conditions">Terms of Use</a>, and you are consenting to our collection, use, disclosure, retention, and protection of your personal information as described in this Privacy Notice.  If you do not provide the information we require, you may not be able to use or access the Site or we may be unable to complete your Transactions.</b></p></ul>
        
        <h4 id="privacy_personal_information">Personal Information</h4><ul>
        <p>For purposes of this Privacy Notice, “<b>Personal information</b>” means information that can be associated with a specific person and could be used to identify that specific person whether from that data or from that data and other information that SpyHop has or is likely to have access to. We do not consider personal information to include information that has been made anonymous or aggregated so that it can no longer be used to identify a specific person, whether in combination with other information or otherwise.</p></ul>

        <h4 id="privacy_changes_to_this_notice">Changes to this Notice</h4><ul>
        <p>We may amend this Privacy Notice at any time by posting the amended terms on this site. All amended terms automatically take effect thirty (30) days after they are posted. We will announce any material changes to this Privacy Notice through the Site and/or via email.</ul>

        <h4 id="privacy_collection_of_information">Collection of Information</h4><ul>
        <p>We collect, process, and retain personal information from you and any devices (including mobile devices) you may use when you: access or use the Site, register for an account with us, provide us information on a web form, update or add information to your account, participate in community discussions, chats, or dispute resolution, or when you otherwise correspond with us regarding the Site.</p>

        <h6>Type of Personal Information Collected </h6><ul>
        <p>The personal information we collect includes (but is not limited to) the following:
        <ul><li>Unique identifiers such as your name, address, telephone number or email addresses;</li>
            <li>Information about your business such as company name, company size and business type;</li>
            <li>Information pertaining to your consummation of a Transaction or submission of Request(s) or Video Footage or other Content, or other transaction-based content that you generate or that is connected to your account as a result of a transaction you are involved in;</li>
            <li>Billing and other financial information (such as credit card or bank account numbers) in connection with the completion of a Transaction;</li>
            <li>In some instances, when you use the Site, you may provide age, gender, interests and favorites;</li>
            <li>Information about your use and overall interaction with the Site, including your communications with us and information pertaining to your preferences and past transactions through the Site;</li>
            <li>Geo-location information, including location information from your mobile device;</li>
            <li>Computer and connection information such as statistics on your page views, traffic to and from the Site, referral URL, ad data, your IP address, your browsing history, and your web log information;</li>
            <li>You may also provide us other information through a web form, by updating or adding information to your account, through your participation in community discussions, chats, dispute resolution, or when you otherwise correspond with us regarding the Site; and</li>
            <li>Additional information we are required or authorized by Applicable Laws to collect and process in order to authenticate or identify you or to verify the information we have collected.</li>
        </ul></ul>
            
        <h6>Use of cookies, web beacons and similar technologies</h6><ul>
        <p>We may use cookies, web beacons, unique identifiers and similar technologies to collect information about the pages you view, the links you click, and other actions you take on the Site.</ul>
        
        <h6>Information from other sources</h6><ul>
        <p>We may supplement the Personal Information we collect with information from third parties and add it to your account information, as allowed by Applicable Laws</p>
                <p>If you give us personal information about someone else, you must do so only with their explicit and prior consent. You have to inform them how we collect, use, disclose, and retain their personal information according to this Privacy Notice.</p></ul></ul>

        <h4 id="privacy_use_of_your_information">Use of Your Information</h4><ul>
        <p>We may use the Personal Information we collect to provide and improve the Site (and/or your or other User’s use and enjoyment of the Site), contact you about your account and/or the Site or your access or use of the Site, to provide you customer service, to provide you with personalized advertising and marketing, and to detect, prevent, mitigate and investigate fraudulent or illegal activities, among other things.  The following is a list of the various ways in which we may use or disclose your information:</p>
        <ul><li>To process or post your Requests or Video Footage, or to complete Transactions pertaining to your Requests or Video Footage;</li>
        <li>Send you requested information pertaining to Requests or Video Footage;</li>
            <li>Respond to customer service requests;</li>
            <li>Administer your account;</li>
            <li>Send you updates, promotional materials or other communications related to your access and use of the Site; and</li>
            <li>Display Video Footage or Requests based upon your interests.</li></ul>
            
        <p>We may also disclose your Personal Information as follows:</p>
        
        <ul><li>As required by Applicable Laws and other legal requirements binding upon us including to comply with a subpoena or other legal proceeding;</li>
            <li>When we believe in good faith that disclosure of your Person Information is required to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a request from a governmental or other similar authority or body; and </li>
            <li>As you may otherwise consent to.  </li></ul></ul>
            
        <h4>Withdrawing Your Consent to Our Use of Your Information</h4><ul>
        <p>If you withdraw your consent to our use or disclosure of your Personal Information for purposes set out in this Privacy Notice you may not have access to the Site and we might not be able to provide you with the ability to access or use the Site (or portions of the Site) and customer support offered to Users and authorized under this Privacy Notice and the Terms of Use.</p></ul>
        
        <h4>Access</h4><ul>
        <p>We take steps to ensure that the Personal Information we collect is accurate and up to date, and that you have the ability to access and make corrections to it. This includes (but is not limited to) the following:</p>
		<ul><li>You can see, review and change your personal information by signing in to your account. Please update your personal information immediately if it changes or is inaccurate.</li>
        <li>Once you make a public posting, you may not be able to change or remove it. Upon your request, we will close your account and remove your personal information from view as soon as reasonably possible, based on your account activity and in accordance with Applicable Laws.</li>
            <li>We will honor any statutory right you might have to access, modify or erase your Personal Information. To request access and to find out whether any fees may apply, if permitted by Applicable Laws, please contact us following the instructions in the <a ui-sref="contact_us">Contact Us</a> section of the Site. Where you have a statutory right to request access or request the modification or erasure of your Personal Information, we can still withhold that access or decline to modify or erase your Personal Information in some cases in accordance with Applicable Laws, but will give you reasons if we do so.</li></ul></ul>

        <h4>Disclosure of Your Information</h4><ul>
        <p>We may disclose your Personal Information to other Users (as discussed below), other SpyHop Parties, Payment Facilitators (as discussed in the <a ui-sref="terms_and_conditions">Terms of Use</a> under the heading“Contributor Compensation; Payment; Fees”), Third Party Distributors or other third parties. This disclosure may be required for us to provide and to provide you access to the Site, to comply with Applicable Laws and other legal obligations of ours, to enforce the Terms of Use and the other Agreements, to facilitate our marketing and advertising activities, or to prevent, detect, mitigate, and investigate fraudulent or illegal activities related to the Site, among other things. We minimize the amount of personal information we disclose to what is directly relevant and necessary to accomplish the specified purpose. [As stated above, we do not disclose your Personal Information to third parties for their marketing and advertising purposes without your explicit consent.]</p></ul>
        
        <h6>Disclosure of Your Information to Other Users </h6><ul>
        <p>When transacting with another User, the other User may request and we may provide him/her with information about you necessary to complete the transaction, such as your name, User ID, email address, contact details or other information from you needed to promote the reliability and security of the transaction.  If a transaction is held, fails, or is later invalidated, we may also provide the other User with details of such unsuccessful transaction. The other User receiving your information is not allowed to use this information for purposes unrelated to the transaction, such as to contact you for marketing purposes, unless you have express consented to it. Contacting Users with unwanted or threatening messages is a violation of the Terms of Use.</p></ul>
        
        <h4>Change of Ownership</h4><ul>
        <p>If we were to merge with or be acquired by another company, we may share information with this Privacy Notice. Should such an event occur, we will require that the new combined entity follow this Privacy Notice with respect to your Personal Information. If your Personal Information will be collected, used, disclosed, or retained for any purposes not covered in this Privacy Notice, you will receive prior notification of the processing of your Personal Information for the new purposes.</p></ul>
        
        <h4>Security</h4><ul>
        <p>We protect your information using technical and administrative security measures to reduce the risks of loss, misuse, unauthorized access, disclosure and alteration. Some of the safeguards we use are firewalls and data encryption, physical access controls to our data centers, and information access authorization controls.  However, no method of transmission or storage of information is 100% secure, and we therefore cannot guarantee the absolute security of any Personal Information or other information that you submit to or transmit through (or in connection with your access or use of) the Site.  If you believe your account has been abused, please contact us following the instructions in the <a ui-sref="contact_us">Contact Us</a> section of the Site.</p></ul>
        
        <h4>Additional Terms Regarding Your Information</h4><ul>
        <p>This section describes some additional important information related to your access and use of Site. </ul>

        <h6>Disclosure of Your Information on the Site</h6><ul>
        <p>Other Users have access to the information you share on the Site.  For example, other users can see information that you submit and that is of the nature typically posted to the Site, such as your Requests, Content Information and Peer Reviews.  Other Users can also see any information you chose to share in Your Account or Your Video Footage or that you otherwise share as part of Your Content.</p>
        <p>Your User ID is displayed throughout the Site and is available to the public.  It is connected to all of your activities in your access and use of the Site. </p>
        <p>To help protect your privacy, we allow only limited access to Users’ contact information (as necessary to facilitate transactions or otherwise required for the operation of the Site).  </p></ul>
        
                <h6>Your use and Disclosure of Other User’s Information</h6><ul>
        <p>When you engage in a transaction with another User, we enable you to obtain or we may provide you with Personal Information of the other User (such as such other User’s name, account ID, email address, contact details, and billing address) to complete the transaction. We encourage you to inform the other User about your privacy practices and respect the other User’s privacy at all times.
        <p>You may use the Personal Information that you receive or collect or otherwise have access to through your access and use of the Site only for the purposes of using the Site as contemplated by the Terms of Use.  You may not use Personal Information of other users that you receive or collect or otherwise have access to through your access and use of the Site for any purpose constitutes other than in accordance with the Terms of Use and only for purposes of consummating Transactions as contemplated by the Terms of Use.</p></ul>

        <h4>Children’s Privacy</h4><ul>
        <p>The Site is not intended for children under the age of eighteen (18). We do not knowingly collect Personal Information from individuals under this age.</p></ul>
        
        <h4>Third Party Privacy Practices</h4><ul>
        <p>This Privacy Notice addresses only the use and disclosure of Personal Information we collect from you.  If you disclose your information to others (including but not limited to Third Party Distributors and/or Payment Facilitators), their privacy notices and practices will apply, even if you were directed to such third party through the Site.</p>
        <p>We cannot guarantee the privacy or security of your information once you provide it to a third party and we encourage you to evaluate the privacy and security policies of any such third party before entering into a transaction and choosing to share your information. This is true even where the third parties to whom you disclose personal information are Users, Third Party Distributors or Payment Facilitators.</p></ul>
        
        <h4>Questions or Complaints</h4><ul>
        <p>Please do not hesitate to <a ui-sref="contact_us">contact us</a> if you have a question or a complaint about this Privacy Notice or our information handling practices.</p></ul>
		
	
	</div>
 
	</div>
   
  </div>
    </div>
</section>
