<section class="section-spyhop">
 <div class="container">
	<div class="row">
		<div class="col-lg-10 col-md-10">
			<div class="terms_section">
				
 
<h3>Terms and Conditions</h3>
<p>Last Updated: July 1, 2016</p>
     <h4> Acceptance of Terms</h4><ul>

        <p>These Terms of Use (these “<b>Terms of Use</b>”), together with the related Privacy Policy (the “<a href="#"><b>Privacy Policy</b></a>”), which are incorporated into these Terms of Use by this reference, govern your access to and use of any website, mobile application or other media platform that references or links to these Terms of Use (collectively, the “<b>Site</b>”), however accessed or used, and constitute a legally binding contract between you and SpyHop, Inc., a Delaware corporation (together with its subsidiaries, if any, and other affiliates, “<b>SpyHop</b>,” “<b>we</b>,” “<b>us</b>” or “<b>our</b>”).  By clicking “<em>I agree</em>” below or otherwise signifying your acceptance of these Terms of Use, or by accessing or using the Site or allowing others to access or use the Site on your behalf, you agree to be bound by these Terms of Use (which may be updated from time to time, as described below under the heading “<em>Changes to these Terms of Use</em>”).  Accordingly, you should read and evaluate these Terms of Use and the Privacy Policy carefully before accessing or using the Site, or allowing others to access or use the Site on your behalf, and you should consult your legal, tax, financial and other advisors and make your own informed decision as to whether and how to access or use the Site.  Do not access or use the Site if you are unwilling or unable to be bound by the terms of these Terms of Use or any Service Agreement applicable to you (as discussed below in these Terms of Use). </p>

<p><b>Please note that these Terms of Use limit SpyHop’s potential liability to you and may substantively affect your rights in other ways and contain an Agreement to Arbitrate, which will, with limited exception, require you to submit claims you have against us to binding and final arbitration unless you opt out of the Agreement to Arbitrate (see Disclaimer; Limitation of Liability and Agreement to Arbitrate provisions below). Unless you opt out: (I) you will only be permitted to pursue claims against us on an individual basis, not as a plaintiff or class member in any class or representative action or proceeding and (II) you will only be permitted to seek relief (including monetary, injunctive, and declaratory relief) on an individual basis.</b></p></ul>

<h4>About SpyHop</h4><ul>

<p>SpyHop offers an online and mobile service whereby third-party contributors (“<b>Contributors</b>”) of independently created video footage (“<b>Video Footage</b>”) can submit Video Footage and offer it for viewing by and license to third-party buyers (“<b>Buyers</b>,” and each, a “<b>Buyer</b>,” and together with Contributors and any other person or entity accessing or using the Site, collectively, “<b>Users</b>” and each, individually, a “<b>User</b>,” “<b>you</b>,” or “<b>your</b>”) in an online marketplace accessible through Site (the “<b>Marketplace</b>”).  Video Footage may be offered for license and licensed on the Marketplace in two ways: (i) Buyers can create and publish requests for specific Video Footage (“<b>Requests</b>,” and each, a “<b>Request</b>”), and Contributors can submit Video Footage in response to a Request, for possible license to Buyers, or (ii) Contributors can submit Video Footage to SpyHop independent of any Request(s), and SpyHop will make such Video Footage available as a searchable collection of Video Footage in the Marketplace for possible license to Buyers, subject to SpyHop’s review and determination that such Video Footage is appropriate and suitable for the Marketplace. Further information on how Users can register to the Marketplace, submit Video Footage, request Video Footage and license Footage can be found below. </p>
        <p>All Video Footage submitted by a Contributor shall be exclusive to the SpyHop platform and shall not be submitted, posted or displayed in any other website or media platform or licensed or sold to any other Person unless and until the VIDEO FOOTAGE is removed from the Marketplace by SpyHop or such Contributor and any licenses to use any such Video Footage have terminated.</p></ul>

<h4>General Terms of Use </h4><ul>

<p>You must be at least 18 years old to register to access or use the Site. By accessing or using the Site, you represent and warrant that you are over the age of 18 and have the requisite power and authority to enter into and accept the terms of these Terms of Use and the Privacy Policy.  You may not access or use the Site if we previously banned you from the Site or closed your account.  If you are using the Site on behalf of any other person or entity (each, a “<b>Person</b>”), (i) you must be duly authorized by such Person to act on their behalf and have the requisite power and authority to act on behalf of and legally bind such other Person; (ii) if such Person subsequently disputes such power or authority, you hereby agree to provide or execute and deliver such other documents and/or take such other actions required on your part to prove that you have (or had, at all relevant times) such requisite power and authority; and (iii) if such Person disputes such power or authority, you shall be liable and shall indemnify SpyHop and the other SpyHop Parties for such dispute and/or for any failure of such Person to comply with the terms of these Terms of Use and the Privacy Policy.  </p>
<p>We grant you permission to use the Site subject to the restrictions and other terms set forth in these Terms of Use.  Additionally, as between you and SpyHop, your use of the Site is at your own risk, including but not limited to any risk that you might be exposed to or the subject of Video Footage or other data or communication transmitted to or through or otherwise contained in the Site (“<b>Content</b>”) that may be considered offensive, inappropriate, inaccurate, distasteful, disagreeable, defamatory or otherwise objectionable, and you waive any claim that you may have against SpyHop, its affiliates, and their respective officers, directors, members, employees and agents, licensees and customers (collectively, the “<b>SpyHop Parties</b>,” and each, individually, a “<b>SpyHop Party</b>”) with regard to any Content submitted or transmitted to, through or in connection with the Site by any other User, and you agree and acknowledge that neither SpyHop nor any other SpyHop Party shall have any liability with regard to any slander, defamation, libel or similar claim that you may have that arises out of or in connection with any Content other than SpyHop Content.  Any dealings you have with any other User or other Person while using (or that otherwise arise out of or in connection with your use of) the Site are between you and such other Persons, and you agree that SpyHop is not liable for any loss or claim that you may have against any such other Persons.  </p>
<p>SpyHop may, in its sole discretion and at any time, (i) refuse to offer access to or use of the Site to any Person, (ii) remove any Content or any Person from accessing or using the Site (or any portion thereof) and/or (iii) change the eligibility criteria for the Site (or any portion thereof), in each case to the full extent permitted by all applicable local, state, national or international laws, statutes, ordinances, rules and regulations (“<b>Applicable Laws</b>”). </p>
<p>The Site may be modified, updated, suspended or discontinued at any time without notice or liability. </p>
<p>While SpyHop takes reasonable measures to ensure that access to and the operability of the Site is not interrupted for any reasons within SpyHop’s reasonable control and is accessible twenty-four (24) hours a day, seven days a week, SpyHop makes no guarantee that access to or use of the Site will be uninterrupted or error free, and SpyHop shall not be liable to any User or other Person for any delay, error, failure in performance or interruption of performance that affects access to or the operation of the Site. Additionally, we reserve the right, at our discretion, to at any time take any technological, maintenance or security measures that SpyHop determines to be necessary or otherwise desirable, and you acknowledge that you understand that those the taking of any such measure(s) by SpyHop may affect the accessibility to or performance of the Site. SpyHop will not be liable or otherwise responsible for any loss, damage or alteration of any Video Footage uploaded to the Marketplace.  </p>

</ul><h4>User Accounts</h4><ul>

<p>You must create a user account (“<b>Your Account</b>”) and provide certain information about yourself in order to use the Site, whether as a Contributor and/or Buyer.  You may also be able to register through an existing social media site like Facebook, for example. We handle all such information in accordance with the Privacy Policy [[INSERT LINK]].  You are responsible for maintaining the confidentiality of the password associated with Your Account.  You are solely and fully responsible and liable for any and all Video Footage (“<b>Your Video Footage</b>”) and/or other Content that you submit or transmit to, through or in connection with the Site (collectively, “<b>Your Content</b>”).  You are also fully responsible and liable for all Content submitted or transmitted to, through or in connection with the Site, and any conduct or transaction undertaken, by any Person using Your Account.  You agree to notify us immediately of any unauthorized use of Your Account.  We reserve the right to close Your Account at any time for any or no reason.  In such event, you agree to immediately (i) stop accessing and/or using the Site and all Content you obtained from the Site and (ii) delete all Content that you obtained from or in connection with your use of the Site and all copies thereof from all digital media and destroy all other copies, or, at SpyHop’s request, return all such copies to SpyHop, and (iii) pay any amounts owed to SpyHop (if any). </p>
</ul><h4>User Behavior</h4><ul>
                <p>You agree that while using the Site you will comply with the following rules (in addition to the other rules set forth elsewhere in these Terms of Use): </p>

<ul><li>You assume full responsibility for (i) any and all conduct and transactions you undertake while accessing or using the Site and/or is undertaken by any other Person(s) using Your Account, and (ii) all risk associated with any Video Footage or other Content you (or any other Person(s) using Your Account) submit to the Site or view, license or otherwise use or acquire rights to, through the Site.  </li><li>
You will not disobey or breach these Terms of Use, the Privacy Policy, or any other applicable instructions conveyed by SpyHop (whether via email, posted to the Site or otherwise).</li><li>
You will not violate any Applicable Laws in connection with your access of or use of the Site.</li><li>
You will not submit or transmit to, through or in connection with the Site: (i) any unlawful, harassing, libelous, privacy invading, abusive, threatening, defamatory, vulgar, racist, or otherwise harmful or objectionable Content of any kind (including, but not limited to, any Content that depicts nudity, sexual conduct or violence); (ii) any Content that infringes upon a third party right (including, but not limited to, any copyright, trademark, right of publicity or privacy, or any other intellectual property or similar rights, as well as rights associated with any recognizable name, voice, person, or image (collectively “<b>Third Party IP</b>”)); (iii) any advertisements or other promotional materials or information for yourself, your Content or your services, or for any other Person or such Person’s Content or services; (iv) any software viruses, Trojan horses, worms or any other malicious application or code; (v) any political or promotional opinions; or (vi) any Content which may constitute or encourage conduct that is fraudulent, a criminal offense or civil wrong or otherwise violates any Applicable Laws.  </li><li>
While accessing or using the Site, you will not impersonate any Person, make any false statement regarding any Person (including but not limited to, any Person’s employment, agency or affiliation with any other Person), or create false identities for any reason, including but not limited to circumvent SpyHop promotional programs or purchase your own Content. </li><li>
You will not create multiple accounts. </li><li>
You will not interfere with or disrupt SpyHop’s or any other User’s access to or use of the Site.</li><li>
You will not take any action that imposes (or may impose, as determined by us in our sole discretion) an unreasonable or disproportionately large load on our servers or other infrastructure underlying the Site, and you will not use the Site in any way that causes (or is likely to cause, as determined by us in our sole discretion) the Site or access to or use of it to be interrupted, damaged or impaired in any way.</li><li>
You will not “scrape” or otherwise use any data mining, robots, or similar data gathering or extraction methods (except as may be the result of standard search engine protocols or technologies used by a search engine with our express consent).</li><li>
You will not create or submit unwanted email, comments, likes or other forms of commercial or harassing communications (a/k/a “spam”) to any other Users.</li><li>
In the creation of an account to use the Site, Contributors and Buyers may post URLs in user profile information and Request details, but you must not use domain names or internet URLs in a SpyHop username without SpyHop’s prior express written consent.</li><li>
You will not reverse engineer, decompile, disassemble or otherwise attempt to discover the source code, object code or underlying structure, ideas, know-how or algorithm pertaining to the Site or any software, proprietary documentation or data related to the Site (collectively, “<b>Software</b>”). </li><li>
You will not modify or alter any part of the Site or any SpyHop Content, and you will not circumvent, disable or otherwise interfere with any security-related feature of the Site or any system resources, services or networks connected to or accessible through the Site.</li><li>
You will not attempt to gain access to the Site, User accounts, computer systems or networks connected to the Site through hacking, password mining or any other similar means. </li><li>
You will not sell, license or otherwise in any way exploit or commercialize the Site (or any part thereof), including any Software or SpyHop Content, without express written authorization from SpyHop, or any other Content (other than Video Footage that is the subject of a License or Buy-Out pursuant to these Terms of Use).</li><li>
You will not advertise products or services or solicit any other User, whether or not such advertising or solicitation is in the form of unrequested bulk commercial email. </li><li>
You will not collect or use of any Content or other information from the Site, including but not limited to any, listing, pricing or similar information associated with Requests, Video Footage or otherwise through the use of the Site, except (i) to view and evaluate for purchase of a License or Buy-Out pursuant to these Terms of Use or (ii) as otherwise permitted by these Terms of Use and the Privacy Policy.</li><li>
You will not download or copy any Content from the Site for the benefit of another merchant, website or other Person except as necessary to utilize rights to Video Footage for which you have purchased a License or Buy-Out pursuant to these Terms of Use.</li><li>
You will not use any meta tags or any other “hidden text” utilizing any of SpyHop’s names or trademarks without our express written consent.</li></ul>

<p>You further agree not to cause, encourage or permit any third party to do any of the foregoing on your behalf or in any way with your assistance or collaboration, including without limitation by providing other Persons with your username and password. </p>

</ul><h4>How Video Footage is Licensed Through the Site</h4><ul>

<p>Rights to Video Footage may be acquired as follows: </p>
<ul><li>
Through the Marketplace: As part of the Site, SpyHop offers the Marketplace, where Contributors may make Video Footage that they submit to the Site generally available for license to potential Buyers without responding to a specific Request (such Video Footage, “<b>Marketplace Footage</b>”).  Buyers can search through and view Marketplace Footage (without creating a Request) to determine whether they would like to purchase a License or Buy-Out for such Marketplace Video Footage pursuant to these Terms of Use.  </li><li>
Through Buyer Requests:  Buyers can create and publish Requests by following the instructions found here [[include link]].  Contributors may submit Video Footage in response to such Requests for possible license to Buyers, provided that Contributors may need to first reach a certain Contributor Level before they can respond to or submit Video Footage in response to a certain Request (see the [[include link to “Contributor Level System Terms” page]] for details).  Video Footage submitted in response to a specific Request may be subject to the Exclusive License option (which is described below, under the subheading “Unlimited Exclusive License”).</li><li>
    Through Third-Party Distributor Sites: SpyHop may also, in its discretion, make Video Footage submitted by Contributors available for licensing to Buyers (pursuant to the terms of these Terms of Use) through the website(s) or other media platform(s) used by one or more third-party distributors (if any) used by SpyHop from time to time (“Third Party Distributors”). </li></ul>
    
</ul><h4>Types of Licenses Can be Purchased by Buyers Through the Site</h4><ul>
<ul><li>Standard License: A Buyer who purchases a license (a “<b>Standard License</b>”) to Video Footage through the Site (other than an Exclusive License, as defined below) shall have, subject to the terms, conditions and limitations set forth in these Terms of Use, a non-exclusive, world-wide, royalty-free (except for any amounts payable pursuant these Terms of Use), non-exclusive, non-assignable, non-sublicesable, non-transferable right to (i) create, copy, modify, publicly display, publicize, transmit, broadcast, telecast, distribute or otherwise use [(in any known medium or any medium hereinafter devised)] any independently created works (whether created by you or for your or on your behalf, as permitted by the terms of these Terms of Use) that incorporate Video Footage for which you have purchased a license (“<b>Licensed Video Footage</b>”), whether directly from the Marketplace [[include link]] or through a Request that you submitted [[include link]], or (ii) permit your third party representatives and/or agents to do the foregoing on your behalf (provided that you will be responsible for ensuring that such third party representatives’ and/or agents’ broadcast, distribution or other use of any such Licensed Video Footage is at all times in accordance with the terms of these Terms of Use).  </li><li>
Unlimited Exclusive License:  A Buyer who has received Video Footage in response to a Request (or Requests) submitted by such Buyer may elect to purchase an exclusive license to such Video Footage (“<b>Exclusive License</b>”).  An Exclusive License lasts for a period of up to five (5) years (the “<b>Exclusive Period</b>”), during which time such Video Footage (“<b>Exclusively Licensed Video Footage</b>”) will not be offered to other Buyers on the Site or otherwise sold or licensed (or offer for sale or license) to any other Person through the Site.  Currently, an Exclusive License is only offered as an option in connection with specific Request(s).  Exclusivity terms may vary and will generally command higher prices than a Standard License. SpyHop will use commercially reasonable efforts to store any Exclusively Licensed Video Footage in SpyHop’s servers (or other servers used by SpyHop for purposes of operating the Site) during the Exclusive Period corresponding to such Video Footage, and to re-introduce such Video Footage into the Market Place after the expiration of such Exclusive Period.</li><li>
Purchase of all rights to Video Footage:  A Buyer who has received Video Footage in response to a Request (or Requests) submitted by such Buyer may also elect to purchase all rights (a “<b>Buy-Out</b>”) to such Video Footage (a “<b>Purchased Video Footage</b>”).  Purchased Video Footage will be considered “Work Made For Hire,” and as such, the Buyer who purchased all rights to such Purchased Video Footage shall be considered the owner of such Purchased Video Footage and shall have all right, title and interest in and to such Purchased Video Footage, including any copyright and Moral Rights and the right to sell, license, transfer or otherwise dispose of or use such Purchased Video Footage.  </li></ul>
<p>For purposes hereof, “<b>Moral Rights</b>” means any rights to claim authorship of a work, to object to or prevent any modification of a work, to withdraw from circulation or control the publication or distribution of a work, and any similar right, existing under judicial or statutory law of any country in the world, or under any treaty, regardless of whether or not such right is called or generally referred to as a “moral right.”  </p>
</ul><h4 id="terms_contributor_compensation">Contributor Compensation; Payment; Fees</h4><ul>

<p>For any Video Footage that is licensed through the Site or through Third Party Distributors (whether pursuant to a Standard License or an Exclusive License (each, a “<b>License</b>”)), or the subject of a Buy-Out, the relevant Buyer will pay the amount posted on the applicable Request or the license amount posted (in US Dollars) for such Video Footage in the Marketplace (“<b>License/Buy-Out Fees</b>”), and the relevant Contributor will pay a separate transaction fee (a “<b>Transaction Fees</b>”) to SpyHop for their use of the Site in connection with such License or Buy-Out transaction (a “<b>Transaction</b>”).  Each Contributor is responsible for the Transaction Fees payable in respect of any Video Footage of theirs that is the subject of a License or Buy-Out.  Transaction Fees and License/Buy-Out Fees vary between Buy-Outs and Licenses and can be reviewed on the SpyHop Payout Schedule [[include link]], which may change from time to time at SpyHop’s discretion.  Please note that payments corresponding to a given Transaction will be processed on the first (1st) day of the calendar month immediately after the date on which such Transaction takes place (the “<b>Payment Processing Date</b>”), provided that, for convenience purposes, SpyHop reserves the right to delay any payments to any User until the aggregate amount payable to such User by SpyHop is at least One Hundred United States Dollars ($100).  If the Payment Processing Date for any given Transaction falls on a weekend or US holiday, the relevant payment will instead be processed on the next business day after such weekend or US holiday.  Note that it currently averages up to fifteen (15) business days from the date a payment to a User is processed and the time that payment is actually received by such User.  Payments may not be released to a Contributor until all of the relevant License/Buy-Out Fees are collected from the Buyer, and at such time, the relevant payments to such Contributor earning will be processed.  Notwithstanding the foregoing, we may delay any payment to you until (i) we have received the information and documentation that we reasonably determine is needed to verify your identifying information and comply with legal requirements, and (ii) a minimum payment set by us, after deductions, is due.  </p>

<p>Each User must provide certain data and personal information about yourself (e.g., a valid government issued ID, your legal name, address and date of birth) and payment details (collectively, the “<b>Payment Data</b>”) in order to process payments through the Site, and each User hereby agrees to be bound by the applicable terms of use of available payment facilitators (“<b>Payment Facilitators</b>”) then used by SpyHop in connection with its operation of the Site, currently PayPal, Stripe, and Tipalti (though note that the Payment Facilitators may change from time to time in SpyHop’s sole discretion). Payment Facilitators have the right to store and disclose information concerning suspicious activity arising in your use of the Site or those of the Payment Facilitators.  Payment Facilitators may also communicate directly with you regarding any issues with a payment.  Any information provided by a Payment Facilitator will be confidential and only be used for intended purposes. </p><p>
SpyHop allows the choice of various payment options and links to Payment Facilitators on the Site as an accommodation to Users.  Although we believe that they are all reputable, the Payment Facilitators are not our agents or subcontractors and each User is solely responsible for researching and determining whether a particular Payment Facilitator and its services (“<b>Payment Processor Services</b>”) meet such User’s requirements and are otherwise acceptable. Each User and not us assume any and all risks related to the choice and usage of the Payment Facilitator and its (and its contractors’ and associated banks’ and credit card networks’ and payment gateway’s) services, acts and omissions. You further acknowledge and agree that we will not be directly or indirectly responsible or liable for any damage or loss caused by or in connection with use of or reliance on any content, events, goods or services available on or through any site, service or resource provided by any of the Payment Processor Services.  We shall have the right to consider the Payment Facilitator to be your duly authorized agent for receiving each payment due to you and we be deemed to have met our payment obligations to you by delivering such payment to the Payment Facilitator with instructions that it be paid to you, unless (and until) such payment is returned to us.  [By agreeing to these Terms of Use or continuing to participate as a Contributor or Buyer, you agree to be bound by the relevant Payment Facilitator’s terms of use or service agreement, as the same may be modified from time to time.][Third-party payment service providers to confirm.]  As a condition to SpyHop enabling the payment of Licensing Fees and/or Transaction Fees through the Payment Facilitators, you agree to provide SpyHop and the relevant Payment Facilitator(s) accurate and complete information about you (and your business, if applicable), and you authorize SpyHop to share such information and any information related to the corresponding Transaction and your use of the payment processing services provided by the relevant Payment Facilitator(s).  You agree that SpyHop shall have the right to make and receive all payments through the Payment Facilitators.  You authorize SpyHop and/or the relevant Payment Facilitator(s) to store your payment method (e.g. credit card), even after it has expired, to avoid interruptions in your use of the Site and to facilitate future payment. You can get information on your transactions through your account settings.  </p><p>

License/Buy-Out Fees are collected directly by SpyHop via the Payment Facilitators at the time the corresponding Transaction through the Marketplace or through Third Party Distributors occurs. Transaction Fees are automatically deposited into SpyHop’s account.  All sales are final and there is no cancellation once a license transaction has occurred.  License/Buy-Out Fees paid to Contributors for Video Footage is taxable income in most countries. Contributors who receive License/Buy-Out Fees shall be liable for ensuring that all payments of tax, and other payments are duly remitted in accordance with the applicable legislation of their country and region.  Notwithstanding anything else herein to the contrary, to the extent determined by us to be appropriate, payment of License/Buy-Out Fees will be net of: (i) taxes or other withholdings that we determine are required by applicable law; (ii) bad debts or other uncollectible sums; (iii) legal and other reasonable fees incurred in enforcing this Agreement; (iv) fees, charges and/or costs payable to or deducted by financial institutions for the processing of any credit card, debit card, e-check or alternative payment method and/or currency conversion for payments received by us or paid to you in a currency other than U.S. Dollars; (v) refunded payments for Video Footage; and (vi) any amounts owing by you to us under these Terms of Use or otherwise. Without limiting the generality of the foregoing, we are entitled to set-off against any amount owing to you, all amounts to which we are or may be entitled under this Agreement, any other agreement or otherwise at law, including withholding amounts as security for any pending or threatened claim relating to any matter which is the subject of a representation, warranty or indemnity under these Terms of Use.</p>
</ul><h4>Additional Contributor Terms</h4><ul>
</ul><h6>Terms of Contributor Level/Peer Review System<h6><ul>
      <p>We seek to empower top performing Contributors with helpful tools to help make their participation in the Marketplace more lucrative.  Accordingly, we have created the “<b>Contributor Level System</b>,” [[include link to “Contributor Level System Terms” page]] whereby Contributors who support the SpyHop community by participating in the Marketplace on a regular and on-going basis by reviewing Video Footage submitted by other Contributors (“<b>Peer Video Reviews</b>”) and who consistently submit high-quality Video Footage may achieve a higher “<b>Contributor Level</b>.”  Upon achieving a higher Contributor Level, Contributors will be rewarded with additional benefits which may help them achieve increased earning potential.  The terms of and other information regarding the Contributor Level System can be found here [[include link]].</p>
                </ul><h6>Submission of Video Footage </h6><ul>
<p>Once you have agreed to these Terms of Use and provided all information as required by us in connection with your use of the Site as a Contributor, you may upload or otherwise submit Video Footage to the Site in accordance with the terms and guidelines set forth in these Terms of Use.  By uploading Video Footage to the Site or otherwise submitting Video Footage and other Content to us, you are offering us rights to such Video Footage or other Content on the terms of these Terms of Use.  If we accept your offer by posting Your Video Footage to the Marketplace or posting other Content that you submit to us to the Site, we will without further action have the rights to the accepted Content set forth below, under the heading “Contributor License Grants and Appointment of SpyHop as Distributor and Dealer”, however, except in the case of a Buy-Out, you will retain legal ownership of Your Video Footage, and no copyright ownership or title will be transferred.   You may terminate our rights to Your Video Footage as provided below, under the heading “Termination by Contributor”.</p><p>
SpyHop, in its sole discretion, may review and exclude from the Site any Video Footage, whether submitted by a Contributor as part of a Request or directly to the Marketplace.  SpyHop may also limit or exclude a Video Footage from being submitted in response to a certain Request or for inclusion in the Marketplace independent of any Request based on the Contributor Level of the Contributor who submitted such Video Footage (see the [[include link to “Contributor Level System Terms” page]] for details). </p><p>
PLEASE BE AWARE THAT, IF VIDEO FOOTAGE OR OTHER CONTENT THAT YOU SUBMIT CONTAINS OR DEPICTS ANY THIRD PARTY IP, SUCH AS BACKGROUND TRADEMARK, TRADE DRESS, ART WORK OR BACKGROUND MUSIC, FOR EXAMPLE, THE OWNER OF THE RIGHTS TO SUCH THIRD PARTY IP MAY HAVE THE RIGHT TO CLAIM THAT USE OF SUCH VIDEO FOOTAGE OR OTHER CONTENT INFRINGES ON THE OWNER’S INTELLECTUAL PROPERTY RIGHTS.  </p><p>
                Contributors should not include their own watermarks or other attribution or identifying marks in Video Footage that they submit to the Site.  All Video Footage will be automatically watermarked by SpyHop to ensure the relevant Contributor’s copyright protection.  When a Buyer purchases a License or Buy-Out to Video Footage pursuant to these Terms of Use, the watermark included by SpyHop in such Video Footage is removed.  If any Contributor submits Video Footage with a watermark, there may be technical or attribution issues with that Video Footage and opportunities for licensing that Video Footage through the Site may be substantially diminished.</p>
</ul><h6>Contributor License Grants and Appointment of SpyHop as Distributor and Dealer</h6><ul>

<p>You, in your capacity as a Contributor, hereby:</p><ul><li>

acknowledge and agree that any Video Footage and/or other Content you submit to the Site, that you allow others to submit to the Site or that is otherwise submitted to the Site using Your Account, will be subject to the terms of these Terms of Use and may be the subject of a License or a Buy-Out pursuant to the terms of these Terms of Use; </li><li>
grant to SpyHop a world-wide, perpetual, exclusive, royalty-free, assignable, sublicensable, transferable rights to use Your Content (including but not limited to Your Video Footage), in any format or through any distribution channels, in connection with our operation of the Site, by publicly displaying it in the Marketplace and other parts of the Site, granting access to it to other Users for viewing in the Marketplace, reformatting it, incorporating it into advertisements and promotional materials related to the Site, promoting it and distributing it or redistributing it through any of our Third Party Distributors for licensing under the terms of these Terms of Use;</li><li>
acknowledge and agree that we will have the right, but not the obligation, to edit, resize, resample, convert, color correct, crop or otherwise composite any of Your Content, including Your Video Footage, to correct what we determine in our sole discretion to be an error, misleading statement, malfunction or omission or for purposes of facilitating the marketing, distributing, sale and licensing of Your Video Footage; provided however that any screening, review, correction and/or editing of any of Your Content performed by us is done as a courtesy only, and we will have no liability whatsoever therefor or for any failure to perform the same;</li><li>
grant to other Users, the right to access and view Your Content in connection with their use of the Site, subject to the terms, conditions and limitations set forth in these Terms of Use;</li><li>
grant to each Buyer, for a period of thirty (30) days, a world-wide, non-exclusive, non-sublicesable, non-transferable, royalty-free limited right (the “<b>Buyer Limited License</b>”) to download and store Video Footage that you make available in the Marketplace or submit to a Buyer in connection with such Buyer’s Request(s) as a protected and watermarked file, in a personal computer or closed digital library, network configuration or similar arrangement or as test, sample, comp or rough cut evaluation material, for the sole purpose of allowing such Video Footage to be viewed by employees, agents, partners and clients of Buyer (“<b>Internal Buyer Users</b>”) in a non-commercial manner for such Buyer’s individual evaluation purposes or sample use only (including layouts), provided that there shall be no more than five (5) Internal Buyer Users accessing such Video Footage at one time;</li><li>
appoint SpyHop as the exclusive distributor of Your Video Footage (whether through the Site or through Third Party Distributors), and grant SpyHop the worldwide exclusive right (but we assume no obligations whatsoever) to directly or indirectly through Requests, the Marketplace or through Third Party Distributors, promote, distribute, sell and/or grant licenses to Your Video Footage (as set forth in and pursuant to these Terms of Use), and to collect and remit fees in connection with those efforts on the terms set forth in these Terms of Use;</li><li>
with respect to any of Your Video Footage that becomes subject to a License or a Buy-Out, hereby waive (or have obtained a valid and enforceable waiver of) any Moral Rights related to such Video Footage (including but not limited to the right to be identified as the author of Your Video Footage and the right to object to the modification of any of Your Video Footage), and you agree never to assert any Moral Rights with respect to such Video Footage, in each case to the extent necessary to allow the use, copying or enjoyment of such Video Footage in connection with a License or Buy-Out in the manner contemplated by these Terms of Use; and </li><li>
acknowledge and agree that we have no responsibility whatsoever for the compliance by any Buyer or any other User or other Person with the terms of these Terms of Use, and that, notwithstanding any rights you may have to pursue any such Person at law, we shall have no liability to you or any other Person for any breach or other act or omission by or of any Buyer or other User or other Person of these Terms of Use. </li></ul>

</ul><h6>Termination of Licenses by Contributors</h6><ul>
                <p>All licenses to Content granted by a Contributor to SpyHop according to the above shall automatically terminate when the Contributor or SpyHop, as the case may be, removes or deletes the Content from the Site (such Content, “<b>Removed Content</b>”), provided that any such termination or removal of Removed Content from the Site shall not affect any previously granted licenses to Buyers, other Users and/or SpyHop with regard to such Removed Content. More information regarding management of Your Content and your profile can be found <a href="#">here</a>.  </p>
</ul><h6>Additional Contributor Acknowledgements, Agreements, Representations & Warranties</h6><ul>

<p>In addition to any and all other agreements, acknowledgements, representations and warranties that you make in these Terms of Use, you hereby represent, warrant, acknowledge and agree as follows, as of the date you accept and agree to these Terms of Use:</p><ul></li>

You acknowledge and agree that, except as set forth in these Terms of Use, you retain all ownership in Your Content. </li><li>
You represent and warrant that (i) Your Video Footage represents original creations and expressions of subject matter, (ii) you are the sole and exclusive owner of Your Video Footage and have the full legal right, power and authority to grant or transfer all of the rights to Your Video Footage granted and transferred to us under these Terms of Use, and (iii) you have not granted any rights or licenses to any of Your Video Footage or other Content, or entered into any other agreement or commitment, that would reasonably be expected to conflict with the rights granted by you to SpyHop and any Buyer (or any other obligation binding upon you) set out in these Terms of Use.</li><li>
You hereby acknowledge that you may expose yourself to liability if, for example, Your Content contains material that (i) violates any third-party rights, such as privacy rights, rights of publicity, trademark, copyright or any other intellectual property or property right; (ii) is unlawful, including material that is defamatory, harassing, libelous or privacy invading; (iii) exploits or otherwise harms minors; or (iv) violates or advocates the violation of any Applicable Laws.</li><li>
You agree that you may not state or imply that Your Content is in any way sponsored or endorsed by SpyHop.</li><li>
You represent that all information provided to us by you or under your SpyHop membership or user ID, including all tags, annotations and other information relating to Your Content you provide to us at the time of upload of Your Content to the Site, and/or Releases obtained in connection therewith (collectively, “<b>Content Information</b>”), is accurate and complete, and you agree to update such information as is necessary for such information to continue to be accurate and complete.</li><li>
You are accessing the Site and uploading or otherwise submitting Content to us under your own SpyHop user ID, or you are a duly authorized representative of the Person to whom such SpyHop user ID corresponds.</li><li>
No portion of Your Content contains any disabling mechanism or protection feature designed to prevent its use, copying or enjoyment in the manner contemplated in the Agreements, and all of Your Content will be free of any virus, worm, lock, or other mechanism or device that may be used to modify, delete, damage or disable the Site or any other hardware or computer system or Software, or which would otherwise render inaccessible or impair the use of any of the same in any way.</li><li>
You have used all reasonable efforts to provide all Content Information necessary to enable the effective marketing of Your Video Footage on the Site, which Content Information is accurate, complete and not misleading in all material respects and does not include any false, misleading or inapplicable metadata intended to or which has the effect of keyword “doping” or improperly altering search results that would otherwise be applicable to such Content, and to the extent that after submission of the Content you learn of anything to the contrary you will promptly update the Content Information provided to us.</li><li>
If Your Content contains or depicts any Third Party IP, (i) you have obtained, and have and will retain in your possession, and have included with your submission of Your Video Footage to the Site, all Releases as may be required to ensure that neither your submission of such Video Footage to the Site nor its use, copying or enjoyment in the manner contemplated in the Agreements infringes upon any Third Party IP or requires any license from or payments to any Person except for the License/Buy-Out Fees payable to you, as described above in these Terms of Use, (ii) such release or releases are in the form and substance of the form model release or property release, as applicable, maintained by us on the Site or substantially conform to the same, (iii) if a model release, the same was signed by the person whose name, voice, person or image was depicted and if the person was under the age of 18, the parent or legal guardian of such person, and (iv) if a property release, to the best of your knowledge, the same was signed by the person or person who owns or own the Third Party IP.</li><li>
None of Your Content has been obtained, created or submitted to us in violation of any Applicable Law.</li><li>
None of Your Content is subject to any terms or condition that might be breached by such Content being used or distributed as contemplated under any of the Agreements.</li><li>
If after you submit Your Content to us, you receive any notice or otherwise learn in any way that any of the representations made by you in above were not accurate, complete and not misleading in all material respects or no longer are accurate, complete and not misleading in all material respects or of any claim by a third party to the effect of the foregoing, you will promptly provide us with written notice all relevant facts regarding the same and if appropriate, remove the Content from the Site.</li><li>
You acknowledge that SpyHop has policies and processes which must be adhered to prior to Content being posted on the Site or otherwise being offered for sale or license through the use or in connection with the Site.  You further acknowledge and agree that, notwithstanding that some qualitative standards are required to be met, SpyHop does not and cannot review all Video Footage, Content Information and/or other Content uploaded to the Site and is not responsible for the content, quality, or consequences of your uploading such Video Footage, Content Information and/or other Content, and SpyHop reserves the right to delete, move, refuse to accept or edit any Content that it may determine, in its sole discretion, violates or may violate the terms of the SpyHop Terms of Use, any Third Party IP, any of the policies of any other Person or is otherwise unacceptable, in SpyHop’s sole discretion, and you hereby agree to forfeit any fees payable in respect of such Content to SpyHop or as it may direct.</li><li>
You acknowledge that SpyHop shall have the right but not the obligation to correct any errors or omissions in any Content Information or other Content, as it may determine in its sole discretion. You acknowledge that any screening of Video Footage or related Content Information performed by SpyHop and/or other Contributors or Buyers to determine whether such Video Footage or Content Information is uploaded to the Site is done as a courtesy only.</li><li>
     Lastly, you acknowledge and agree that SpyHop cannot take responsibility for the compliance by Buyers of the terms of pursuant to which they license Your Video Footage through the Site. Accordingly, you acknowledge and agree to the possibility of Your Video Footage and other Content being used in a manner that is not contemplated by the SpyHop Terms of Use, and you agree that notwithstanding any rights you may have to pursue any claims against any Buyer, SpyHop shall have no liability to you or any other Person for any breach by a Buyer of the terms of any agreement respecting Your Video Footage or other Content.</li></ul>

</ul><h4>Additional Buyer Terms</h4><ul>

        </ul><h6>Buyer License Grants and Other Buyer Agreements</h6><ul>

<p>You, in your capacity as a Buyer, hereby:</p><ul><li>

acknowledge and agree that any Request(s) and/or other Content you submit to the Site, or that you allow others to submit to the Site, will be subject to the terms of these Terms of Use; </li><li>
grant to SpyHop a world-wide, perpetual, exclusive, royalty-free, assignable, sublicensable, transferable rights to use Your Content (including but not limited to any Request(s) that you submit to the Site), in any format or through any distribution channels, in connection with our operation of the Site, by publicly displaying it in the Marketplace and other parts of the Site, granting access to it to other Users for viewing in the Site, reformatting it, incorporating it into advertisements and promotional materials related to the Site;</li><li>
grant to other Users, the right to access and view Your Content (including but not limited to any Request(s) that you submit to the Site) in connection with their use of the Site;</li><li>
agree and acknowledge that you will comply (and cause your agents and/or representatives, including but not limited to your officers, employees, consultants and other service providers to comply) with any and all terms, conditions and limitations (as set forth in these Terms of Use) applicable to any Standard License, Exclusive License, Buy-Out and/or Buyer Limited License that you acquire through the Site; and</li><li>
acknowledge and agree that we have no responsibility whatsoever for the compliance by any Contributor or any other User or other Person with the terms of these Terms of Use, and that, notwithstanding any rights you may have to pursue any such Person at law, we shall have no liability to you or any other Person for any breach or other act or omission by or of any Contributor or other User or other Person of these Terms of Use. </li></ul>


</ul><h6>Content Containing Likenesses of Persons, Other Copyrighted Works, Trademarks or Other Third Party IP</h6><ul>

<p>Many jurisdictions provide legal protection against a person’s name, image, voice, likeness, trademarks or property being used for commercial purposes without their consent. Pursuant to these Terms of Use, SpyHop requires that Contributors obtain all model releases and property releases (“<b>Releases</b>”) as may be required to ensure that neither Contributors’ submission of such Video Footage to the Site nor its use, copying or enjoyment in the manner contemplated in these Terms of Use infringes upon any Third Party IP or requires any license from or payments to any Person (except for the fees and other amounts payable with respect thereto under these Terms of Use), and to the extent such model releases and property releases have been obtained and are and continue to be valid and binding, Buyers who acquire licenses and other rights to such Video Footage through the Site are entitled to the benefit of the same.  Nevertheless, you hereby acknowledge and agree as follows:</p><ul><li>
You may not use any Video Footage or other Content featuring a person in a manner that would lead a reasonable person to believe that the person personally uses or endorses a product or service, or if the depiction of the person would be unflattering or unduly controversial to a reasonable person, without accompanying each such use with a disclaimer indicating that the person is a model and their likeness is being used for illustrative purposes only.</li><li>
You acknowledge and agree that, except in the case of a Buy-Out, no license or other rights granted or acquired under these Terms of Use or otherwise in connection with your use of the Site includes rights to any Third Party IP.</li><li>
You acknowledge and agree that, while we endeavor to identify on the Website the Content that contains Third Party IP or otherwise depicts personally identifiable information but is not accompanied by the necessary associated model or property releases (“<b>Editorial Content</b>”) as “editorial content” or for editorial use only, we assume no responsibility whatsoever, and you are solely responsible, for (i) reviewing and, if necessary, confirming the Releases provided by the Contributors and other Content Information, (ii) determining whether or not any Content is or is not Editorial Content, (iii) determining whether any additional clearance(s) or release(s) is required in connection with any proposed use of the Video Footage or other Content, (iv) obtaining any additional releases and/or clearances that are legally required with regard to any Third Party IP.</li></ul>

</ul><h6>Additional Buyer Acknowledgements, Agreements, Representations & Warranties</h6><ul>

<p>You hereby represent, warrant, acknowledge and agree as follows, as of the date you accept and agree to the terms of these Terms of Use:</p><ul><li>
You represent that, if you are an individual, you are of sufficient legal age to grant the rights and to create binding legal obligations set out in the Agreements.</li><li>
Except as expressly granted in these Terms of Use (e.g., in the case of a Buy-Out of Purchased Video Footage by you), Contributors will retain all right, title and interests to any and all copyrights, trademarks and other proprietary and intellectual property rights in their Video Footage and other Content.</li><li>
Except as expressly provided in these Terms of Use, you may not use, modify, resell, sublicense, assign, transfer, otherwise make available to any Person any Content (including but not limited to Video Footage).</li><li>
[Except in the case of a Buy-Out of Purchased Video Footage by you, you may not sell, or sell or otherwise grant or issue (or promise to sell, grant or issue) any license, sublicense or other rights to or with respect to, any Video Footage or any works created by you (or for you or on your behalf) that incorporate Video Footage for which you have purchased a license pursuant to these Terms of Use (“<b>Buyer’s Work Product</b>”).]</li><li>      
You agree that you may not state or imply that your Buyer’s Work Product is in any way sponsored or endorsed by SpyHop, and you acknowledge and agree that SpyHop shall not be responsible and shall have no liability with respect to your Buyer’s Work Product. </li><li>
You represent and warrant that you will not use any Video Footage or other Content or your Buyer’s Work Product in any manner that under Applicable Law (i) is unlawful, harassing, libelous, privacy invading, abusive, threatening, defamatory, vulgar, racist, or otherwise harmful or objectionable in any way (including but not limited to any Buyer’s Work Product that depicts nudity, sexual conduct or violence), (ii) in any way infringes upon any Person’s rights (including, but not limited to, any copyright, trademark, right of publicity or privacy, or any other intellectual property or similar rights). </li><li>
You represent that all information provided to us by you or under your SpyHop membership or user ID, along with any other information that you provide to use in connection with Your Account and your access and use of the Site, is accurate and complete, and you agree to update such information as is necessary for such information to continue to be accurate and complete.</li><li>
You are accessing the Site and uploading or otherwise submitting Content to us under your own SpyHop user ID, or you are a duly authorized representative of the Person to whom such SpyHop user ID corresponds.</li><li>
No portion of Your Content contains any disabling mechanism or protection feature designed to prevent its use, copying or enjoyment in the manner contemplated in the Agreements, and all of Your Content will be free of any virus, worm, lock, or other mechanism or device that may be used to modify, delete, damage or disable the Site or any other hardware or computer system or software, or which would otherwise render inaccessible or impair the use of any of the same in any way.</li><li>
None of Your Content is subject to any terms or condition that might be breached by such Content being used or distributed as contemplated under any of the Agreements.</li><li>
If after you submit Your Content to us, you receive any notice or otherwise learn in any way that any of the representations made by you in above were not accurate, complete and not misleading in all material respects or no longer are accurate, complete and not misleading in all material respects or of any claim by a third party to the effect of the foregoing, you will promptly provide us with written notice all relevant facts regarding the same and if appropriate, remove the Content from the Site.</li><li>
You acknowledge and agree that, notwithstanding that some qualitative standards are required to be met by SpyHop and that SpyHop has policies and processes which must be adhered to prior to Content being posted on the Site or otherwise being offered for sale or license through the use or in connection with the Site, SpyHop does not and cannot review all Video Footage, Content Information and/or other Content uploaded to the Site and is not responsible for the content, quality or consequences of your viewing or using any Video Footage or other Content.</li><li>
You acknowledge that SpyHop shall have the right but not the obligation to correct any errors or omissions in any Content Information or other Content, as it may determine in its sole discretion. You acknowledge that any screening of Video Footage or related Content Information performed by SpyHop and/or other Users to determine whether such Video Footage or Content Information is uploaded to the Site is done as a courtesy only. </li></ul>

</ul><h4>Ownership of the Site by SpyHop</h4><ul>
<p>Content and Software that SpyHop posts to or otherwise makes available through or in or in connection with the Site (“<b>SpyHop Content</b>”) is owned by SpyHop.  Except as expressly and unambiguously provided herein, (i) all SpyHop Content, and the selection and arrangement thereof is owned by SpyHop, its licensors, or its third-party image partners, as applicable; (ii) all elements of the Site, including but not SpyHop Content, are protected by all applicable copyright, trade dress, moral rights, trademark and other laws relating to the protection of intellectual property; and (iii) we do not grant you any express or implied rights, and all rights and to the Site (including all SpyHop Content contained therein) are retained by SpyHop.  </p>
</ul><h4>Employment and Withholding</h4><ul>
<p>SpyHop does not employ Users in any way. As such, SpyHop will not be liable for any tax or withholding, including but not limited to unemployment insurance, employer’s liability, social security or payroll withholding tax in connection with Your use of the Site or any transactions in connection therewith. You understand and agree that if SpyHop is found to be liable for any tax or withholding tax in connection with Your use of the Site, then you will immediately reimburse and pay to SpyHop an equivalent amount, including any interest or penalties thereon.</p>
</ul><h4>User Indemnification</h4><ul>
<p>Each User (whether a Buyer or Contributor, or both) hereby agrees to defend, indemnify and hold harmless the SpyHop Parties and other Users  from and against any and all claims, damages, obligations, losses, liabilities, costs and expenses (including but not limited to reasonable attorney’s fees) arising from (i) such User’s use of the Site, (ii) any failure by such User to comply with or breach of any applicable term or other provision set forth in these Terms of Use, (iii) failure of any representation, warranty, agreement or covenant made by such User in these Terms of Use to be true and correct in all respects, and (iv) such User’s use of Video Footage or other Content in violation of these Terms of Use, including but not limited to any violation of any Third Party IP or other third party rights.  The defense and indemnification obligations set forth herein will survive these Terms of Use and such User’s use of the Site and/or any Content.</p>
</ul><h4>Disclaimer; Limitation of Liability</h4><ul>
<p>THE SITE IS PROVIDED “AS IS” AND “AS AVAILABLE” AND IS WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES IMPLIED BY ANY COURSE OF PERFORMANCE OR USAGE OF TRADE, ALL OF WHICH ARE EXPRESSLY DISCLAIMED. NEITHER SPYHOP NOR ANY OF THE OTHER SPYHOP PARTIES GUARANTEES OR WARRANTS THAT: (i) THE SITE WILL BE SECURE OR AVAILABLE AT ANY PARTICULAR TIME OR LOCATION; (ii) FREE OF ANY DEFECTS OR ERRORS, OR THAT ANY DEFECTS OR ERRORS WILL BE CORRECTED; (iii) ANY SPYHOP CONTENT IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; OR (iv) THE RESULTS OF USING THE SITE WILL MEET YOUR REQUIREMENTS. YOUR USE OF THE SITE IS SOLELY AT YOUR OWN RISK. SOME STATES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.</p><p>
IN NO EVENT SHALL SPYHOP OR ANY OF THE OTHER SPYHOP PARTIES, OR ANY USER, BE LIABLE UNDER CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE OR ANY OTHER LEGAL OR EQUITABLE THEORY WITH RESPECT TO THE SITE (i) FOR ANY LOST PROFITS, DATA LOSS, COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER, SUBSTITUTE GOODS OR SERVICES (HOWEVER ARISING), OR (ii) FOR ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE (REGARDLESS OF THE SOURCE OF ORIGINATION), SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU.</p>
</ul><h4>Agreement to Arbitrate</h4><ul>
<p>YOU AGREE THAT DISPUTES BETWEEN YOU AND SPYHOP OR ANY OTHER SPYHOP PARTY WILL BE RESOLVED BY BINDING, INDIVIDUAL ARBITRATION AND YOU HEREBY WAIVE YOUR RIGHT TO PARTICIPATE IN A CLASS ACTION OR OTHER LAWSUIT OR IN ANY CLASSWIDE OR OTHER ARBITRATION OR OTHER DISPUTE RESOLUTION MECHANISM OR PROCEEDING (EXCEPT AS SET FORTH BELOW IN THESE TERMS OF USE). FOR FURTHER INFORMATION.</p><p>
Any claim, dispute, or controversy (excluding claims for injunctive or other equitable relief) arising out of or in connection with or relating to these Terms of Use shall be resolved by binding arbitration by the American Arbitration Association (“<b>AAA</b>”) under the Commercial Arbitration Rules and Supplementary Procedures for Consumer Related Disputes then in effect for the AAA, except as provided herein. The award rendered by the arbitrator shall include costs of arbitration, reasonable attorneys' fees and reasonable costs for expert and other witnesses, and any judgment on the award rendered by the arbitrator may be entered in any court of competent jurisdiction. Nothing in this Section shall prevent either party from seeking injunctive or other equitable relief from the courts for matters related to data security, intellectual property or unauthorized access to the Site. ALL CLAIMS MUST BE BROUGHT IN THE PARTIES' INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING, AND, UNLESS WE AGREE OTHERWISE, THE ARBITRATOR MAY NOT CONSOLIDATE MORE THAN ONE PERSON’S CLAIMS. YOU AGREE THAT, BY ENTERING INTO THESE TERMS, YOU AND SPYHOP ARE EACH WAIVING THE RIGHT TO A TRIAL BY JURY OR TO PARTICIPATE IN A CLASS ACTION.</p>
</ul><h4>Governing Law; Venue</h4><ul><p>
These Terms of Use are governed by and construed in accordance with the laws of the State of California, without giving effect to any principles of conflicts of law AND WILL SPECIFICALLY NOT BE GOVERNED BY THE UNITED NATIONS CONVENTIONS ON CONTRACTS FOR THE INTERNATIONAL SALE OF GOODS, IF OTHERWISE APPLICABLE. For any action at law or in equity relating to the arbitration provision of these Terms of Use, you agree to resolve any dispute you have with SpyHop exclusively in a state or federal court located in Santa Clara, California, and to submit to the personal jurisdiction of the courts located in Santa Clara County for the purpose of litigating all such disputes.</p><p>
If any provision of these Terms of Use is held to be unlawful, void, or for any reason unenforceable during arbitration or by a court of competent jurisdiction, then that provision will be deemed severable from these Terms of Use and will not affect the validity and enforceability of any remaining provisions.  SpyHop’s failure to insist upon or enforce strict performance of any provision of these Terms will not be construed as a waiver of any provision or right. No waiver of any of these Terms will be deemed a further or continuing waiver of such term or condition or any other term or condition. SpyHop reserves the right to change this dispute resolution provision, but any such changes will not apply to disputes arising before the effective date of the amendment. This dispute resolution provision will survive the termination of any or all of your transactions with SpyHop.</p>
</ul><h4>Copyright Notice</h4><ul><p>
        SpyHop respects the intellectual property rights of others, and we ask that all Users to do the same.  SpyHop may, in appropriate circumstances and in its sole discretion, terminate the account or access of users who infringe the intellectual property rights of others.  If you believe that your work has been copied in a way that constitutes copyright infringement, please <a href="#">contact us</a> and provide us with the following information:</p><ul><li>

an electronic or physical signature of the Person authorized to act on behalf of the owner of the copyright interest; </li><li>
a description of the copyrighted work that you claim has been infringed including the URL (web page address) of the location where the copyrighted work exists or a copy of the copyrighted work;</li><li>
a description of where the material that you claim is infringing is located on the site, including the URL;</li><li>
your address, telephone number, and email address;</li><li>
a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, it’s agent or the law; and </li><li>
a signed and notarized statement by you stating that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner’s behalf.</li></ul>

<p>We will process and investigate notices of alleged infringement and will take appropriate actions under the Digital Millennium Copyright Act (the “<b>DMCA</b>”) and other applicable intellectual property laws with respect to any alleged or actual infringement.  Please note that you could be subject to liability for damages, court costs and attorneys’ fees under Applicable Laws if you knowingly make a false claim of infringement.</p>

</ul><h4>Third-Party Links, Sites, and Services</h4><ul>
<p>The Site may contain links to third-party websites, advertisers, services, special offers, or other events or activities that are not owned or controlled by SpyHop. We do not endorse or assume any responsibility for any such third-party sites, information, materials, products, or services. If you access any third party website, service, or content from SpyHop, you do so at your own risk and you agree that SpyHop will have no liability arising from your use of or access to any third-party website, service, or content.</p>
</ul><h4>Entire Agreement; Conflicts Between Agreements</h4><ul>
<p>These Terms of Use constitute the entire agreement between you and SpyHop concerning the Site and supersede all prior or contemporaneous communications and proposals (whether oral, written or electronic) between you and SpyHop.</p>
</ul><h4>Interpretation</h4><ul>
<p>Unless the context requires otherwise, in any part of these Terms of Use: (a) “including” (and any of its derivative forms, e.g. “includes”), “e.g.” and “for example” means “including but not limited to”; (b) "must not", “should not”, “shall not” and “may not” are expressions of prohibition, and “will”, "must", “should” and “shall” are expressions of command, and not merely expressions of future intent or expectation; (c) use of the singular imports the plural and vice versa; (d) references to one or no gender include the other or no gender; (e) references to the terms “herein” or “hereto” refer to these Terms of Use (including any terms incorporated by reference herein); (f) the headings in these Terms of Use are for ease of reference only and shall not affect its interpretation; and (g) when calculating the time period before which, within which or following which any act is to be done or step taken pursuant to these Terms of Use, the date that is the reference date in calculating such period shall be excluded and the time period shall be deemed to end at 11:59 PM Pacific Time (US) on the applicable date.</p>
</ul><h4>Consent to Electronic Communication</h4><ul>
<p>By inputting any information on the Website, you are consenting to receive communications from us electronically and you agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.</p>
</ul><h4>Notice to California Residents</h4><ul>
<p>Under California Civil Code Section 1789.3, California residents are entitled to the following specific consumer rights information:</p><p>
The provider of the website is SpyHop, Inc.</p>

1525 Miramonte Ave, #3788
Los Altos, CA 94024

<p>To file a complaint or to receive further information regarding use of the Site, send a letter to the above address or contact SpyHop via e-mail at support@spyhop.co. </p>
</ul><h4>Changes to the Agreements</h4><ul>
<p>SpyHop may, in its sole discretion, modify these Terms of Use from time to time. Any such updated terms (“<b>Updated Terms</b>”) shall become effective as of the date they are posted to the Site, and you understand and agree that your continued access to or use of the Site, whether as a Contributor, Buyer or otherwise, after any Updated Terms become effective is governed by such Updated Terms.  If we make material modifications to these Terms of Use, we will notify you by email or by posting a notice on the Site prior to the corresponding Updated Terms becoming effective. You should revisit these Terms of Use on a regular basis as any Updated Terms will binding on you to the extent you access or use the Site after such Updated Terms become effective.  If you object to any Updated Terms, your sole recourse is to discontinue your access or use of the Site.  </p>
</ul><h4>Miscellaneous Provisions</h4><ul>
<p>The parties to these Terms of Use are independent contractors, and nothing in these Terms of Use or the guidelines, policies, restrictions and agreements on the Site will create (or be deemed to create) a joint venture, partnership, employment relationship, or franchise or fiduciary relationship between the parties.</p><p>
No waiver of any default under these Terms of Use will apply to any subsequent default, whether of a similar nature or not, nor will any such waiver be construed as a waiver of any other provision of these Terms of Use.</p><p>
If any provision, or portion thereof, of these Terms of Use, or its application to any person or circumstance, shall be invalid, illegal or unenforceable to any extent, the remainder of these Terms of Use, such provision and their application shall not be affected thereby, but shall be interpreted without such unenforceable provision or portion thereof so as to give effect, insofar as is possible, to the original intent of the parties, and shall otherwise be enforceable to the fullest extent permitted by law.</p><p>
The SpyHop Parties are intended third party beneficiaries of these Terms of Use. Nothing in these Terms of Use or the guidelines, policies on the Site, express or implied, is intended to or shall confer upon any third person or entity other than the SpyHop Parties any rights, benefits or remedies of any nature whatsoever. Without limiting the generality of the foregoing, no provision herein shall be for the benefit of or enforceable by any creditor of any party hereto.</p><p>
If you breach any provision of these Terms of Use and we take no action, we will still be entitled to use our rights and remedies in any other situation where you breach these Terms of Use.</p><p>
Your obligations and our rights and remedies set out in these Terms of Use are cumulative and are in addition to your obligations and our rights and remedies at law or in equity.</p><p>
SpyHop may assign these Terms of Use without your consent to any other party so long as such party agrees to be bound by its terms.</p><p>
     These Terms of Use are in addition to the policies, guidelines and restrictions contained on the Site (which are all incorporated by this reference into these Terms of Use).</p></ul>
           
            </div>
        
        </div>
     </div></div></section>